.infoContainerProfile {
        display: inline-flex;
        align-items: flex-start;
        gap: 32px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 90px;

        .avatarAndAchievements {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                .avatar {
                        position: relative;
                        display: flex;
                        width: 94px;
                        height: 94px;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        .photo {
                                border-radius: 24px;
                                border: 4px solid var(--supporting-white);
                                box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);
                        }

                        .verified {
                                position: absolute;
                                transform: translate(-50%, -50%);
                                left: calc(100% - 10px);
                                top: calc(100% - 10px);
                        }
                }

                .achievements {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px 12px;
                        width: 84px;
                }
        }

        .titleAndGeoAndDescription {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .nameGeoDescription {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;

                        .nameAndGeo {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 6px;

                                h2 {
                                        color: var(--gray-900);
                                        font-size: 30px;
                                        font-weight: 600;
                                        line-height: 38px;
                                        letter-spacing: -0.5px;
                                }

                                .geo {
                                        display: flex;
                                        align-items: center;
                                        gap: 4px;

                                        p {
                                                color: var(--gray-500);
                                                font-size: 16px;
                                                font-weight: 500;
                                                line-height: 24px;
                                                letter-spacing: -0.5px;
                                        }
                                }
                        }

                        .description {
                                color: var(--gray-500);
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: -0.5px;
                        }
                }

                .buttons {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                }
        }
}

//ItemsBadges

.itemsBadges {
        width: 100%;
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
        padding-top: 36px;
        padding-left: 40px;
        padding-right: 40px;
}

//SectionSegments

.sectionSegments {
        padding-top: 32px;
        padding-left: 40px;
        padding-right: 40px;
}

//ContainerReviews

.containerReviews {
        margin-top: 34px;
        width: 100%;
        padding: 0px 40px 24px;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        list-style: none;
        height: calc(100vh - 520px);
        z-index: 20;


        &::-webkit-scrollbar {
                display: none;
        }
}

//Container Offers ans Requests

.containerRequestsAndProposals {
        width: 100%;
        height: calc(100vh - 466px);
        display: flex;
        justify-content: center;
        padding: 34px 0;

        ul {
                height: 100%;
                overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                        display: none;
                }

                list-style: none;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px 20px;
                padding-bottom: 24px;
        }
}