@mixin glassShadow {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 300px;
        filter: blur(80px);
        transform: translate(-50%, -50%);
        z-index: -1;
}

.infoContainerProfile {
        display: inline-flex;
        align-items: flex-start;
        gap: 32px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 90px;

        .avatarAndAchievements {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                .avatar {
                        position: relative;
                        display: flex;
                        width: 94px;
                        height: 94px;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        .photo {
                                border-radius: 24px;
                                border: 4px solid var(--supporting-white);
                                box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);
                        }

                        .verified {
                                position: absolute;
                                transform: translate(-50%, -50%);
                                left: calc(100% - 10px);
                                top: calc(100% - 10px);
                        }
                }

                .achievements {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px 12px;
                        width: 84px;
                }
        }

        .titleAndGeoAndDescription {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .nameGeoDescription {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;

                        .nameAndGeo {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 6px;

                                h2 {
                                        color: var(--gray-900);
                                        font-size: 30px;
                                        font-weight: 600;
                                        line-height: 38px;
                                        letter-spacing: -0.5px;
                                }

                                .geo {
                                        display: flex;
                                        align-items: center;
                                        gap: 4px;

                                        p {
                                                color: var(--gray-500);
                                                font-size: 16px;
                                                font-weight: 500;
                                                line-height: 24px;
                                                letter-spacing: -0.5px;
                                        }
                                }
                        }

                        .description {
                                color: var(--gray-500);
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: -0.5px;
                        }
                }

                .buttons {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                }
        }
}

//ItemsBadges

.itemsBadges {
        width: 100%;
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
        padding-top: 36px;
        padding-left: 40px;
        padding-right: 40px;
}

//SectionSegments

.sectionSegments {
        margin-top: 32px;
        margin-left: 40px;
        margin-right: 40px;
        position: sticky;
        top: 12px;
        z-index: 100;
        transition: all 0.15s ease-in-out 0.01s;

        &.sticky{
                margin-left: calc(12px + 48px + 12px);
                margin-right: calc(12px + 28px + 12px + 28px + 12px);
                &::before{
                        content: '';
                        position: absolute;
                        top: -5px;
                        left: -5px;
                        right: -5px;
                        bottom: -5px;
                        background: rgba(200, 200, 200, 0.5);
                        filter: blur(15px);
                        z-index: -1;
                        border-radius: 100px;
                        transition: all 0.3s ease-in-out 0.01s;
                }
        }
}

[data-theme='dark']{
        .sectionSegments{
                &.sticky{
                        &::before{
                                background: rgba(0, 0, 0, 0.5);
                        }
                }
        }
}

//ContainerReviews

.containerReviews {
        margin-top: 34px;
        width: 100%;
        padding: 0px 40px 24px;
        overflow-y: visible;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        height: 100%;
        z-index: 20;
}

//Container Offers ans Requests

.containerRequestsAndProposals {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 34px 39px 0;
        flex-direction: column;
        gap: 20px;

        .tabs{
                width: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;
        }

        ul {
                height: auto;
                overflow-y: visible;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px 20px;
                padding-bottom: 24px;
        }
}

//Dots

.dots {
        position: absolute;
        right: 12px;
        top: 22px;
        display: inline-flex;
        gap: 12px
}

//GLASSES

.glassShadow1 {
        @include glassShadow;
        background: rgba(243, 145, 114, 0.32);
        top: 0;
        left: 0;
}

.glassShadow2 {
        @include glassShadow;
        background: rgba(148, 249, 48, 0.32);
        top: 60%;
        left: -50px;
}

.glassShadow3 {
        @include glassShadow;
        background: rgba(135, 92, 255, 0.32);
        top: 70%;
        left: 50%;
}

.glassShadow4 {
        @include glassShadow;
        background: rgba(243, 145, 114, 0.45);
        top: 85%;
        left: 100%;
}

.glassShadow5 {
        @include glassShadow;
        background: rgba(100, 220, 246, 0.32);
        top: 40%;
        left: calc(100% + 60px);
}