$top-height-open: 1.625rem;

.container {
  width: 100%;
  position: fixed;
  z-index: 90;
  height: 100%;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background-color: var(--BG-second);
  transform: translateY(calc(100% - var(--height-mobile-footer-nav) - 6rem));
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  inset: 0;

  transition: var(--transition);
  transition-property: transform;

  & > button {
    position: absolute;
    z-index: 91;
    left: 50%;
    top: 0;
    transform: translate(-50%, -$top-height-open);
    padding: 0.5rem;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--BG-second);
    box-shadow: 0px 2px 6px 0px rgba(98, 106, 118, 0.06), 0px 4px 24px 0px rgba(98, 106, 118, 0.08);

    & > svg {
      width: 1.25rem;
      height: 1.25rem;
      aspect-ratio: 1/1;

      & > path {
        transition: d, path;
        transition-duration: 750ms;
        transition-timing-function: ease-in-out;
      }
    }
  }

  & > header {
    padding: 1.25rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    cursor: pointer;
    width: 100%;
    height: 6rem;
    position: relative;

    & > [data-search] {
      height: 3rem;
      width: 100%;
      position: relative;

      & > input {
        height: 3rem;
        border-radius: 1.5rem;
        padding-left: calc(0.875rem + 1.25rem + 0.5rem);
      }

      & > [data-search-icon] {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        left: 0.875rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }

    & > [data-close] {
      border: none;
      outline: none;
      background-color: transparent;
      position: absolute;
      top: 0.75rem;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 2.75rem;
      height: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;

      & > span {
        width: 100%;
        height: 0.25rem;
        border-radius: 0.125rem;
        background-color: var(--grey-separator);
      }
    }

    & > [data-filter] {
      width: 3rem;
      height: 3rem;
      padding: 1.5rem;
      position: relative;
      border-radius: 1.5rem;
      border: 1px solid var(--grey-stroke);
      background: var(--BG-second);

      & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.25rem;
        height: 1.25rem;
        z-index: 2;
      }
    }

    & > [data-clear-input] {
      height: 2.25rem;
      width: 2.25rem;
      position: absolute;
      top: calc(2.25rem + 1.5rem);
      transform: translateY(-50%);
      right: calc(1.25rem + 3rem + 0.625rem + 0.375rem);
      padding: 0.625rem;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      outline: none;
      border: none;
      border-radius: 1.25rem;

      &[data-clear-input="true"] {
        display: flex;
      }

      & > svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  & > section {
    width: 100%;
    height: calc(100% - 6rem);
    overflow: hidden;
    overflow-y: auto;
    transition: var(--transition);
    transition-property: height;

    & > article {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.125rem;
      padding-block: 0.625rem;
      padding-inline: 1.25rem;

      & > [data-filters-times],
      & > [data-filters-services],
      & > [data-filters-category] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      & > [data-filters-category] {
        flex-wrap: wrap;
        gap: 0.25rem 0.25rem;

        & > a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;
          padding: 0.25rem;
          padding-right: 0.375rem;
          height: 2rem;
          border-radius: 1rem;
          background: var(--more-blue-gradient);

          & > [data-icon] {
            width: 1.5rem;
            height: 1.5rem;
            padding: 0.25rem;
            border-radius: 0.75rem;
            background-color: var(--BG-icons);
            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
              width: 1rem;
              height: 1rem;
              border-radius: 0.125rem;
            }
          }

          & > button {
            width: 1rem;
            height: 1rem;
            padding: 0.5rem;
            position: relative;
            background-color: transparent;
            border: none;
            outline: none;

            & > svg {
              position: absolute;
              inset: 0;
              height: 1rem;
              width: 1rem;

              & > path {
                stroke: var(--text-button);
              }
            }
          }

          & > span {
            color: var(--text-button);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }

      & > [data-filters-services] {
        justify-content: flex-start;
        gap: 1.25rem;

        & > a {
          position: relative;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            top: calc(100% + 0.125rem);
            left: 0;
            width: 100%;
            height: 0.125rem;
            border-radius: 0.0625rem;
            background-color: var(--element-accent-1);
            transform: scaleX(0);
            opacity: 0;
            transition: var(--transition);
            transition-property: transform, opacity;
          }

          & > span {
            color: var(--text-secondary);
            text-align: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
          }

          &[data-active="true"] {
            & > span {
              color: var(--text-accent);
            }
            &::after {
              opacity: 1;
              transform: scaleX(1);
            }
          }
        }
      }

      & > [data-filters-times] {
        gap: 0.25rem;

        & > a {
          height: 1.8125rem;
          padding: 0.375rem 0.5rem 0.4375rem 0.5rem;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          background-color: var(--grey-field);
          cursor: pointer;

          & > span {
            color: var(--text-secondary);
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;
          }

          &[data-active="true"] {
            background-color: var(--BG-filter);

            & > span {
              color: var(--text-button);
            }
          }
        }
      }
    }

    & > ul {
      width: 100%;
      padding: 1.25rem;
      padding-bottom: calc(var(--height-mobile-footer-nav) + 1.25rem + $top-height-open);
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &[data-visible="true"] {
    transform: translateY($top-height-open);

    & > section {
      height: calc(100% - 6rem);
    }
  }
}

[data-theme="dark"] {
  .container {
    box-shadow: 0px 4px 24px 0px rgba(32, 32, 32, 0.7);
  }
}
