.container {
  width: 100%;
  position: fixed;
  z-index: 90;
  height: 100%;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background-color: var(--BG-second);
  transform: translateY(calc(100% - var(--height-mobile-footer-nav) - 6.5rem));
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  inset: 0;

  transition: var(--transition);
  transition-property: transform;

  // &::after {
  //   content: "";
  //   position: fixed;
  //   background: rgba(5, 1, 13, 0.6);
  //   inset: 0;
  //   z-index: -1;
  //   opacity: 0;
  //   visibility: hidden;

  //   transition: var(--transition);
  //   transition-property: z-index, opacity, visibility;
  // }

  & > header {
    padding: 1.25rem;
    padding-top: 2.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    cursor: pointer;
    width: 100%;
    height: 6.5rem;
    position: relative;

    & > input {
      height: 3rem;
      border-radius: 1.5rem;
      padding-left: calc(0.875rem + 1.25rem + 0.5rem);
    }

    & > [data-close] {
      border: none;
      outline: none;
      background-color: transparent;
      position: absolute;
      top: 0.75rem;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 2.75rem;
      height: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;

      & > span {
        width: 100%;
        height: 0.25rem;
        border-radius: 0.125rem;
        background-color: var(--grey-separator);
      }
    }

    & > [data-search-icon] {
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;
      left: calc(1.25rem + 0.875rem);
      top: calc(2.25rem + 1.5rem);
      transform: translateY(-50%);
    }

    & > [data-filter] {
      width: 3rem;
      height: 3rem;
      padding: 1.5rem;
      position: relative;
      border-radius: 1.5rem;
      border: 1px solid var(--grey-stroke);
      background: var(--BG-second);

      & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.25rem;
        height: 1.25rem;
        z-index: 2;
      }
    }
  }

  & > section {
    width: 100%;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: var(--transition);
    transition-property: height;

    & > ul {
      width: 100%;
      padding: 1.25rem;
      padding-bottom: calc(var(--height-mobile-footer-nav) + 1.25rem);
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &[data-visible="true"] {
    transform: translateY(0);

    & > section {
      height: calc(100% - 6.5rem);
    }

    // &::after {
    //   z-index: 89;
    //   opacity: 1;
    //   visibility: visible;
    // }
  }
}

[data-theme="dark"] {
  .container {
    box-shadow: 0px 4px 24px 0px rgba(32, 32, 32, 0.7);
  }
}
