.container {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--BG-second);
  border: 1px solid var(--grey-stroke-light);

  & > article {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: min-content;
    border-radius: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow: hidden;

    & > [data-header] {
      padding-inline: 1rem;
      & > h4 {
        color: var(--text-primary);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.3px;
      }
    }

    & > [data-container-photos] {
      padding-top: 0;
      padding-bottom: 0;
    }

    & > [data-footer] {
      padding-inline: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      & > button {
        height: 2rem;
        gap: 0.375rem;

        & > img {
          height: 0.875rem;
          width: 0.875rem;
        }

        & > span {
          font-size: 0.875rem;
        }
      }
    }
  }
}
