.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(4.8125rem + 1rem) 2rem 1rem;

    & > section {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > ul {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            height: calc(100%);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;

            & > h2 {
                color: var(--gray-900);
                text-align: start;
                font-size: 2rem;
                font-style: normal;
                font-weight: 600;
            }

            & > h3 {
                color: var(--gray-900);
                text-align: start;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
            }

            & > li,
            & > p {
                width: 100%;
                color: var(--gray-500);
                text-align: start;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
            }

            & > li {
                list-style-type: circle;
            }
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        padding: 0.75rem;

        & > section {
            & > ul {
                padding-bottom: calc(4.25rem + 1rem);
            }
        }
    }
}
