.container {
    display: inline-flex;
    gap: 0.75rem;
    align-items: center;

    .badge {
        overflow: hidden;
        width: 119px;
        padding: 8px 8px 5px 16px;
        flex: 1 0 0;

        p {
            overflow: hidden;
        }
    }
}
