.container {
  height: auto;

  & > form {
    & > article {
      & > span {
        color: var(--text-secondary);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.125rem;

        & > sup {
          color: var(--text-error);
        }
      }

      & > fieldset {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & > label,
        & > i {
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.03125rem;
        }

        & > label {
          color: var(--text-primary);
          font-size: 0.875rem;

          line-height: 1.25rem;
        }

        & > i {
          margin-top: -0.25rem;
          color: var(--text-error);
          font-size: 0.75rem;
          line-height: 1.125rem;
        }

        & > [data-input] {
          width: 100%;
          height: 3rem;
          position: relative;

          & > button {
            position: absolute;
            top: 50%;
            right: 0.875rem;
            transform: translateY(-50%);
            width: 1.25rem;
            height: 1.25rem;
            background-color: transparent;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
              width: 1.25rem;
              height: 1.25rem;
            }
          }
        }

        & > [data-strength] {
          width: 100%;
          height: 0.375rem;
          border-radius: 0.1875rem;
          background-color: var(--BG-first);
          overflow: hidden;
          position: relative;
          margin-top: -0.25rem;

          & > span {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            height: 0.375rem;
            border-radius: 0.1875rem;
            transition: var(--transition);
            transition-property: transform, background-color;
          }
        }
      }

      & > i {
        color: var(--text-error);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.125rem;
        letter-spacing: -0.03125rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    border-radius: 0 !important;
    height: 100%;
  }
}
