.popupFilter {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  bottom: 14px;
  left: 50%;
  width: 554px;
  height: 106.112px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.09);
  border: 2px solid rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(4px);
  flex-shrink: 0;
  z-index: 5;
  transition: all 0.5s ease-in-out 0.05s;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .content{
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow: hidden;
    overflow-x: auto;
  }
}