.container {
    background: rgba(0, 0, 0, 0.72);
    backdrop-filter: blur(0.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;

    & > img {
        width: 5rem;
        height: 5rem;
        transform: rotate(0deg);
        animation: rotate 1s linear infinite;
    }
}

[data-theme="dark"] {
    .container {
        & > img {
            filter: invert(0.9);
        }
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
