.peoples {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: fit-content;
    &.requestsAndProposals {
        align-items: center;

        li {
            max-width: 100%;
            width: 100%;
        }
    }
}
