.container {
    position: absolute;
    transform: translateY(-100%);
    max-width: calc(100% - 2rem - 2rem);
    top: -0.1875rem;
    right: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--stroke-1);
    background: var(--glass-bg-color);
    backdrop-filter: blur(0.25rem);
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    & > ul {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        height: min-content;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;

        & > li {
            scroll-snap-align: center;
            display: inline-block;
            width: 13.125rem;
            height: 8.75rem;
            overflow: hidden;
            aspect-ratio: 3/2;
            border-radius: 0.1875rem;
            border: 1px solid var(--stroke-1);

            & > img {
                width: 100%;
                height: auto;
                aspect-ratio: 3/2;
                object-fit: cover;
            }
        }
    }
}

[data-tablet="true"] {
    .container {
        right: 0.5rem;
        max-width: calc(100% - 1rem);
        & > ul {
            & > li {
                width: 7.5rem;
                height: 5rem;
            }
        }
    }
}
