.wrapper {
  width: 100%;
  height: fit-content;
  position: sticky;
  z-index: 35;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.25rem;
  background-color: var(--text-accent);

  & > article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;

    & > [data-head] {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.25rem;

      & > [data-time] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

        & > [data-img] {
          width: 1rem;
          height: 1rem;

          & > img {
            width: 1rem;
            height: 1rem;
            opacity: 0.8;
          }
        }

        & > time {
          color: var(--grey-separator);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          white-space: nowrap;
        }
      }

      & > [data-geo] {
        p {
          color: var(--grey-separator);
        }
      }
    }

    & > p {
      color: var(--supporting-white) !important;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;

      & > a {
        cursor: pointer;
      }

      & > span {
        text-decoration: underline;
        text-underline-offset: 0.175rem;
        cursor: pointer;
      }
    }
  }

  & > footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;

    & > button {
      max-width: 8.75rem;
    }
  }

  &[data-type="executed"] {
    background-color: var(--background);
    border-bottom: 1px solid var(--grey-separator);
    border-radius: 1.25rem 1.25rem 0 0;
    gap: 0.75rem;

    & > article {
      & > [data-lath] {
        background-color: #f8aa33;
        height: 1.3125rem;
        border-radius: 0.65625rem;
        padding: 0.28125rem 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content;

        & > span {
          color: var(--supporting-white);
          font-size: 0.6875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 0.75rem;
          letter-spacing: -0.00344rem;
          white-space: nowrap;
        }
      }

      & > [data-barter-people] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        width: 100%;

        & > [data-repeat] {
          height: 1.5rem;
          width: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.25rem;

          & > img {
            width: 1rem;
            height: 1rem;
          }
        }

        & > [data-item-people-offer] {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          max-width: calc(50% - 0.25rem);

          & > [data-img] {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            padding: 0.75rem;

            & > img {
              position: absolute;
              width: 1.5rem;
              height: 1.5rem;
              inset: 0;
              border-radius: 50%;
            }
          }

          & > a {
            color: var(--supporting-white) !important;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: -0.02125rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
          }
        }
      }
    }
  }
}

[data-tablet="true"] {
  .wrapper {
    gap: 0.75rem;
    border-radius: 0rem;
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;

    &[data-type="executed"] {
      border-radius: 0rem;
    }

    & > article {
    }

    & > footer {
    }

    &[data-type="executed"] {
      gap: 0.5rem;
      & > article {
        & > [data-barter-people] {
        }
      }
    }
  }
}
