.wrapper {
    width: 100%;
    height: min-content;
    padding: 1.125rem;
    background: var(--gradient-barter);
    backdrop-filter: blur(0.6rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    &[data-destroyed="true"] {
        background: var(--gradient-barter-red);
    }

    z-index: 299;

    & > [data-sub-header="true"] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
        height: 1.625rem;

        & > [data-time="true"] {
            width: min-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;
            height: 1.625rem;
            padding: 0.25rem 0.5rem;
            border-radius: 0.8125rem;
            border-radius: 100px;
            background: rgba(0, 0, 0, 0.14);
            backdrop-filter: blur(2px);

            & > [data-geo="true"] {
                p {
                    color: #fff;
                }
            }

            & > p {
                color: var(--color-text);
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
            }
        }
    }

    & > [data-inform="true"] {
        & > p {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            width: 100%;
            color: var(--color-text);
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.875rem;
            line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;

            & > span {
                text-decoration-line: underline;
                text-underline-offset: 0.375rem;
            }
        }
    }

    & > footer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 1.25rem;

        &[data-executed="true"] {
            justify-content: space-between;
            align-items: center;
            gap: 0.75rem;

            & > [data-badges] {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.75rem;
                max-width: calc(21.875rem + 0.75rem + 1.5rem + 0.75rem + 21.875rem);
                width: min-content;
                & > li {
                    max-width: clamp(12.5rem, calc(50% - 0.75rem - 0.5625rem), 21.875rem);
                }
            }

            & > [data-buttons="true"] {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                & > button {
                    height: 2.25rem;
                    border-radius: 1.125rem;
                    max-width: 9.375rem;
                    width: 100%;
                    gap: 0.375rem;
                    padding: 0.375rem 0.75rem;
                    justify-content: center;
                    span {
                        font-size: 0.875rem !important;
                        font-weight: 600;
                    }
                }
            }
        }

        & > section {
            width: fit-content;
            max-width: calc(9.375rem + 9.375rem + 0.75rem);
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.25rem;
            gap: 0.75rem;

            .fill {
                height: 2.25rem;
                border-radius: 1.125rem;
                max-width: 9.375rem;
                width: 100%;
                gap: 0.375rem;
                padding: 0.375rem 0.75rem;
                justify-content: center;
                span {
                    font-size: 0.875rem !important;
                    font-weight: 500;
                }
            }
        }
    }
}

.wrapperMobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: min-content;
    padding: 0.75rem 1rem;
    z-index: 95;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    background: var(--gradient-barter);
    backdrop-filter: blur(0.5rem);

    &[data-destroyed="true"] {
        background: var(--gradient-barter-red);
    }

    & > section {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;

        & > [data-sub-header] {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;

            & > [data-back],
            & > [data-dots] {
                padding: 0.5rem;
                background: var(--background);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                border: 1px solid var(--stroke-1);
                & > [data-image-back] {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                }
            }

            & > [data-user] {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: calc(100vw - 1rem - 1rem - 0.25rem - 3rem - 0.25rem - 3rem);

                & > img {
                    height: 2rem;
                    width: 2rem;
                    border-radius: 50%;
                    border: 1px solid var(--stroke-1);
                }

                h5 {
                    color: var(--supporting-white);
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: -0.3px;
                }
            }
            & > [data-barter] {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25rem;
                max-width: calc(100vw - 1rem - 1rem);
                width: fit-content;

                & > li {
                    max-width: calc(50% - 0.25rem - 0.5625rem);
                    gap: 0.25rem;

                    & > div {
                        height: 1.375rem;
                        width: 1.375rem;
                        padding: 0.25rem;
                        & > img {
                            height: 0.875rem;
                            width: 0.875rem;
                        }
                    }
                }
            }
        }

        & > [data-info] {
            width: 100%;
            overflow: hidden;

            & > p {
                width: 100%;
                font-size: 0.875rem;
            }
        }

        & > footer {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 0.5rem;

            & > button {
                height: 2.25rem;
                width: min-content;

                span {
                    font-size: 1rem;
                }
            }
        }
    }
}

[data-theme="dark"] {
    .wrapperMobile {
        & > section {
            & > [data-sub-header] {
                & > [data-back],
                & > [data-dots] {
                    & > img {
                        filter: invert(1);
                    }
                }
            }
        }
    }
    .wrapper {
        & > [data-sub-header="true"] {
            & > [data-time="true"] {
                & > img {
                    // filter: invert(1);
                }
            }
        }
    }
}

[data-theme="light"] {
    .wrapper {
        & > [data-sub-header="true"] {
            & > [data-back] {
                & > img {
                    filter: invert(1);
                }
            }
        }
    }
}
