.wrapper {
  width: 100%;
  height: fit-content;
  position: sticky;
  z-index: 35;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.25rem;
  background-color: var(--text-accent);

  & > article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;

    & > [data-head] {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.25rem;

      & > [data-time] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

        & > [data-img] {
          width: 1rem;
          height: 1rem;

          & > img {
            width: 1rem;
            height: 1rem;
            opacity: 0.8;
          }
        }

        & > time {
          color: var(--text-button-88);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          white-space: nowrap;
        }
      }

      & > [data-geo] {
        p {
          color: var(--text-button-88);
        }
      }
    }

    & > p {
      color: var(--text-button);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;

      & > span {
        text-decoration: underline;
        text-underline-offset: 0.175rem;
        cursor: pointer;
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    gap: 0.75rem;
    border-radius: 0rem;
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
  }
}
