.wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: var(--glass-bg-color-3);
    backdrop-filter: blur(1px);
    transition: var(--transition);
    transition-property: opacity;

    ul {
        padding: 0.5rem 0 !important;
    }

    & > .dots {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
        transition-property: opacity;
        top: calc(5.25rem - 2.625rem);
        transform: translateY(-50%);
        right: 1.25rem;
    }

    &[data-visible="true"] {
        opacity: 1;
        visibility: visible;
        & > .dots {
            opacity: 1;
            visibility: visible;
        }
    }
}

.menu {
    position: absolute;
    right: 1.25rem;
    top: calc(2.625rem + 1.5rem + 4px);
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    max-width: 0.1875rem;
    max-height: 0.375rem;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    background: var(--background);
    box-shadow: 0px 0.75rem 1.5rem 0px rgba(0, 0, 0, 0.16);
    margin: 0 !important;

    &[data-is-open="false"] {
        max-width: 0.1875rem;
        max-height: 0.375rem;
    }

    &[data-is-open="true"] {
        max-width: 12.0625rem;
        max-height: 139.75rem;
    }

    li {
        width: 100%;
        padding: 0.75rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.375rem;

        p {
            color: var(--gray-900);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            letter-spacing: -0.3px;
        }

        &:focus {
            background: var(--primary-100);
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        .menu,
        [data-menu] {
            box-shadow: none;

            li {
                &:focus {
                    background: var(--gray-100);
                }

                img {
                    filter: invert(1);
                }
            }
        }
    }
}
