.wrapper{
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: var(--glass-bg-color-3);
  backdrop-filter: blur(1px);
  transition: all 0.3s ease-in-out 0.01s;
  ul{
    padding: 8px 0 !important;
  }

  &.visible{
    opacity: 1;
    visibility: visible;
  }
}

.dots{
  position: absolute;
  top: 14px;
  right: 20px;
}

.menu{
  position: absolute;
  right: 20px;
  top: calc(14px + 48px + 4px);
  background: var(--background);
  display: flex;
  flex-direction: column;
  gap: 0 !important;
  max-width: 3px;
  max-height: 6px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: var(--background);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);

  &[data-is-open='false']{
    max-width: 3px;
    max-height: 6px;
  }

  &[data-is-open='true']{
    max-width: 193px;
    max-height: 236px;
  }

  li{
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    p{
      color: var(--gray-900);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.5px;
    }

    &:focus{
      background: var(--primary-100);
    }
  }
}

[data-theme='dark']{
  .menu{
    box-shadow: none;

    li{
      &:focus{
        background: var(--gray-100);
      }

      img{
        filter: invert(1);
      }
    }
  }
}