.container {
    height: 6.5rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 20;
    position: relative;
}

[data-tablet="true"] {
    .container {
        height: 5.25rem;
        padding: 1.25rem 1.25rem 1rem 1.25rem;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        background: var(--glass-bg-color-1);
        box-shadow: 0px 0.25rem 1.5rem 0px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(2.5rem);
        z-index: 1000;

        input {
            height: 3rem !important;
            width: 100%;
            border-radius: 1.5rem;
            padding: 0.75rem 0.875rem 0.75rem 2.5rem;
            border: 0.0625rem solid var(--gray-300);
            background: var(--supporting-white);
            outline: none !important;

            color: var(--gray-900);
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: -0.3px;

            &::placeholder {
                color: var(--gray-500);
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem;
                letter-spacing: -0.3px;
            }
        }

        .paperclip {
            position: absolute;
            transform: translateY(-50%);
            top: calc(50% + 0.125rem);
            left: calc(1.25rem + 0.75rem);
            z-index: 1;

            & > input {
                width: 1rem !important;
                height: 1rem !important;
                position: absolute;
                opacity: 0;
                cursor: pointer;
                z-index: 2;
            }

            & > img {
                cursor: pointer;
                z-index: -1;
            }
        }
    }
}

.buttons {
    position: absolute;
    bottom: 0.75rem;
    right: calc(0.75rem + 2rem + 0.0625rem);
    width: min-content;
    display: inline-flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;

    & > [data-files-input] {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 1.25rem;
        padding: 0.625rem;
        background: var(--gradient-optional-1);
        cursor: pointer;

        & > input {
            position: absolute;
            inset: 0;
            opacity: 0;
            cursor: pointer;
        }

        & > img {
            width: 1.25rem;
            height: 1.25rem;
            pointer-events: none;
        }
    }
}

.info {
    & > img {
        filter: invert(1);
    }
}
