.container {
    width: 100%;
    padding: 13px 8px 13px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 16px;
    background: var(--background);
    box-shadow: 0px 7px 32px 0px rgba(140, 155, 178, 0.22);
    cursor: pointer;
    z-index: 3;

    & > p {
        color: var(--gray-900);
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.5px;
    }

    &[data-mobile="true"] {
        padding: 13px 16px;
    }
}

[data-theme="light"] {
    .container {
        & > img {
            filter: invert(1);
        }
    }
}
