.containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.avatar {
    position: relative;
    display: flex;
    width: 6rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;

    .photo {
        border-radius: 1.5rem;
        width: 6rem;
        height: 6rem;
        overflow: hidden;
    }

    .verified {
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: -0.75rem;
        bottom: -0.75rem;
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    h4 {
        color: var(--gray-900);
        text-align: center;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.5px;
    }

    p {
        color: var(--gray-500);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.5px;
    }
}

.achievements {
    gap: 0.75rem;
    padding: 0.5rem 1rem !important;
    height: auto !important;
    width: auto !important;
    background: var(--background-input) !important;
}

.badges {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    z-index: 1;

    .badge {
        width: 100%;
    }
}
