.containerHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.avatar {
  position:relative;
  display: flex;
  width: 94px;
  height: 94px;
  align-items: center;
  justify-content: center;

  .photo {
    border-radius: 24px;
    border: 4px solid var(--supporting-white);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);
  }

  .verified {
    position: absolute;
    transform: translate(-50%, -50%);
    left: calc(100% - 5px);
    top: calc(100% - 5px);
  }
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  h4{
    color: var(--gray-900, #101828);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.5px;
  }

  p{
    color: var(--gray-500, #667085);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.5px;
  }
}

.achievements{
  gap: 12px;
  padding: 8px 16px !important;
  height: auto !important;
  width: auto !important;
  background: var(--background-input) !important;
}

.badges{
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  z-index: 1;

  .badge{
    width: 100%;
  }
}