.wrapper {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    transition: var(--transition);
    transition-property: opacity;
    z-index: 990;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & > section {
        position: relative;
        height: 100%;
        max-width: calc(533px + 80px);
        width: 100%;
        border-radius: 2rem 0px 0px 2rem;
        background: var(--background);
        overflow: hidden;

        & > [data-close],
        & > [data-block-dots] {
            z-index: 3;
        }

        & > [data-block-dots] {
            position: absolute;
            right: 12px;
            top: 22px;
            display: inline-flex;
            gap: 12px;

            & > a > img,
            & > img {
                cursor: pointer;
            }
        }

        & > ul {
            display: flex;
            flex-direction: column;
            max-height: 100vh;
            width: 100%;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            overflow-y: scroll;
            transition: opacity 0.3s ease-in-out;

            &[data-opacity="true"] {
                opacity: 1;
                visibility: visible;
            }

            & > [data-info-container] {
                display: inline-flex;
                align-items: flex-start;
                gap: 32px;
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 90px;

                & > [data-avatar-and-achievements] {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 24px;

                    & > [data-avatar] {
                        position: relative;
                        display: flex;
                        width: 5rem;
                        height: 5rem;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        & > [data-image="avatar"] {
                            border-radius: 1rem;
                            width: 5rem;
                            height: 5rem;
                            overflow: hidden;
                        }

                        & > [data-verified] {
                            position: absolute;
                            right: -9px;
                            bottom: -9px;
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }

                & > [data-title-and-geo-and-description] {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;

                    & > [data-name-geo-description] {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;

                        & > [data-name-and-geo] {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 6px;

                            & > h2 {
                                color: var(--gray-900);
                                font-size: 30px;
                                font-weight: 600;
                                line-height: 38px;
                                letter-spacing: -0.5px;
                            }
                        }

                        & > [data-description] {
                            color: var(--gray-500);
                            font-size: 1rem;
                            line-height: 24px;
                            letter-spacing: -0.5px;
                        }
                    }

                    & > [data-buttons] {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 0.75rem;

                        & > [data-is-friend] {
                            display: inline-flex;
                            align-items: center;
                            gap: 0.75rem;
                            width: 100%;

                            & > [data-circle-gradient] {
                                height: 44px;
                                width: 44px;

                                & > img {
                                    height: 20px;
                                    width: 20px;
                                }
                            }

                            & > [data-button-default] {
                                height: 36px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            & > [data-budges] {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, calc(25% - 0.375rem));
                gap: 0.5rem 0.5rem;
                z-index: 2;
                padding: 2rem 2.5rem 0;
                & > [data-badge] {
                    background: var(--background-input);
                    width: 100%;
                    & > div {
                        & > p {
                            font-size: 14px;
                        }
                        & > h2 {
                            font-size: 2.25rem;
                        }
                    }
                }
                opacity: 0;

                &[data-opacity="true"] {
                    opacity: 1;
                }

                @media screen and (max-width: 860px) {
                    grid-template-columns: repeat(2, calc(50% - 0.25rem));
                }
            }

            & > [data-segments] {
                margin-top: 2rem;
                margin-left: 40px;
                margin-right: 40px;
                position: sticky;
                top: 12px;
                z-index: 100;
                transition: var(--transition);
                transition-property: margin-left, margin-right;

                &[data-sticky="true"] {
                    margin-left: calc(3rem + 1.5rem);
                    margin-right: calc(12px + 28px + 12px + 28px + 12px);
                    &::before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        left: -5px;
                        right: -5px;
                        bottom: -5px;
                        background: rgba(200, 200, 200, 0.5);
                        filter: blur(15px);
                        z-index: -1;
                        border-radius: 100px;
                    }
                }
            }

            & > [data-content] {
                margin-top: 34px;
                width: 100%;
                padding: 0px 40px 24px;
                overflow-y: visible;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                height: 100%;
                z-index: 20;
            }

            [data-items] {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem !important;

                & > [data-offers-card] {
                    max-width: 100%;
                }
            }
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        & > section {
            & > ul {
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        & > section {
            & > ul {
                & > [data-segments] {
                    &[data-sticky="true"] {
                        &::before {
                            background: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
        }
    }
}
