.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.75rem;

  & > [data-img] {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: var(--grey-stroke-light);
    position: relative;

    & > img {
      height: auto;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 1rem;
    }

    &[data-img="false"] {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 0.625rem;

      & > img {
        width: 3rem;
        height: 3rem;
        border-radius: 0;
      }
    }

    & > button {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--grey-stroke-light);
      border-radius: 0.75rem;
      background-color: var(--BG-second);
      z-index: 3;
      position: absolute;
      top: -0.375rem;
      right: -0.375rem;

      opacity: 0;
      visibility: hidden;

      transition: var(--transition);
      transition-property: opacity, visibility;

      & > img {
        width: 1rem;
        height: 1rem;
      }
    }

    &:hover {
      & > button {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  & > [data-upload] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;

    & > p {
      max-width: 25rem;
      color: var(--text-secondary);
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
      letter-spacing: -0.03125rem;
    }

    & > a {
      position: relative;
      color: var(--text-accent);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
      letter-spacing: -0.02125rem;
      cursor: pointer;

      & > input {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
      }
    }
  }
}

[data-mobile="true"] {
  .container {
    & > [data-img] {
      & > button {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

[data-theme="dark"] {
  .container {
    & > [data-img] {
      & > button {
        & > img {
          filter: invert(1);
        }
      }
    }
  }
}
