.container {
  position: relative;
  height: 100%;
  max-width: 41.875rem;
  width: 100%;
  border-radius: 2rem;
  background-color: var(--BG-second);

  & > header {
    height: 4.75rem;
    padding-block: 1.5rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--grey-separator);

    & > h3 {
      color: var(--text-primary);
      text-align: center;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2rem;
      letter-spacing: -0.03125rem;
    }
  }

  & > article {
    width: 100%;
    padding: 1.25rem 1.5rem;
    height: calc(1.25rem + 2.75rem + 1.25rem);
  }

  & > form {
    height: 100%;
    width: 100%;
    padding-block: 0.375rem calc(4.875rem + 1.25rem);
    overflow: hidden;
    max-height: calc(100% - 4.75rem - calc(1.25rem + 2.75rem + 1.25rem));
    overflow-y: auto;

    & > section {
      width: 100%;
      height: fit-content;
      padding-inline: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem 1.5rem;

      & > [data-grid] {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.25rem 1.25rem;
      }

      &[data-personal] {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      fieldset,
      & > [data-grid] > fieldset {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & > label {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem; /* 142.857% */
          letter-spacing: -0.03125rem;
        }

        & > [data-input] {
          position: relative;
          width: 100%;
          height: 3rem;

          & > [data-load] {
            top: 50%;
            right: 0.875rem;
            transform: translateY(-50%);
            position: absolute;

            & > img {
              height: 1rem;
              width: 1rem;
              animation: rotate 1s linear infinite;
            }
          }

          & > [data-ul] {
            position: absolute;
            top: calc(100% + 0.25rem);
            width: 100%;
            background-color: var(--BG-second);
            border-radius: 0.75rem;
            box-shadow: 0px 0.625rem 1rem 0px rgba(31, 31, 41, 0.1);
            max-height: 7.625rem;

            & > ul {
              padding: 0.25rem;
              display: flex;
              flex-direction: column;

              & > li {
                width: 100%;
                padding: 0.5rem;
                padding-bottom: 0.625rem;
                border-radius: 0.5rem;
                cursor: pointer;

                background-color: transparent;

                transition: var(--transition);
                transition-property: background-color;

                & > span {
                  color: var(--text-primary);
                  font-size: 0.875rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1.25rem;
                  letter-spacing: -0.03125rem;
                }

                &:hover {
                  background-color: var(--grey-field);
                }
              }
            }
          }
        }

        & > i {
          margin-top: -0.25rem;
          color: var(--text-error);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1rem; /* 133.333% */
        }

        span,
        a {
          padding-top: 0.125rem;

          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1rem;
          letter-spacing: -0.03125rem;
        }

        span {
          color: var(--text-secondary);
        }

        a {
          color: var(--text-accent);
          cursor: pointer;
        }
      }
    }

    & > [data-delete-account] {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid var(--grey-separator);
      height: 3.5rem;
      width: 100%;
      padding: 1.25rem 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      & > a {
        color: var(--text-error);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: -0.03125rem;
        cursor: pointer;
      }
    }

    & > footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 0.75rem;
      position: absolute;
      padding: 0.625rem 1.5rem 1.5rem;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: var(--BG-second);
      border-radius: 0rem 0rem 2rem 2rem;
      height: 4.875rem;
      z-index: 100;

      & > button {
        max-width: 12.5rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    border-radius: 0 !important;

    & > header {
      height: 4.25rem;
      padding-block: 1.25rem 1rem;
    }

    & > form {
      max-height: calc(100% - 4.25rem - calc(1.25rem + 2.75rem + 1.25rem));

      & > section {
        padding-inline: 1.25rem;

        &[data-personal],
        & > [data-input],
        & > [data-grid] {
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
        }

        [data-ul] {
          top: inherit !important;
          bottom: calc(100% + 0.25rem);
        }
      }

      & > footer {
        padding: 0.625rem 1.25rem 1.25rem;
        border-radius: 0;
        height: 4.625rem;

        & > button {
          max-width: 100%;
        }
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

[data-theme="dark"] {
  .container {
    [data-ul] {
      box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7), 0px 10px 16px 0px rgba(31, 31, 41, 0.1) !important;
    }
  }
}
