.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    padding: 56px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0.01s;

    &.mobile {
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

[data-theme="dark"] {
    .wrapper {
        backdrop-filter: blur(4px);
    }
}

.container {
    position: relative;
    height: 100%;
    max-width: 772px;
    width: 100%;
    border-radius: 32px;
    background: var(--background);
    overflow: hidden;

    & > ul {
        padding: 32px 116px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        overflow-y: auto;
        height: calc(100% - 116px);
    }
}
