.wrapper {
  visibility: hidden;

  &[data-visible="true"] {
    z-index: 1220;
  }

  @media screen and (min-width: 768px) {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    padding: 15px;

    & > [data-container] {
      max-width: 886px;
      width: 100%;
      flex-shrink: 0;
      position: fixed;
      display: flex;
      flex-direction: column;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      max-height: 667px;
      height: 100%;
      border-radius: 2rem;
      background: var(--background);
      overflow: hidden;
      z-index: 1;
    }
  }
}

.wrapper {
  @media screen and (max-width: 768px) {
    background: var(--background);

    & > ul {
      position: relative;
      padding: 0 0 14px;
      align-items: center;
      justify-content: center;
    }
  }
}
