.main {
  padding-top: var(--height-header-nav-bar);

  & > section {
    & > ul {
      -webkit-overflow-scrolling: touch;

      & > p,
      & > li {
        padding-inline: 0.625rem;
        width: 100%;
        color: var(--text-primary);
        text-align: start;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;

        & > a {
          color: var(--link-color);
        }
      }

      & > li {
        padding-left: 0.875rem;
      }

      & > i {
        padding-inline: 0.875rem;
        color: var(--text-primary);
        text-align: start;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: var(--height-mobile-header);
    padding-bottom: var(--height-mobile-footer-nav);
  }
}
