.people {
    margin-left: -16px;
    height: 36px;
    width: 36px;
    border-radius: 18px !important;
    background: var(--background);
    border: 1.8px solid var(--supporting-white) !important;
    cursor: pointer;
    z-index: 22;
    transition: var(--transition);
    transition-property: transform;
    overflow: hidden;

    & > img {
        height: 34px;
        width: 34px;
        border-radius: 18px !important;
    }
}

.more {
    margin-left: -16px;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px !important;
    border: 1.8px solid var(--supporting-white);
    background: var(--background);
    cursor: pointer;
    z-index: 23;

    & > p {
        color: var(--color-text);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}

.moreSkeleton {
    margin-left: -16px;
    height: 36px;
    width: 36px;
    border-radius: 18px !important;
    border: 1.8px solid var(--supporting-white);
    z-index: 21;
}
