.container {
    position: relative;
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-width: 380px;
    width: 100%;
}

@media screen and (max-width: 1438px) {
    .container {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        max-width: 100%;
    }
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: var(--background);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    height: calc(100vh - 63px - 100px - 1.5rem);
}

.avatar {
    position: absolute;
    display: flex;
    width: 6rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--background-input);
    z-index: 2;
    border-radius: 1.5rem;

    .photo {
        border-radius: 1.5rem;
        box-shadow: 0px 0.75rem 1.5rem 0px rgba(0, 0, 0, 0.16);
    }

    .verified {
        position: absolute;
        transform: translate(-50%, -50%);
        left: calc(100% - 10px);
        top: calc(100% - 10px);
    }
}

.information {
    padding: 73px 1.5rem 1.25rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    .titleAndButtons {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .nameAndGeo {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            h3 {
                color: var(--gray-900);
                font-size: 30px;
                font-style: normal;
                text-align: center;
                font-weight: 600;
                line-height: 38px;
                letter-spacing: -0.5px;
            }
        }

        .buttons {
            display: inline-flex;
            align-items: center;
            gap: 0.75rem;

            & > [data-is-friend] {
                display: inline-flex;
                align-items: center;
                gap: 0.75rem;
                width: 100%;

                & > [data-circle-gradient] {
                    height: 44px;
                    width: 44px;

                    & > img {
                        height: 1.25rem;
                        width: 1.25rem;
                    }
                }

                & > [data-button-default] {
                    height: 36px;
                    width: 100%;
                }
            }
        }
    }
}

.descriptionAndOther {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .description {
        color: var(--gray-500);
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.5px;
    }
}

//CLASS_NAMES OTHERS

.achievements {
    gap: 12px;
}

.social {
    gap: 16px;
}

.more {
    height: 36px;
    width: 36px;
    border: 1.5px solid var(--supporting-white);
    background: var(--primary-200);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -16px;

    p {
        color: var(--gray-900);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.5px;
    }
}

.statusActive {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    margin-bottom: 16px;

    p {
        color: var(--gray-500);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.5px;

        &[data-complaint] {
            cursor: pointer;
            &:focus,
            &:hover {
                color: var(--gray-900);
                text-decoration: underline;
            }
        }
    }

    .dividers {
        width: 5px;
        height: 14px;
        border-left: 1px solid var(--gray-400);
        border-right: 1px solid var(--gray-400);
    }
}
