.wrapperModal {
  --padding-top: 2.5rem;
}

.wrapperModal {
  padding-top: var(--padding-top);

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    display: none;
  }

  transition: var(--transition);
  transition-property: opacity, visibility, z-index;

  & > section {
    position: relative;
    border-radius: 2rem;
    background-color: var(--BG-second);
    width: 100%;

    & > [data-close] {
      top: 0 !important;
      right: -0.25rem !important;
      transform: translateX(100%);
    }
  }

  @media screen and (max-width: 746px) {
    padding: 0;
    padding-top: 0;
    justify-content: flex-end;

    & > section {
      border-radius: 1.5rem 1.5rem 0rem 0rem;
      transform: translateY(100%);
      overflow: hidden;
      min-height: 5rem;

      & > [data-close] {
        top: 0rem !important;
        right: 0rem !important;
        transform: translateX(0);
        border: none !important;
        background: transparent;
      }
    }

    &[data-visible="true"] {
      & > section {
        transform: translateY(0);
      }
    }
  }
}
