.wrapper {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(4px);
    z-index: 1051;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > section {
        position: relative;
        max-width: 25rem;
        height: fit-content;
        width: 100%;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;

        & > header {
            width: 100%;
            border-radius: 2rem 2rem 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.625rem;
            padding: 1.25rem;
            background-color: var(--primary-500);

            & > h3 {
                width: 100%;
                text-align: center;
                color: var(--supporting-white);
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.125rem;
                letter-spacing: -0.01125rem;
            }
        }

        & > form {
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            gap: 1.25rem;
            border-radius: 0 0 2rem 2rem;
            background-color: var(--background);

            & > [data-text] {
                width: 100%;
                border-radius: 1rem;
                overflow: hidden;
                border: 1px solid;
                border-color: var(--gray-300);
                position: relative;
                height: 7.5rem;

                & > textarea {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    padding: 0.875rem;
                    padding-bottom: calc(0.25rem + 0.25rem + 1.125rem);
                    background-color: var(--background);
                    resize: none;
                }

                &:has(textarea:focus) {
                    border-color: var(--primary-500);
                }

                & > sup {
                    position: absolute;
                    right: 0.875rem;
                    bottom: 0.25rem;
                    color: var(--gray-900);
                    text-align: right;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.125rem;

                    & > span {
                        color: var(--gray-500);
                    }
                }

                &[data-limit="true"] {
                    & > sup {
                        & > span {
                            color: var(--text-error);
                        }
                    }
                }
            }

            & > [data-groups] {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4px;

                & > [data-div-text-area="true"] {
                    width: 100%;
                    height: 100%;
                }

                & > i {
                    color: var(--error-600);
                    font-size: 0.75rem;
                    font-weight: 500;
                    line-height: 1.125rem;
                    letter-spacing: -0.3px;
                }

                & > [data-rating="true"] {
                    display: grid;
                    grid-template-columns: repeat(5, 20%);

                    & > img {
                        aspect-ratio: 1/1;
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        padding: 4;
                        cursor: pointer;
                        filter: grayscale(1);

                        &[data-active="true"] {
                            filter: grayscale(0);
                        }
                    }
                }
            }

            & > [data-button-forward] {
                height: 2.75rem;
                border-radius: 1.375rem;
            }
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        background: rgba(0, 0, 0, 0.27);
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        & > section {
            border-radius: 2rem 2rem 0 0;
            max-width: 100%;

            & > header {
                & > h3 {
                    padding-right: calc(2.75rem + 0.625rem);
                }
            }
        }
    }
}
