.wrapper {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(4px);
    z-index: 1051;

    &[data-visible="true"] {
        opacity: 1;
        visibility: visible;
    }

    & > form {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 584px;
        width: 100%;
        height: min-content;
        border-radius: 32px;
        background: var(--background);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        padding: 48px 94px;
        gap: 47px;

        & > h2 {
            width: 100%;
            color: var(--gray-900);
            text-align: center;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;

            & > span {
                color: var(--primary-500);
            }
        }

        & > section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            & > [data-groups="true"] {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4px;

                & > textarea {
                    color: var(--gray-900);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: -0.3px;
                    padding: 14px;
                    border-radius: 16px;
                    border: 1px solid var(--gray-300);
                    background: var(--background-input);

                    &::placeholder {
                        color: var(--gray-400);
                    }
                }

                & > i {
                    color: var(--error-600);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    letter-spacing: -0.3px;
                }

                & > [data-rating="true"] {
                    display: grid;
                    grid-template-columns: repeat(10, 10%);

                    & > img {
                        aspect-ratio: 1/1;
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        padding: 4;
                        cursor: pointer;
                        filter: grayscale(1);

                        & > [data-svg="true"] {
                            & > [data-svg-g="true"] {
                                & > [data-svg-path="true"] {
                                    fill: red;
                                }
                            }
                        }

                        &[data-active="true"] {
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }

        & > button {
            max-width: 360px;
            width: 100%;
        }
    }
}
