.container {
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 1.25rem;
    padding: 0.25rem 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
    height: 2.5rem;

    transition: var(--transition);
    transition-property: background;

    & > span {
        opacity: 1;
        font-size: 1.125rem;
        font-weight: 500;
        white-space: nowrap;
        letter-spacing: -0.2px;

        &::selection {
            background-color: transparent;
            color: inherit;
        }
    }

    & > [data-load] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;

        & > img {
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    &[data-loading="true"] {
        & > span,
        & > img {
            opacity: 0.6;
        }
        & > [data-load] {
            opacity: 1;
            visibility: visible;
        }
    }

    @media screen and (max-width: 746px) {
        height: 2.25rem;
        border-radius: 1.125rem;
        & > span {
            font-size: 0.875rem;
        }
    }

    &[data-type-button="white"] {
        background: var(--supporting-white);
        & > span {
            color: var(--primary-500);
        }

        &:disabled {
            background-color: var(--opacity-white-hard);
            cursor: no-drop;
        }
    }
    &[data-type-button="fill-primary"] {
        background: var(--primary-500);
        & > span {
            color: var(--supporting-white);
        }

        &:hover {
            background: var(--primary-400);
        }
        &:disabled {
            background-color: var(--opacity-white-hard);
            cursor: no-drop;
        }
    }
    &[data-type-button="fill-orange"] {
        background: var(--gradient-optional-1);
        &:focus {
            box-shadow: 0px 0.125rem 0.25rem 0px rgba(0, 0, 0, 0.13) inset;
        }
        & > span {
            color: var(--supporting-white);
        }
    }
    &[data-type-button="regular-primary"] {
        background: var(--gray-100);

        & > span {
            color: var(--primary-500);
        }
        &:hover {
            background: var(--gray-200);
        }

        &:disabled {
            background-color: var(--opacity-white-hard);
            cursor: no-drop;
        }
    }
    &[data-type-button="regular-orange"] {
        border: 0.125rem solid transparent !important;
        background: linear-gradient(var(--button-default-background), var(--button-default-background)) padding-box,
            var(--gradient-optional-1) border-box !important;

        & > span {
            color: #ee4e29;
        }
    }
}

[data-mobile="true"] {
    .container {
        height: 2.25rem;
    }
}
