.container {
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 1.375rem;
    padding: 0.625rem 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
    height: 2.25rem;

    transition: var(--transition);
    transition-property: background;

    & > span {
        opacity: 1;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.01125rem;
        white-space: nowrap;

        &::selection {
            background-color: transparent;
            color: inherit;
        }
    }

    & > img {
        width: 1.5rem;
        height: 1.5rem;
    }

    & > [data-load] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
    }

    &[data-loading="true"] {
        & > span,
        & > img {
            opacity: 0.6;
        }
        & > [data-load] {
            opacity: 1;
            visibility: visible;
        }
    }

    @media screen and (max-width: 746px) {
        height: 2.25rem;
        border-radius: 1.125rem;
        & > span {
            font-size: 0.875rem;
        }
    }

    &[data-type-button="white"] {
        background: var(--BG-first);
        & > span {
            color: var(--text-accent);
        }

        &:disabled {
            opacity: 0.5;
            cursor: no-drop;
        }
    }
    &[data-type-button="fill-primary"] {
        background: var(--btn-main-default);
        & > span {
            color: var(--text-button);
        }

        &:hover {
            background: var(--btn-main-hover);
        }
        &:disabled {
            opacity: 0.5;
            cursor: no-drop;
        }
    }

    &[data-type-button="fill-opacity"] {
        background: var(--opacity-white-hard);

        & > span {
            color: var(--supporting-white);
        }

        &:disabled {
            opacity: 0.5;
            cursor: no-drop;
        }
    }

    &[data-type-button="regular-primary"] {
        background: var(--btn-second-default);

        & > span {
            color: var(--text-accent);
        }
        &:hover {
            background: var(--btn-second-hover);
        }

        &:disabled {
            opacity: 0.5;
            cursor: no-drop;
        }
    }
}
