.container {
    position: absolute;
    inset: 0;
    z-index: 9;
    border-radius: 32px;
    overflow: hidden;
    overflow-y: auto;
    padding: calc(30px + 4px + 30px) 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    height: 100%;

    & > [data-photo-container] {
        width: 100%;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    & > footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-inline: 30px;

        & > h3 {
            color: #fff;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.13px;
        }

        & > p {
            color: var(#fff);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.08px;
        }

        & > button {
            border: none !important;
            outline: none !important;
            background: #fff;
            width: 100%;
            padding: 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 52px;
            border-radius: 26px;

            & > span {
                color: var(--primary-500, #6656db);
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: -0.2px;
            }
        }
    }
}

[data-mobile="true"] {
    .container {
        padding: calc(10px + 4px + 20px) 0 30px;
        gap: 16px;

        & > footer {
            padding-inline: 20px;
            gap: 12px;
            & > button {
                & > span {
                }
            }
        }
    }
}
