.container {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
  right: 1.875rem;
  z-index: 12;

  & > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;

    & > li {
      position: relative;
      width: 100%;
      height: 0.25rem;
      border-radius: 0.125rem;
      background: var(--glass-bg-color-1);
      overflow: hidden;

      & > div {
        width: 100%;
        transform: translateX(-100%);
        height: 0.25rem;
        border-radius: 0.125rem;
        background: #fff;
      }

      &[data-null="true"] {
        & > div {
          transform: translateX(-100%);
        }
      }

      &[data-active="true"] {
        & > div {
          animation: left linear 10s;
        }
      }

      &[data-full="true"] {
        background: #fff;
        & > div {
          transform: translateX(0);
        }
      }
    }
  }
}

.container {
  @media screen and (max-width: 768px) {
    top: 0.625rem;
    left: 1.25rem;
    right: 1.25rem;
  }
}

@keyframes left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
