.container {
  position: relative;
  display: flex;
  width: 346px;
  height: 52px;
  padding: 6px 6px 6px 16px;
  align-items: center;
  border-radius: 100px;
  border-radius: 100px;
  background: var(--supporting-white, #FFF);
  box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);

  .geoImage {
    position: absolute;
  }


  .input {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: var(--supporting-white, #FFF);
    padding-left: 26px;
    &[type="text"]{
      outline: none;
      border: none;
      color: var(--gray-900);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.5px;
    }
    &::placeholder{
      color: var(--gray-400, #98A2B3);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.5px;
    }
  }

  .circleMark {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 100px;
    background: var(--primary-100);
    right: 6px;
    top: 6px;
  }
}