.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 52px;
    padding: 6px 6px 6px 16px;
    align-items: center;
    border-radius: 26px;
    background: var(--background-input);
    box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
    z-index: 120;

    .geoImage {
        position: absolute;
    }

    .input {
        height: 52px;
        width: 100%;
        border-radius: 100%;
        background: var(--background-input);
        padding-left: 26px;
        &[type="text"] {
            outline: none;
            border: none;
            color: var(--gray-900);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.5px;
        }
        &::placeholder {
            color: var(--gray-400, #98a2b3);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.5px;
        }
    }

    .circleMark {
        position: absolute;
        height: 40px;
        width: 40px;
        padding: 10px;
        border-radius: 100px;
        background: var(--primary-100);
        right: 6px;
        top: 6px;
        cursor: pointer;

        img {
            filter: grayscale(100%) invert(1);
        }
    }

    & > ul {
        height: min-content;
        max-height: calc(100vh - 52px - 100px - 100px - 52px - 200px);
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 12px;
        border-radius: 12px;
        background: var(--background);
        box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);
        transition: opacity, visibility 0.3s ease-in-out 0.01s;
        z-index: 150;

        & > li {
            width: 100%;
            padding: 8px 6px;
            border-radius: 6px;
            background: transparent;
            z-index: 160;

            span {
                color: var(--gray-800);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.3px;
            }

            &:hover,
            :focus {
                background: var(--background-input);
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-theme="dark"] {
    .container {
        .circleMark {
            background: var(--gray-200) !important;
        }
    }
}
