.buttonCircle {
    display: flex;
    padding: 12px;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--button-default-background);
    transition: background 0.3s ease-in-out;
    border: 2px solid transparent !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;

    &.primary {
        background:
            linear-gradient(
                    var(--button-default-background),
                    var(--button-default-background)
                )
                padding-box,
            var(--gradient-primary) border-box !important;
        box-shadow: 0px 8px 24px 0px rgba(119, 101, 242, 0.5);
    }

    &.gray {
        border: 1px solid var(--gray-300, #d0d5dd);
        box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
        height: 32px;
        width: 32px;
    }
}

[data-theme="dark"] {
    .buttonCircle {
        box-shadow: none !important;
    }
}

.buttonFillGradient {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 64px 6px 16px;
    border-radius: 100px;
    height: 52px;
    gap: 8px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 0px 8px 24px 0px rgba(119, 101, 242, 0.5);
    background: var(--gradient-primary);
    transition:
        background 0.3s,
        border 0.3s;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;

    span {
        color: var(--supporting-white);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.5px;
        transition: all 0.1s ease-in-out;
        user-select: none;
    }

    @media screen and (max-width: 500px) {
        span {
            color: var(--supporting-white);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px !important;
            letter-spacing: -0.5px;
        }
    }

    &.active {
        background: var(--button-default-background);
        border: 2px solid var(--gradient-primary);

        &::before {
            content: "";
            border-radius: 100px;
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: var(--gradient-primary);
            z-index: -1;
            opacity: 1;
            transition: opacity 0.3s;
        }

        span {
            color: var(--primary-400);
        }
    }

    .filterAndClose {
        position: absolute;
        padding: 10px;
        height: 44px;
        width: 44px;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 100px;
        background: var(--opacity-white-hard);
        transition: all 0.1s ease-in-out;

        &.active {
            background: var(--gradient-primary);
        }
    }
}

[data-theme="dark"] {
    .buttonFillGradient {
        box-shadow: none;
    }
}

//BUTTON RADIO

.containerRadio {
    padding: 8px 12px;
    width: min-content;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    border: 2px solid var(--supporting-white);
    background: var(--supporting-white);
    box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;

    .radio {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        border: 1px solid var(--gray-300);
        background: var(--supporting-white);
        transition: all 0.3s ease-in-out;

        span {
            height: 6px;
            width: 6px;
            border-radius: 3px;
            background-color: transparent;
            transition: all 0.3s ease-in-out;
        }
    }

    p {
        color: var(--gray-900);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.857%;
        letter-spacing: -0.5px;
        transition: all 0.3s ease-in-out;
    }

    &.active {
        border: 2px solid var(--primary-200);

        .radio {
            background: var(--gray-100);
            border-color: var(--primary-500);

            span {
                background-color: var(--primary-500);
            }
        }

        p {
            color: var(--primary-500);
        }
    }
}

[data-theme="dark"] {
    .containerRadio {
        border-color: var(--gray-300);
        background: var(--glass-bg-color);

        .radio {
            background: transparent;
        }
    }
}

.containerCloseButton {
    position: absolute;
    display: inline-flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--gray-300);
    background: var(--supporting-white);
    box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
    cursor: pointer;
    z-index: 22;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;
}

[data-theme="dark"] {
    .containerCloseButton {
        border-color: var(--gray-200);
        background: var(--gray-100);

        img {
            filter: invert(1);
        }
    }
}

//buttonCircleGradientFill

.buttonCircleGradientFill {
    border-radius: 50%;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    border: none !important;

    &.primary {
        background: var(--gradient-primary);
    }

    &.option-1 {
        background: var(--gradient-optional-1);
    }

    &.disabled {
        background: var(--gray-600);
        cursor: no-drop;
    }
}
