@mixin glass{
  position: absolute;
  width: 431px;
  height: 431px;
  border-radius: 300px;
  filter: blur(80px);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.glsProfile1{
  @include glass;
  background: rgba(135, 92, 255, 0.24);
  right: 0;
  top: 80px
}
.glsProfile2{
  @include glass;
  background: rgba(148, 249, 48, 0.26);
  left: 60%;
  top: 60%;
}
.glsProfile3{
  @include glass;
  background: rgba(100, 220, 246, 0.32);
  left: -20px;
  top: 70%;
}
.glsProfile4{
  @include glass;
  background: rgba(243, 145, 114, 0.32);
  top: -20px;
  left: 170px;
}
