.container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1.5rem 0.75rem 1.25rem 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    border-radius: 2rem;
    background: var(--background);
    z-index: 1;
}

.contentProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    .badges {
        display: inline-flex;
        gap: 0.75rem;
        align-items: center;

        .badge {
            overflow: hidden;
            width: 7.4375rem;
            padding: 0.5rem 0.5rem 0.3125rem 1rem;
            flex: 1 0 0;

            p {
                overflow: hidden;
            }
        }
    }
}

.buttons {
    padding: 0 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & > a {
        width: 100%;
        height: 2.5rem !important;
        padding: 0.625rem;
        border-radius: 1.25rem;
        background-color: var(--primary-500);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        & > span {
            color: var(--supporting-white);
            text-align: center;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.125rem;
            letter-spacing: -0.01125rem;
        }
    }
}
