.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1.5rem 0.75rem 1.25rem 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1.25rem;
  background-color: var(--BG-second);
  z-index: 1;
}

.contentProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  .badges {
    display: inline-flex;
    gap: 0.75rem;
    align-items: center;

    .badge {
      overflow: hidden;
      width: 7.4375rem;
      padding: 0.5rem 0.5rem 0.3125rem 1rem;
      flex: 1 0 0;

      p {
        overflow: hidden;
      }
    }
  }

  [data-geo] {
    & > img {
      display: none;
    }

    p {
      display: flex;
      -webkit-line-clamp: none;
      -webkit-box-orient: none;
      line-clamp: none;
      text-overflow: none;
      overflow: visible;
    }
  }
}

.buttons {
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
