.container{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 24px 12px 20px 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  border: 2px solid var(--supporting-white);
  background: var(--glass-bg-color-2);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.contentProfile{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .badges {
    display: inline-flex;
    gap: 12px;
    align-items: center;

    .badge {
      overflow: hidden;
      width: 119px;
      padding: 8px 8px 5px 16px;
      flex: 1 0 0;

      p {
        overflow: hidden;
      }
    }
  }
}

.buttons{
  padding: 0 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}