.wrapper {
  padding: 5.625rem 1.25rem 1.25rem;
  background: rgba(5, 1, 13, 0.5);
  z-index: 2017;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > section {
    position: relative;
    border-radius: 2rem;
    background: var(--BG-second);
    max-width: 30.625rem;
    width: 100%;

    display: flex;
    flex-direction: column;

    & > header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: 1.5rem 1.25rem;

      & > h3 {
        color: var(--text-primary);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
      }
    }

    & > form {
      width: 100%;
      padding: 2.5rem 3.75rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      & > fieldset {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & > label {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem;
        }

        & > i {
          color: var(--text-error);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.125rem;
          letter-spacing: -0.03125rem;
        }
      }
    }
  }

  [data-phone-div] {
    position: relative;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--grey-separator);
    background: var(--BG-second);
    overflow: hidden;
    cursor: pointer;
    z-index: 3;

    &[data-error="true"] {
      border-color: var(--text-error);
    }

    & > span {
      position: absolute;
      left: 0.25rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--text-primary);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
      letter-spacing: -0.01125rem;
    }

    & > input {
      background: transparent;
      border: none !important;
      outline: none !important;
      height: 100%;
      width: 100%;
      padding-left: 0.85rem;
      border-radius: 0;
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    padding: 0;

    & > section {
      border-radius: 0;
      height: 100%;
      max-width: 100%;

      & > header {
        height: 4.25rem;
        padding: 1.25rem;
        padding-bottom: 1rem;
      }

      & > form {
        padding-inline: 1.25rem;
      }
    }
  }
}
