.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  background: rgba(5, 1, 13, 0.6);

  &[data-visible="true"] {
    z-index: 2000;
  }

  & > section {
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: min-content;
    padding: calc(0.75rem + 1.5rem) 1.25rem 1.25rem;
    background-color: var(--BG-second);

    transform: translateY(100%);
    transition: var(--transition);
    transition-duration: 0.45s;
    transition-property: transform;

    & > [data-line-gray] {
      position: absolute;
      top: 0.75rem;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0.25rem;
      width: 2.75rem;
      border-radius: 0.125rem;
      background-color: var(--grey-separator);
    }

    & > [data-buttons] {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    & > article {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.75rem;

      & > div {
        display: flex;
        flex-direction: column;

        & > p {
          color: var(--text-secondary);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1rem; /* 133.333% */
          letter-spacing: -0.03125rem;

          & > a {
            color: var(--text-accent);
          }
        }
      }

      & > button {
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        border: none;
        outline: none;
        background-color: var(--grey-field);

        & > img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  &[data-visible="true"] {
    & > section {
      transform: translateY(0);
    }
  }
}
