.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: var(--supporting-white);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    &[data-active="false"] {
        & > img {
            filter: grayscale(1);
        }
    }
    &[data-active="true"] {
        & > img {
            filter: grayscale(0);
        }
    }

    & > p {
        color: var(--gray-400);
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.5px;
    }
}
