.wrapper {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: var(--transition);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > section {
        position: relative;
        min-height: calc(58px + 8px);
        height: fit-content;
        max-height: clamp(336px, calc(100% - 320px), 697px);
        max-width: 338px;
        width: 100%;
        border-radius: 33px;
        box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
        display: flex;
        flex-direction: column;

        &[data-type-offers="offer"] {
            background: var(--gradient-offer);
        }
        &[data-type-offers="discussion"] {
            background: var(--gradient-optional-1);
        }
        &[data-type-offers="alert"] {
            background: var(--SOS-CARD);
        }
        &[data-type-offers="request"] {
            background: var(--gradient-request);
        }
        img {
            &[data-img-close="true"] {
                position: absolute;
                top: 12px;
                right: 12px;
                cursor: pointer;
                &[data-visible="true"] {
                    display: none;
                }
            }
            &[data-logo-ballon="true"] {
                position: absolute;
                top: 4px;
                left: 4px;
                width: 58px;
                height: 58px;
                border-radius: 29px;
                box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.28);
            }
        }

        & > header {
            height: 66px;
            width: 100%;
            border-bottom: 1px solid var(--opacity-white-hard);

            &[data-alert="true"] {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-left: calc(4px + 58px + 4px);
                padding-right: calc(12px + 24px + 4px);

                & > button {
                    height: 36px;
                    max-width: 180px;
                    width: 100%;
                    border-radius: 18px;
                    border: none !important;
                    outline: none !important;
                    background: var(--success-500);
                    padding: 6px 12px;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                    span {
                        color: var(--supporting-white);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: -0.5px;
                    }
                }
            }

            &[data-offer="true"],
            &[data-request="true"] {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-left: calc(4px + 58px + 4px);
                padding-right: calc(12px);

                & > h3 {
                    color: var(--supporting-white);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: -0.5px;
                }
            }
        }

        & > [data-container-balloon="true"] {
            //START ALERT and DISCUSSION CONTENT

            &[data-alert="true"],
            &[data-discussion="true"],
            &[data-offer="true"],
            &[data-request="true"] {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 16px 12px 12px;

                & > [data-info-profile="true"] {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 15px;

                    & > [data-avatar-name="true"] {
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        & > img {
                            height: 38px;
                            width: 38px;
                            border-radius: 8.143px;
                        }

                        & > [data-name-rate="true"] {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 2px;

                            & > p {
                                color: var(--supporting-white);
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                                letter-spacing: -0.5px;
                            }

                            & > [data-rate="true"] {
                                width: min-content;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 4px 3.964px 3px 4px;
                                border-radius: 8px;
                                background: var(--primary-500);

                                span {
                                    color: var(--supporting-white);
                                    font-size: 8px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 117.5%;
                                }
                            }
                        }
                    }

                    & > p {
                        &[data-date-updated="true"] {
                            color: var(--supporting-white);
                            text-align: right;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            letter-spacing: -0.5px;
                        }
                    }
                }

                & > h3 {
                    width: 100%;
                    color: var(--supporting-white);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: -0.5px;
                }

                & > ul {
                    width: 100%;
                    padding-top: 7px;
                    display: grid;
                    grid-template-columns: repeat(4, calc(25% - 8px));
                    gap: 10px;

                    & > img {
                        height: auto;
                        aspect-ratio: 1/1;
                        width: 100%;
                        border-radius: 10px;
                        cursor: zoom-in;
                    }
                }
            }

            //END ALERT and DISCUSSION CONTENT

            & > [data-footer-buttons="true"] {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 17px;
                padding-right: 17px;

                & > button {
                    height: 36px;
                    max-width: 180px;
                    width: 100%;
                    border-radius: 18px;
                    border: none !important;
                    outline: none !important;
                    padding: 6px 12px;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                    &[data-offer="true"] {
                        background: var(--gradient-optional-1);
                    }
                    &[data-request="true"] {
                        background: var(--success-500);
                    }

                    span {
                        color: var(--supporting-white);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: -0.1px;
                        white-space: nowrap;
                    }
                }

                & > img {
                    cursor: pointer;
                }
            }
        }

        & > footer {
            width: 100%;
            border-top: 1px solid var(--opacity-white-hard);
            padding-top: 18px;
            padding-bottom: 12px;

            & > button {
                border: none;
                outline: none;
                padding: 8px 16px;
                border-radius: 18px;
                display: flex;
                flex-direction: row;
                width: min-content;
                gap: 4px;

                span {
                    color: var(--supporting-white);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.1px;
                    white-space: nowrap;
                }

                & > img {
                    height: 18px;
                    width: 18px;
                }
            }

            &[data-alert="true"] {
                width: 100%;
                min-height: 58px;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: fit-content;
                justify-content: center;

                & > button {
                    background: var(--opacity-white-hard);
                    &:focus,
                    &:hover {
                        outline: 1px solid var(--opacity-white-hard-1);
                    }

                    & > img {
                        filter: invert(1);
                    }
                }
            }

            &[data-discussion="true"] {
                width: 100%;
                min-height: 58px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: fit-content;
                padding-left: 14px;
                padding-right: 14px;
                & > button {
                    background: var(--primary-500);
                    &:focus,
                    &:hover {
                        outline: 1px solid var(--primary-200);
                    }
                }
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.close {
    width: 58px;
    height: 58px;
    padding: 17px;
    background-color: #fff !important;
    box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.28);

    & > img {
        height: 24px;
        width: 24px;
    }
}

[data-theme="dark"] {
    .close {
        & > img {
            filter: invert(0) !important;
        }
    }
}
