.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6.3125rem;
    background: var(--glass-bg-color-1);
    box-shadow: 0px 0.25rem 1.5rem 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    z-index: 120;

    @media screen and (max-device-width: 480px) {
        padding-top: constant(safe-area-inset-top);
        padding-top: env(safe-area-inset-top, 0);
        background: var(--glass-bg-color-1);
        box-shadow: 0px 0.25rem 1.5rem 0px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(4px);
    }

    .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding-top: 0.875rem;

        .logoAndNotifications {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.25rem;

            .containerNotification {
                position: relative;
                padding: 0.6875rem;
                height: 2.75rem;
                width: 2.75rem;
                flex-shrink: 0;
                border-radius: 0.75rem;
                border: 1px solid var(--gray-200);
                background: var(--background-input);

                .badge {
                    position: absolute;
                    padding-left: 0.3981rem;
                    padding-right: 0.3981rem;
                    transform: translate(-50%, -50%);
                    top: 0;
                    left: calc(100% - 0.3125rem);
                    height: 1.125rem;
                    width: 1.125rem;
                    border-radius: 1.125rem;
                    border: 0.562px solid #fff;
                    background: var(--primary-400);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        color: #fff;
                        text-align: center;
                        font-size: 0.625rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 0.625rem;
                    }
                }
            }

            & > [data-not] {
                height: 2.75rem;
                padding: 1.375rem;
                width: 2.75rem;
            }
        }

        .segments {
            padding: 0 1.25rem;
        }
    }
}

[data-theme="dark"] {
    .header {
        background: var(--glass-bg-color-2);
        backdrop-filter: blur(0.63rem);

        .containerNotification {
            & > img {
                filter: invert(1);
            }
        }
    }
}

.containerSearchTop {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 2.5rem;
    z-index: 2;
    max-width: 21.625rem;
    width: 100%;
    min-width: 150px;
}
