.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 141px;
  background: var(--glass-bg-color-1);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(4px);
  z-index: 10;

  @media screen and (max-device-width: 480px) {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top, 0);
    background: var(--glass-bg-color-1);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
  }

  .container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;

    .logoAndNotifications{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      .containerNotification{
        position: relative;
        padding: 11px;
        height: 44px;
        width: 44px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid var(--gray-200);
        background: var(--supporting-white);

        .badge{
          position: absolute;
          padding-left: 6.37px;
          padding-right: 6.37px;
          transform: translate(-50%, -50%);
          top: 0;
          left: calc(100% - 5px);
          height: 18px;
          width: 18px;
          border-radius: 18px;
          border: 0.562px solid #FFF;
          background: var(--primary-400);
          display: flex;
          align-items: center;
          justify-content: center;

          span{
            color: #FFF;
            text-align: center;
            font-size: 10.125px;
            font-style: normal;
            font-weight: 700;
            line-height: 10.125px;
          }
        }
      }
    }

    .segments{
      padding: 0 20px;
    }
  }
}














.containerSearchTop {
  position: fixed;
  top: 40px;
  z-index: 99;
  margin: 0 auto;
  width: 346px
}