.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 36px;

    & > [data-is-motion] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        max-width: 180px;
        width: 100%;
        height: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        background: transparent;
        transition: all var(--transition);
        cursor: pointer;
        padding: 8px;
        border: 2px solid transparent;

        &[data-open="true"] {
            height: fit-content;
            max-width: 370px;
            background: var(--background);
            border: 2px solid var(--stroke-1);
            border-radius: 18px;
        }
    }

    [data-help] {
        height: 36px;
        max-width: 180px;
        width: 100%;
        border-radius: 18px;
        border: none !important;
        outline: none !important;
        padding: 6px 12px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: var(--success-500);
        cursor: pointer;

        & > span {
            color: var(--supporting-white);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.1px;
            white-space: nowrap;
        }
    }

    [data-enter] {
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 8px;

        & > [data-close] {
            width: 24px;
            height: 24px;
            padding: 4px;

            & > div {
                width: 16px;
                height: 16px;
            }
        }

        h3 {
            color: var(--gray-500);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.3px;
        }

        & > button {
            height: 36px;
        }
    }

    &[data-is-me="true"] {
        [data-help] {
            background-color: var(--gray-500);
            cursor: no-drop;

            & > span {
                color: var(--gray-200);
            }
        }
    }
}
