.container1,
.container2,
.container3,
.container4 {
  width: 100%;
  height: 100%;

  & > [data-block-text] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    & > h1,
    & > p,
    & > i {
      line-height: 153.5%;
      text-align: center;
      font-style: normal;
    }

    & > h1 {
      color: var(--gray-900);
      font-size: 3rem;
      font-weight: 600;
    }
    & > p {
      color: var(--gray-500);
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 !important;
    & > [data-block-text="true"] {
      transform: none !important;
      position: relative;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      gap: 0.5rem;
      inset: initial;
      max-width: 100%;
      & > h1 {
        font-size: 1.5rem;
        letter-spacing: -0.03125rem;
      }
      & > p {
        font-size: 0.75rem;
        letter-spacing: -0.03125rem;
      }
      & > i {
        font-size: 0.65rem;
        letter-spacing: -0.03125rem;
      }
    }

    & > [data-absolute-image] {
      position: relative;
      width: 100%;
    }
  }
}

.container1 {
  & > [data-absolute-image] {
    position: absolute;
    top: 44px;
    left: 33px;
    bottom: 77px;
    height: calc(100% - 44px - 77px);
    width: auto;
    aspect-ratio: 376/552;
    overflow: hidden;

    & > img {
      width: 100%;
      height: auto;
      aspect-ratio: 722/1802;
      z-index: 2;
    }
  }

  & > [data-block-text="true"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 46px;
    max-width: 483px;
  }
  @media screen and (max-width: 768px) {
    & > [data-absolute-image] {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      top: initial;
      left: initial;
      bottom: initial;
      aspect-ratio: 233/140;
      & > img {
        width: 40vw;
      }
    }
  }
}

.container2 {
  padding: 13px 50px calc(8% + 20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  & > [data-absolute-image="true"] {
    position: relative;
    aspect-ratio: 790/342;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .divider {
      max-width: 100%;
    }

    & > img {
      width: auto;
      height: 100%;
      aspect-ratio: 790/342;
      object-fit: cover;
      z-index: 2;
    }
  }

  & > [data-block-text="true"] {
    width: 100%;
    & > i {
      color: var(--gray-500);
      font-style: italic;
      font-size: 1.15rem;
      padding-top: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    & > [data-absolute-image] {
      aspect-ratio: 233/140;
    }
  }
}

.container3 {
  padding: 13px 30px calc(8% + 20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  & > [data-absolute-image="true"] {
    width: 100%;
    height: auto;
    aspect-ratio: 766/290;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > img {
      width: 70%;
      height: auto;
      aspect-ratio: 600/610;
    }
  }

  & > [data-block-text="true"] {
    max-width: calc(86vw);
    width: 100%;
  }
}

.container4 {
  position: relative;
  padding: 13px 0px calc(8% + 20px) 30px;

  & > [data-absolute-image] {
    position: absolute;
    right: 0;
    bottom: calc(8% + 10px);
    left: 60%;
    top: calc(8% + 10px);
    overflow: hidden;

    & > img {
      aspect-ratio: 393/1194;
      height: auto;
      width: 100%;
      z-index: 2;
    }

    .divider {
      max-width: 100%;
    }
  }

  & > [data-block-text="true"] {
    position: absolute;
    top: 12%;
    left: 4%;
    right: 40%;
    bottom: calc(8% + 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    & > i {
      padding-top: 20px;
      color: var(--gray-500);
      font-style: italic;
      font-size: 1.15rem;
    }
  }

  @media screen and (max-width: 768px) {
    & > [data-absolute-image] {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      inset: initial;
      aspect-ratio: 233/140;
      & > img {
        width: 50vw;
      }
    }
  }
}

.divider {
  position: absolute;
  bottom: 0;
  height: 4px;
  max-width: 376px;
  width: 100%;
  background: #ffe2c7;
  z-index: -1;
}
