.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  footer {
    position: absolute;
    transform: translateX(-50%);
    width: min-content;
    left: 50%;
    bottom: 8%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 59px;
    z-index: 10;

    ul {
      display: inline-flex;
      flex-direction: row;
      width: min-content;
      height: min-content;
      gap: 6px;
      z-index: 1;

      li {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #e3e4e8;
        }
        &.active {
          cursor: no-drop;
          div {
            background: var(--primary-500);
          }
        }
      }
    }
  }
}

.contentPage {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .titleAndDescription {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    h2 {
      color: var(#363757);
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 153.5%;
    }
    p {
      color: rgba(54, 55, 87, 0.6);
      text-align: center;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 153.5%;
    }
  }

  @media screen and (max-width: 760px) {
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.5px;
    }
    p {
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem;
      letter-spacing: -0.5px;
    }
  }
}
