.default {
  top: calc(var(--height-header-nav-bar) + 1.5rem);
  height: calc(100vh - var(--height-header-nav-bar) - 3rem);
}

.banner {
  top: calc(var(--height-header-nav-bar) + 1.5rem + var(--height-banner));
  height: calc(100% - var(--height-header-nav-bar) - 3rem - var(--height-banner));
}
