.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 152px;
  width: 100%;
  height: 196px;
  overflow: hidden;
  border-radius: 16px;
  border: 2px dashed var(--gray-300);
  background: var(--glass-bg-color-3);
  cursor: pointer;
  z-index: 20;

  input[type="file"] {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 20;
  }

  .photo {
    position: absolute;
    inset: 0;
    height: 196px;
    width: 152px;
    z-index: 30;
  }
}

[data-tablet="true"],
[data-tablet="true"] {
  .container {
    aspect-ratio: 152/196;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
