.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: auto;

  & > [data-button-forward] {
    height: 2.25rem;
    // background: var(--more-blue-gradient);

    & > img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  & > section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.75rem;

    & > div {
      display: flex;
      flex-direction: column;

      & > p {
        color: var(--text-secondary);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem; /* 133.333% */
        letter-spacing: -0.03125rem;

        & > a {
          color: var(--text-accent);
        }
      }
    }

    & > button {
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      border: none;
      outline: none;
      background-color: var(--grey-field);

      & > img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
