$width-left-aside-profile: var(--width-left-aside-profile);

.asideLeft {
  max-width: $width-left-aside-profile;
  height: calc(100vh - var(--height-header-nav-bar) - 3rem);

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    display: none;
  }

  * {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  &[data-is-banner="true"] {
    top: calc(var(--height-header-nav-bar) + 1.5rem + 2.75rem);
    height: calc(100vh - var(--height-header-nav-bar) - 3rem - 2.75rem);
  }

  transition-duration: 700ms;
  transition-property: transform;
  transition-timing-function: ease;
}

[data-theme="light"] {
  .asideLeft {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  }
}
[data-theme="dark"] {
  .asideLeft {
    box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7);
  }
}
