.asideLeft {
  position: fixed;
  top: calc(var(--height-header-nav-bar) + 1.5rem);
  left: 1.5rem;
  bottom: 1.5rem;
  width: 100%;
  border-radius: 2rem;
  max-width: var(--width-left-aside-profile);
  height: calc(100vh - var(--height-header-nav-bar) - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  background: var(--BG-second);
  z-index: 2;

  & > ul {
    width: 100%;
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}

[data-theme="light"] {
  .asideLeft {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  }
}
[data-theme="dark"] {
  .asideLeft {
    box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7);
  }
}

[data-mobile="true"] {
  .asideLeft {
    display: none;
  }
}
