.asideLeft {
  position: fixed;
  top: calc(4.875rem);
  left: 0;
  bottom: 1.5rem;
  width: 100%;
  max-width: 17.5rem;
  height: calc(100vh - 4.875rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0;
  background: var(--BG-second);
  z-index: 2;

  & > ul {
    width: 100%;
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}

[data-theme="light"] {
  .asideLeft {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  }
}

[data-mobile="true"] {
  .asideLeft {
    display: none;
  }
}
