.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px !important;
    height: 32px !important;
    border-radius: 16px;
    background: transparent;
    border: 2px solid var(--gray-300);
    transition: padding 0.3s ease-in-out 0.01s;

    &.finished {
        background: var(--primary-500);
        border-color: var(--primary-500);
    }
    &.in_process {
        box-shadow:
            var(--gray-300) 0px 1px 4px,
            var(--gray-300) 0px 0px 0px 3px;
        border-color: var(--primary-500);
        padding: 8px;
    }
    &.not_active {
        padding: 14px;

        .circle {
            height: 0;
            width: 0;
            border-radius: 6px;
            background: var(--primary-500);
        }
    }

    .circle {
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background: var(--primary-500);
    }
}
