.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    & > p {
        color: var(--gray-500);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0px;
    }

    .selectAndTextarea {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
}

[data-mobile="true"] {
    .wrapper {
        gap: 20px;
        & > p {
            font-size: 16px;
            line-height: 24px;
        }

        .photos {
            gap: 20px 20px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.photos {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 16px 16px;
    grid-template-columns: repeat(3, 150px);
    z-index: 2;
}
