@mixin gradient {
  content: "";
  position: absolute;
  z-index: -1;
  width: 2075px;
  height: 1767px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(250, 114, 107) 1.388%,
    rgba(233, 111, 122, 0.88) 15.254%,
    rgba(214, 108, 138, 0.75) 27.809%,
    rgba(194, 104, 155, 0.61) 39.862%,
    rgba(106, 89, 230, 0) 91%
  );
}

.landing-page {
  position: fixed;
  z-index: 10000;
  inset: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #6a59e6;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    display: none;
  }

  & > article {
    width: 100%;
    position: relative;
    z-index: 3;

    & > [data-text] {
      position: absolute;
      background-color: rgb(248, 245, 254);
      border-radius: 0.94rem;
      width: 100%;
      padding: 1.875rem 2.75rem 2rem 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      z-index: 20;
      box-shadow: 3px 4px 25px 0px rgba(83, 69, 175, 0.16);

      & > p {
        color: rgb(43, 35, 89);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.625rem;
        text-align: left;

        & > span {
          font-weight: 700;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 2rem;
        width: 1rem;
        height: 1rem;
        border-radius: 0.125rem;
        z-index: 1;
        background-color: #fff;
        transform: rotate(45deg);
      }
    }

    &[data-one] {
      aspect-ratio: 2048/1384;
      height: auto;

      &::before {
        @include gradient;
        left: -598px;
        right: -197px;
        top: -884px;
      }

      & > [data-svg-1] {
        width: 100%;
        height: auto;
        aspect-ratio: 2048/1384;
        z-index: 2;
      }

      & > [data-svg-1-mobile] {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
      }

      & > section {
        position: absolute;
        z-index: 10;
        top: 0;
        width: 100%;
        height: 50%;
        bottom: 50%;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4.625rem;

        & > [data-links] {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1.0625rem;

          & > a {
            position: relative;
            z-index: 5;
            height: 2.75rem;
            width: 2.75rem;
            border-radius: 1.375rem;
            border: 1px solid #fff;
            box-shadow: 0rem 0.69rem 1.25rem 0rem rgba(100, 104, 115, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;

            &[data-google] {
              padding: 0.625rem;

              & > svg {
                height: 1.5rem;
                width: 1.5rem;
              }
            }
            &[data-apple] {
              padding: 0.625rem;
              align-items: flex-start;

              & > svg {
                height: calc(1.5rem);
                width: calc(1.5rem);
              }
            }

            &[data-vk] {
              padding-bottom: 0.675rem;
              align-items: flex-end;
              & > svg {
                aspect-ratio: 32/20;
                height: auto;
                width: 1.975rem;
              }
            }

            &[data-star] {
              padding: 0.275rem;
              & > svg {
                aspect-ratio: 1/1;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        & > [data-main-logo] {
          display: flex;
          flex-direction: column;
          align-items: center;

          & > svg {
            aspect-ratio: 140/37;
            width: 23.1875rem;
            height: auto;
          }

          & > p {
            color: #fff;
            font-size: 1.375rem;
            font-weight: 400;
            line-height: 1.875rem;
            text-align: center;
            padding-block: 1.625rem 1.5rem;
          }

          & > a {
            padding: 0.625rem 1.25rem;
            height: 3.25rem;
            width: 17.5rem;
            border-radius: 1.625rem;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            & > span {
              color: rgb(58, 50, 117);
              font-size: 1.125rem;
              font-weight: 500;
              line-height: 1.75rem;
              text-align: center;
            }
          }
        }
      }

      @media screen and (max-width: 760px) {
        &::before {
          left: -898px;
          transform: scale(0.7);
        }

        & > [data-svg-1] {
          display: none;
        }

        & > [data-svg-1-mobile] {
          display: block;
          width: 100%;
          height: auto;
          aspect-ratio: 720/1616;
          z-index: 2;
        }

        & > section {
          gap: 1.375rem;

          & > [data-links] {
            order: 1;
          }

          & > [data-main-logo] {
            order: 0;
            max-width: 17.5rem;

            & > svg {
              width: 100%;
              max-width: 11.8125rem;
            }

            & > p {
              max-width: 13.4375rem;
              padding-block: 1.25rem 1rem;
            }
          }
        }
      }
    }

    &[data-two] {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 10.25rem;
      padding-inline: 1.25rem;

      & > section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 39.0625rem;
        width: 100%;

        & > p {
          color: #fff;
          font-size: 1.425rem;
          font-weight: 400;
          line-height: 1.875rem;
          text-align: left;

          & > span {
            font-weight: 500;
          }
        }
      }

      @media screen and (max-width: 760px) {
        padding-block: 5rem;
        padding-inline: 1.875rem;

        & > section {
          max-width: 100%;

          & > p {
            font-size: 1.125rem;
            line-height: 1.375rem;
          }
        }
      }
    }

    &[data-three] {
      aspect-ratio: 2048/1360;
      height: auto;
      z-index: 8;

      & > [data-svg-3],
      & > [data-svg-3-mobile] {
        width: 100%;
        height: auto;
        z-index: 2;
      }

      & > [data-svg-3] {
        aspect-ratio: 2048/1360;
      }

      & > [data-svg-3-mobile] {
        display: none;
        aspect-ratio: 720/1328;
      }

      & > [data-text] {
        right: 50%;
        max-width: 30.25rem;
        top: 55%;
        transform: translateY(-50%);

        &::after {
          right: -0.475rem;
        }
      }

      @media screen and (max-width: 760px) {
        display: flex;
        flex-direction: column;
        gap: 0;

        & > [data-svg-3] {
          display: none;
        }

        & > [data-svg-3-mobile] {
          display: block;
        }
      }
    }

    &[data-pre-four] {
      padding-top: 9.375rem;
      height: auto;

      &::before {
        @include gradient;
        right: -25%;
        top: 8rem;
        transform: translate(-10%, -50%) scale(1.2);
      }

      & > [data-text] {
        left: 56%;
        top: 35%;
        max-width: 30.25rem;

        &::after {
          left: -0.475rem;
        }
      }

      & > [data-svg-pre-4],
      & > [data-svg-pre-4-mobile] {
        width: 100%;
        height: auto;
      }

      & > [data-svg-pre-4] {
        aspect-ratio: 2048/934;
      }

      & > [data-svg-pre-4-mobile] {
        display: none;
        aspect-ratio: 720/868;
      }

      @media screen and (max-width: 760px) {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 0;

        & > [data-svg-pre-4] {
          display: none;
        }

        & > [data-svg-pre-4-mobile] {
          display: block;
        }

        &::before {
          right: inherit !important;
          left: 100%;
          top: -5rem;
          transform: translate(-60%, -50%) scale(0.8);
        }
      }
    }

    &[data-four] {
      padding-top: 9.375rem;
      height: auto;

      & > [data-text] {
        right: 55.7%;
        max-width: 30.25rem;
        top: 21.6%;

        &::after {
          right: -0.475rem;
        }
      }

      & > [data-svg-4],
      & > [data-svg-4-mobile] {
        width: 100%;
        height: auto;
      }

      & > [data-svg-4] {
        aspect-ratio: 2048/1079;
      }

      & > [data-svg-4-mobile] {
        display: none;
        aspect-ratio: 720 / 1090;
      }

      @media screen and (max-width: 760px) {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 0;

        & > [data-svg-4] {
          display: none;
        }

        & > [data-svg-4-mobile] {
          display: block;
        }
      }
    }

    &[data-five] {
      padding-top: 9.375rem;
      height: auto;
      z-index: 8;

      & > [data-text] {
        left: 55.7%;
        top: calc(41.4% + 10rem);
        transform: translateY(-50%);
        max-width: 30.25rem;

        &::after {
          left: -0.475rem;
        }
      }

      & > [data-svg-5],
      & > [data-svg-5-mobile] {
        width: 100%;
        height: auto;
      }

      & > [data-svg-5] {
        aspect-ratio: 2048/1020;
      }

      & > [data-svg-5-mobile] {
        display: none;
        aspect-ratio: 720/933;
      }

      @media screen and (max-width: 760px) {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 0;

        & > [data-svg-5] {
          display: none;
        }

        & > [data-svg-5-mobile] {
          display: block;
        }
      }
    }

    &[data-six] {
      padding-top: 9.375rem;

      &::before {
        @include gradient;
        right: -40%;
        top: 25rem;
        transform: translate(-10%, -50%) scale(0.8);
      }

      & > [data-text] {
        right: 55.7%;
        max-width: 25.75rem;
        top: calc(36.5% + 10rem);
        transform: translateY(-50%);

        &::after {
          right: -0.475rem;
        }
      }

      & > [data-svg-6],
      & > [data-svg-6-mobile] {
        width: 100%;
        height: auto;
      }

      & > [data-svg-6] {
        aspect-ratio: 2048/973;
      }

      & > [data-svg-6-mobile] {
        display: none;
        aspect-ratio: 720/1037;
      }

      @media screen and (max-width: 760px) {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 0;

        & > [data-svg-6] {
          display: none;
        }

        & > [data-svg-6-mobile] {
          display: block;
        }

        &::before {
          right: inherit !important;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0.45);
        }
      }
    }

    &[data-suffix-description] {
      padding-block: 12.3125rem 0.5rem;
      padding-inline: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 8;

      & > section {
        width: 100%;
        max-width: 39.0625rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & > p {
          color: #fff;
          font-size: 1.475rem;
          font-weight: 400;
          line-height: 1.875rem;
          text-align: left;
        }
      }

      @media screen and (max-width: 760px) {
        padding: 1.5625rem 1.875rem 5rem;

        & > section {
          max-width: 100%;

          & > p {
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.375rem;
          }
        }
      }
    }

    &[data-last-city] {
      padding-bottom: 16.5625rem;

      & > [data-svg-last-city],
      & > [data-svg-last-city-mobile] {
        width: 100%;
        height: auto;
      }

      & > [data-svg-last-city] {
        aspect-ratio: 2048/1487;
      }

      & > [data-svg-last-city-mobile] {
        aspect-ratio: 720/1094;
        display: none;
      }

      & > a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10.5625rem;
        padding: 0.625rem 1.25rem;
        height: 3.25rem;
        width: 17.5rem;
        border-radius: 1.625rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        & > span {
          color: rgb(58, 50, 117);
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.75rem;
          text-align: center;
        }
      }

      @media screen and (max-width: 760px) {
        padding-bottom: 12.125rem;

        & > [data-svg-last-city] {
          display: none;
        }
        & > [data-svg-last-city-mobile] {
          display: block;
        }

        & > a {
          width: calc(100% - 5rem);
          left: 2.5rem;
          right: 2.5rem;
          bottom: calc(5rem);
          transform: none;
        }
      }
    }
  }

  & > footer {
    position: relative;
    width: 100%;
    background-color: #3a3275;
    padding-block: 3.3125rem 3.75rem;
    padding-inline: 5rem;

    display: grid;
    grid-template-columns: 47.734375% 1fr;
    gap: 3.375rem;

    & > section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      & > h4 {
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        text-transform: uppercase;
      }

      & > article {
        display: flex;
        flex-direction: column;
        gap: 0.0625rem;

        & > p {
          color: #b3a9ef;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.275rem;
          text-align: left;

          & > span {
            color: #fff;
          }
        }
      }

      & > [data-market] {
        display: flex;
        flex-direction: row;
        gap: 1.75rem;

        & > svg {
          height: 2.5rem;
          width: auto;
        }
      }
    }

    @media screen and (max-width: 760px) {
      padding: 3.0625rem 1.25rem 5.5625rem;
      display: flex;
      flex-direction: column;
      gap: 2.5625rem;

      & > section {
        gap: 1.125rem;

        & > [data-market] {
          gap: 1.375rem;
        }
      }
    }
  }

  @media screen and (max-width: 760px) {
    & > article {
      & > [data-text] {
        position: relative;
        max-width: calc(100% - 2.5rem) !important;
        margin-inline: 1.25rem;
        padding: 1.375rem 1.25rem 1.5rem;
        left: inherit !important;
        right: inherit !important;
        bottom: inherit !important;
        top: inherit !important;
        transform: translate(0, 0) !important;

        & > p {
          color: rgb(31, 31, 31);
          font-size: 1rem;
          line-height: 1.325rem;
        }

        &::after {
          top: inherit !important;
          right: inherit !important;
          z-index: -2;
          transform: rotate(45deg);
          bottom: -0.5rem;
          left: calc(50% - 0.75rem) !important;
        }
      }
    }
  }
}
