@mixin flexColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    z-index: 2;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2.75rem;
    z-index: 3;
}

[data-mobile="true"] {
    .container {
        flex-direction: column;
        gap: 0.75rem;
    }
}

.informationProfileColumn {
    @include flexColumn();
    gap: 0.75rem;
}

.adressProfileColumn {
    @include flexColumn();
    gap: 0.5rem;

    .adressTitleAbout {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        h5,
        p {
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.5px;
        }

        h5 {
            color: var(--gray-900);
            font-size: 14px;
            line-height: 1.25rem;
        }
        p {
            color: var(--gray-600);
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
    }
}
