.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.button {
    max-width: 300px;

    &.mobile {
        max-width: 100%;
    }
}
