.containerClose {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--gray-300);
    background: var(--supporting-white);
    box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
    cursor: pointer;
}

.containerLiNew {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 84px;
    max-width: 395px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-1);
    cursor: pointer;
    z-index: 2;

    &:hover {
        box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
    }

    p {
        color: var(--gray-900);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 133%;
        letter-spacing: 0px;
    }
}

[data-mobile="true"] {
    .containerLiNew {
        height: 60px;
        max-width: 100%;

        p {
            font-size: 18px;
            line-height: 28px;
        }
    }
}
