.containerClose {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--gray-300);
  background: var(--supporting-white);
  box-shadow: 0px 11px 1.25rem 0px rgba(100, 104, 115, 0.1);
  cursor: pointer;
}

.containerLiNew {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3.75rem;
  max-width: 22.5rem;
  width: 100%;
  border-radius: 1.875rem;
  border: 1px solid;
  border-color: var(--grey-stroke-light);
  background: var(--BG-second);
  cursor: pointer;
  z-index: 2;

  transition: var(--transition);
  transition-property: border-color;

  p {
    color: var(--text-primary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.01125rem;
  }

  &[data-onboarding="true"] {
    border: 1px solid var(--element-accent-1);

    &:hover {
      background: var(--element-accent-1);

      & > p {
        color: var(--text-button);
      }
    }
  }

  &:hover {
    border: 1px solid var(--element-accent-1);
  }

  &[data-not="true"] {
    cursor: default;
  }
}

[data-mobile="true"] {
  .containerLiNew {
    height: 60px;
    max-width: 100%;

    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
