@mixin glasses {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    filter: blur(80px);
    border-radius: 300px;
}

.glass1 {
    @include glasses();
    background: rgba(243, 145, 114, 0.32);
    top: 0;
    left: 0;
}

.glass2 {
    @include glasses();
    background: rgba(100, 220, 246, 0.32);
    left: 110px;
    top: calc(100% + 30px);
}

.glass3 {
    @include glasses();
    background: rgba(135, 92, 255, 0.32);
    top: 50%;
    left: calc(100% - 30px);
}

.containerClose {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--gray-300);
    background: var(--supporting-white);
    box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
    cursor: pointer;
}

.containerLiNew {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 84px;
    max-width: 395px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-1);
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
    }

    p {
        color: var(--gray-900);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 133%;
        letter-spacing: -0.5px;
    }
}
