.containerLiNew {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3.5rem;
  max-width: 22.5rem;
  width: 100%;
  border-radius: 1.75rem;
  border: 1px solid;
  border-color: var(--grey-stroke-light);
  background: var(--BG-second);
  cursor: pointer;
  z-index: 2;

  & > [data-alert] {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--text-error);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.375rem;
  }

  & > svg {
    width: 2rem;
    height: 2rem;
  }

  p {
    color: var(--text-primary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
  }

  &[data-onboarding="true"] {
    border-color: var(--element-accent-1);
  }

  &:hover,
  &:focus {
    border-color: var(--element-accent-1);
    background-color: var(--element-accent-1);

    & > [data-alert] {
      background-color: var(--element-white);

      & > svg {
        path {
          fill: var(--text-error);
        }
      }
    }

    & > [data-offer-svg] > path,
    & > [data-discussion-svg] > g > path {
      fill: var(--text-button);
    }
  }

  &[data-not="true"] {
    cursor: default;
  }
}

[data-mobile="true"] {
  .containerLiNew {
    max-width: 100%;
  }
}
