.wrapper {
  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;

  &[data-visible="true"] {
    z-index: 1050;
  }

  & > section {
    position: relative;
    height: fit-content;
    width: 100%;
    max-width: 31.25rem;
    border-radius: 2rem;
    background: var(--BG-second);
    padding: 4.75rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    align-items: center;
    z-index: 2;

    h3 {
      color: var(--text-primary);
      text-align: center;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2rem;
    }

    ul {
      height: 100%;
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}

[data-tablet="true"] {
  .wrapper {
    padding: 0;
    justify-content: flex-end;

    & > section {
      transform: translateY(100%);
      max-width: 100%;
      padding: 2.25rem 1.25rem 2.25rem;
      gap: 1.875rem;
      border-radius: 2rem 2rem 0 0;

      transition: var(--transition);
      transition-duration: 0.45s;
      transition-property: transform;

      & > [data-close] {
        top: 0 !important;
        right: 0 !important;
        background: transparent !important;
        border-color: transparent !important;
      }

      h3 {
        font-size: 1.25rem;
      }
      ul {
        gap: 1rem;
        overflow: hidden;
        overflow-y: auto;
      }
    }

    &[data-visible="true"] {
      & > section {
        transform: translateY(0);
      }
    }
  }
}

[data-theme="dark"] {
  .wrapper {
    backdrop-filter: blur(0.25rem);
  }
}
