.containerLi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 84px;
    width: 100%;
    max-width: 395px;
    border-radius: 100px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-1);
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
    }

    p {
        color: var(--gray-900);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 133%;
        letter-spacing: -0.5px;
    }

    &[data-mobile="true"] {
        height: 60px;
        max-width: 100%;

        & > p {
            font-size: 18px;
        }
    }
}
