.container {
  transition-duration: 700ms;
  transition-property: transform;
  transition-timing-function: ease;
}

.container {
  position: fixed;
  z-index: 15;
  right: 1.25rem;
  bottom: calc(4.25rem + 6.5rem + 1rem);
  display: flex;
  flex-direction: column;
  gap: 5.75rem;
  width: 3rem;
  transform: translateY(0);

  &[data-transform="true"] {
    transform: translateY(-4rem);
  }

  & > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    background: var(--BG-second);
    overflow: hidden;

    & > button {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0.875rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(0.875rem + 1.25rem + 0.75rem);

      &[data-plus] {
        padding-bottom: 0.75rem;
      }
      &[data-minus] {
        padding-top: 0.75rem;
      }

      &:disabled {
        background-color: var(--btn-second-default);
        cursor: no-drop;
      }

      & > [data-icon] {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.125rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > svg {
          width: 1rem;
          height: 1rem;
        }
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  & > button {
    aspect-ratio: 1/1;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.875rem;
    border-radius: 0.625rem;
    border: none;
    outline: none;
    background: var(--BG-second);

    & > svg {
      width: 1.25rem;
      height: 1.25rem;

      & > g {
        & > path {
          fill: var(--element-accent-2);
        }
      }
    }
  }
}

[data-theme="dark"] {
  .container {
    & > button,
    & > section {
      box-shadow: 0px 6px 12px 0px rgba(32, 32, 32, 0.4);
    }
  }
}
[data-theme="light"] {
  .container {
    & > button,
    & > section {
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
