.popupFilter {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  bottom: 14px;
  left: 50%;
  width: 554px;
  height: 106.112px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.09);
  border: 2px solid rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(4px);
  flex-shrink: 0;
  z-index: 5;
  transition: all 0.5s ease-in-out 0.05s;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .content{
    position: relative;
    height: 100%;
    max-width: 554px;
    width: 100%;
    background: transparent;
    overflow-x: auto;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;

    li{
      max-height: 38px;
      width: min-content;
      display: flex;
      padding: 5px 12px 5px 5px;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      border-radius: 100px;
      border: 1px solid var(--gray-200);
      background: var(--supporting-white);
      cursor: pointer;

      .icon{
        width: 28px;
        height: 28px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: var(--supporting-white);
      }

      p{
        color: var(--gray-900);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.5px;
      }

      &.active{
        background: var(--gradient-optional-1);
        transition: all 0.2s ease-in-out 0.01s;
        p{
          color: var(--supporting-white);
        }
      }
    }
  }
}

.button{
  position: absolute;
  width: 34px;
  height: 34px;
  padding: 8px;
  border-radius: 100px;
  border: 1px solid var(--gray-300);
  background: var(--supporting-white);
  box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  cursor: pointer;

  &.prev{
    left: -8px;
    transform: translate(-100%, -50%);
  }

  &.next{
    right: -8px;
    transform: translate(100%, -50%);
  }
}