.popupFilter {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    bottom: 14px;
    left: 50%;
    width: 554px;
    height: 106.112px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.09);
    border: 2px solid rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(4px);
    flex-shrink: 0;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    & > ul {
        position: relative;
        height: 100%;
        max-width: 554px;
        width: 100%;
        background: transparent;
        overflow-x: auto;
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 12px;

        li {
            height: 38px;
            width: min-content;
            display: flex;
            padding: 5px 12px 5px 5px;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            border-radius: 19px;
            border: 1px solid var(--gray-200);
            background: var(--button-default-background);
            cursor: pointer;
            transition: background 0.3s ease-in-out;

            & > [data-icon] {
                width: 28px;
                height: 28px;
                padding: 14px;
                border-radius: 14px;
                background: var(--button-default-background);
                border: 1px solid var(--stroke-1);
            }

            p {
                color: var(--gray-900);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.5px;
                white-space: nowrap;
            }

            &.active {
                background: var(--gradient-optional-1);
                p {
                    color: var(--supporting-white);
                }
            }
        }
    }
}

.button {
    position: absolute;
    width: 34px;
    height: 34px;
    padding: 8px;
    border-radius: 100px;
    border: 1px solid var(--stroke-1);
    background: var(--button-default-background);
    box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    cursor: pointer;

    &.prev {
        left: -8px;
        transform: translate(-100%, -50%);
    }

    &.next {
        right: -8px;
        transform: translate(100%, -50%);
    }
}

.inputSearch {
    position: absolute;
    top: 0;
    left: 50%;
    height: 52px;
    transform: translate(-50%, -50%);
    max-width: 346px;
}
