.container {
    position: absolute;
    border-radius: 32px;
    background: var(--background);
    display: none;
    max-width: 398px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0.01s;
    padding: 12px;
    top: 50%;
    left: 50%;
    z-index: 25;

    &.open {
        display: flex;
        flex-direction: column;
        gap: 16px;
        opacity: 1;
        visibility: visible;
    }

    h3 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        line-height: 44px;
        color: var(--gray-900);
    }

    & > section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.containerLiNew {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 84px;
    max-width: 395px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-1);
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
    }

    p {
        color: var(--gray-900);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 133%;
        letter-spacing: 0px;
    }

    &.mobile {
        height: 60px;
        max-width: 100%;

        p {
            font-size: 18px;
            line-height: 28px;
        }
    }
}
