.container {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 32px;
    background: var(--background);
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 398px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    transition-property: opacity;
    padding: 12px;
    z-index: 25;
    padding-bottom: 20px;
    padding-top: 20px;
    transform: translate(-50%, -50%);

    &[data-visible="true"] {
        opacity: 1;
        visibility: visible;
    }

    & > [data-close] {
        height: 44px;
        width: 44px;
    }

    h3 {
        color: var(--gray-900);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.2px;
    }

    & > h4 {
        color: var(--gray-600);
        text-align: start;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        padding: 0 20px;

        & > i {
            color: var(--gray-500);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
        }
    }

    & > ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.containerLiNew {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 84px;
    max-width: 395px;
    width: 100%;
    border-radius: 100px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-1);
    cursor: pointer;
    z-index: 2;

    &:hover {
        box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
    }

    p {
        color: var(--gray-900);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 133%;
        letter-spacing: 0px;
    }
}

[data-mobile="true"] {
    .container {
        border-radius: 32px !important;
        top: 50% !important;
        left: 50% !important;
        width: calc(100% - 20px);
        transform: translate(-50%, -50%) !important;

        & > [data-close] {
            height: 36px;
            width: 36px;
        }

        & > h3 {
            font-size: 1.5rem;
        }
    }

    .containerLiNew {
        height: 60px;
        max-width: 100%;

        p {
            font-size: 18px;
            line-height: 28px;
        }
    }
}
