.wrapper {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    z-index: 1050;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 92px;

    & > [data-container="true"] {
        position: relative;
        height: 100%;
        max-width: 584px;
        width: 100%;
        border-radius: 32px;
        background: var(--background);
        overflow: hidden;
        padding: 72px 20px;
        display: flex;
        flex-direction: column;
        gap: 47px;
        align-items: center;
        z-index: 2;

        h3 {
            color: var(--gray-900);
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0px;
        }

        ul {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        padding: 0 20px;

        & > [data-container="true"] {
            height: min-content;
            max-width: 100%;
            padding: 64px 20px 32px;
            gap: 32px;

            h3 {
                font-size: 1.25rem;
                line-height: 30px;
            }
            ul {
                gap: 1rem;
            }
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        backdrop-filter: blur(4px);
    }
}
