.container {
    position: relative;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.875rem;
    border-radius: 100px;
    border: 1px solid var(--gray-300);
    background: var(--background-input);
    cursor: pointer;
    z-index: 100;

    span {
        color: var(--gray-400);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;

        &.value {
            color: var(--gray-900);
        }
    }

    ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        display: flex;
        max-height: 13.25rem;
        padding: 0.375rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        border-radius: 0.75rem;
        background: var(--background-input);
        box-shadow: 0px 0.75rem 1.5rem 0px rgba(0, 0, 0, 0.16);
        opacity: 0;
        visibility: hidden;
        transition: visibility, opacity 0.3s ease-in-out;
        z-index: 100;

        li {
            width: 100%;
            padding: 0.375rem 0.75rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            border-radius: 0.375rem;

            .containerImage {
                width: 1.5rem;
                height: 1.5rem;
                padding: 0.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                background: var(--primary-100);
            }

            &:hover,
            &.value {
                border-radius: 0.375rem;
                background: var(--background) !important;
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}
