.wrapper {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    transition: var(--transition);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 117;
    padding: 50px 20px;

    & > section {
        position: relative;
        max-width: 484px;
        width: 100%;
        border-radius: 32px;
        background: var(--background);
        overflow: hidden;

        & > header {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 16px calc(16px + 50px + 6px) 16px 16px;
            border-bottom: 1px solid var(--stroke-1);

            & > p {
                color: var(--gray-500);
                text-align: start;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                letter-spacing: -0.3px;

                & > span {
                    color: var(--color-text);
                    font-size: 14px;
                }
            }
        }

        & > ul {
            width: 100%;
            max-height: 400px;
            overflow-y: auto;
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        padding: 0;
        flex-direction: column;
        justify-content: flex-end;

        & > section {
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            border-radius: 32px 32px 0 0;

            & > [data-close] {
                height: 36px;
                width: 36px;

                & > img {
                    height: 16px;
                    width: 16px;
                }
            }

            & > header {
                padding: 12px calc(12px + 36px + 6px) 12px 12px;

                & > p {
                    font-size: 15px;
                    & > span {
                        font-size: 13px;
                    }
                }
            }
            & > ul {
                padding: 12px;
                gap: 12px;
                max-height: calc(80vh - 45px);
            }
        }
    }
}
