.wrapper {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 117;
    padding: 50px 20px;

    & > section {
        position: relative;
        max-width: 484px;
        min-height: 100px;
        width: 100%;
        border-radius: 32px;
        background: var(--background);
        overflow: hidden;

        & > ul {
            overflow: hidden;
            overflow-y: auto;
            width: 100%;
            max-height: 460px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        padding: 0;
        flex-direction: column;
        justify-content: flex-end;

        & > section {
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            border-radius: 32px 32px 0 0;

            & > [data-close] {
                height: 36px;
                width: 36px;

                & > div {
                    height: 16px;
                    width: 16px;
                }
            }

            & > header {
                padding: 12px calc(12px + 36px + 6px) 12px 12px;

                & > p {
                    font-size: 15px;
                    & > span {
                        font-size: 13px;
                    }
                }
            }
            & > ul {
                padding: 12px;
                gap: 12px;
                max-height: calc(80vh - 45px);
            }
        }
    }
}
