.wrapper {
  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(0.25rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 1.25rem;

  &[data-visible="true"] {
    z-index: 209;
  }

  & > section {
    position: relative;
    max-width: 25rem;
    width: 100%;
    height: clamp(25rem, 80%, 45rem);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background: var(--background);

    & > header {
      width: 100%;
      height: 4.75rem;
      padding: 1.5rem 0 1.25rem;
      border-bottom: 1px solid var(--gray-300);
      display: flex;
      align-items: center;
      justify-content: center;

      & > h3 {
        color: var(--gray-900);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
        letter-spacing: -0.01125rem;
      }
    }

    & > [data-container] {
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 0 0 2rem 2rem;

      & > ul {
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    padding: 0;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: flex-end;

    & > section {
      max-width: 100%;
      border-radius: 2rem 2rem 0 0;

      & > header {
        height: 4.25rem;
        padding: 1.25rem;
        padding-bottom: 1rem;
      }
      & > [data-container] {
        border-radius: 0;

        & > ul {
          padding: 0.75rem;
          gap: 0.75rem;
        }
      }
    }
  }
}
