.wrapper {
    z-index: 1001;
    position: fixed;

    & > section {
        position: relative;
        width: 100%;
        height: 100%;
        inset: 0;
        background: var(--background);

        & > [data-title],
        & > [data-header-title] {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        & > form {
            width: 100%;
            height: calc(100%);
            display: flex;
            flex-direction: column;
            z-index: 2;
        }
    }
}

[data-mobile="false"] {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.62);
        backdrop-filter: blur(2.5px);

        & > section {
            max-width: 772px;
            max-height: calc(100% - 2rem);
            border-radius: 2rem;
            z-index: 27;
            overflow: visible;

            & > [data-close] {
                top: 0 !important;
                right: -0.25rem;
                transform: translateX(100%);
            }

            & > [data-title] {
                transform: translate(-50%, -50%);
                top: calc(21px + 15px);
                left: 50%;
                white-space: nowrap;
                color: var(--gray-900);
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: -0.2px;
                z-index: 20;
                height: calc(4.5rem);
            }

            & > form {
                gap: 2.75rem;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                padding: 77px 2.75rem 2.75rem;
            }
        }
    }
}
[data-mobile="true"] {
    .wrapper {
        background: var(--background);

        & > section {
            inset: 0;
            z-index: 2;
            overflow: hidden;
            overflow-y: auto !important;

            & > [data-close] {
                background: transparent;
                border: none;
                box-shadow: none;
                top: 0 !important;
                right: 0 !important;
            }

            & > [data-header-title] {
                top: 0;
                left: 0;
                right: 0;
                height: calc(3rem + 10px + 10px);
                backdrop-filter: blur(10px);
                padding: 20px;
                z-index: 20;

                & > h3 {
                    color: var(--gray-900);
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: -0.5px;
                }

                & > [data-back] {
                    position: absolute;
                    left: 1.25rem;
                    transform: translateY(-50%);
                    top: 50%;
                    height: 3rem;
                    width: 3rem;
                    border-radius: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--background-input);
                    box-shadow: 0px 0.25rem 1.5rem 0px rgba(0, 0, 0, 0.12);
                    backdrop-filter: blur(0.25rem);
                }
            }

            & > form {
                padding: calc(1.25rem + 3rem) 1.25rem 4.25rem;
                align-items: center;
                gap: 26px;
                overflow-y: scroll;
            }
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        &[data-mobile="false"] {
            backdrop-filter: blur(0.25rem);
        }
    }
}
