.wrapper {
    z-index: 1001;
    transition: opacity 0.3s ease-in-out;
    position: fixed;

    & > [data-container] {
        position: relative;
        width: 100%;
        height: 100%;
        inset: 0;
        background: var(--background);
        overflow: hidden;
        overflow-y: auto !important;

        & > [data-title],
        & > [data-header-title] {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        & > form {
            width: 100%;
            height: calc(100%);
            display: flex;
            flex-direction: column;
            z-index: 2;
        }
    }
}

[data-mobile="false"] {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.62);
        backdrop-filter: blur(2.5px);

        & > [data-container] {
            max-width: 772px;
            max-height: calc(100% - 30px);
            border-radius: 32px;
            z-index: 27;
            overflow: hidden;

            & > [data-title] {
                transform: translate(-50%, -50%);
                top: calc(21px + 15px);
                left: 50%;
                white-space: nowrap;
                color: var(--gray-900);
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: -0.2px;
                z-index: 20;
                backdrop-filter: blur(20px);
                height: calc(30px + 42px);
            }

            & > form {
                gap: 46px;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                padding: 77px 46px 46px;
            }
        }
    }
}
[data-mobile="true"] {
    .wrapper {
        background: var(--background);

        & > [data-container] {
            inset: 0;
            z-index: 2;

            & > [data-header-title] {
                top: 0;
                left: 0;
                right: 0;
                height: calc(48px + 10px + 10px);
                backdrop-filter: blur(10px);
                padding: 20px;
                z-index: 20;

                & > h3 {
                    color: var(--gray-900);
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: -0.5px;
                }

                & > [data-back] {
                    position: absolute;
                    left: 20px;
                    transform: translateY(-50%);
                    top: 50%;
                    height: 48px;
                    width: 48px;
                    border-radius: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--background-input);
                    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
                    backdrop-filter: blur(4px);
                }
            }

            & > form {
                padding: calc(20px + 48px) 20px 68px;
                align-items: center;
                gap: 26px;
                overflow-y: scroll;
            }
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        &[data-mobile="false"] {
            backdrop-filter: blur(5px);
        }
        &[data-mobile="true"] {
            & > [data-container] {
                & > [data-title] {
                    & > [data-back] {
                        box-shadow: none;
                        img {
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }
}
