.buttonSelectionContainer {
    width: 231px;
    height: 141px;
    position: relative;
    border-radius: 16px;
    background: var(--background-input);
    box-shadow: 0px 4px 24px 0px rgba(172, 178, 201, 0.39);
    transition: background 0.3s ease-in-out;
    cursor: pointer;

    .buttonSelectionContentIconType {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        h3 {
            color: var(--1, #363757);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 126%;
        }
    }

    .buttonSelectionCheckBox {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid var(--gray-300);
        background: var(--base-white);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-in-out;

        span {
            background: var(--base-white);
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }
    }

    &[data-active="true"] {
        &::before {
            content: "";
            position: absolute;
            border-radius: 17px;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: var(--gradient-primary);
            z-index: -1;
            opacity: 1;
            transition: opacity 0.3s;
        }

        .buttonSelectionCheckBox {
            background: var(--primary-50);
            border: 1px solid var(--primary-600);

            span {
                background: var(--primary-600);
            }
        }
    }
}
