.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 22.5rem;
    width: 100%;

    & > [data-selection] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        & > div {
            position: relative;
            display: inline-flex;
            height: 100%;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            width: 100%;
            cursor: pointer;
            padding: 0.25rem 0;

            span {
                text-decoration: none;
                color: var(--gray-500);
                text-align: center;
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 1.75rem;
                line-height: 142.857%;
                letter-spacing: -0.3px;
                white-space: nowrap;
            }

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 0.125rem;
                background: transparent;
                transform: scaleX(0);
                transition: var(--transition);
                transition-property: transform, background;
            }

            &[data-active="true"] {
                span {
                    color: var(--primary-500);
                }
                &::before {
                    background: var(--primary-500);
                    transform: scaleX(1);
                }
            }
        }
    }
}

[data-mobile="true"] {
    .content {
        max-width: 100%;
        gap: 1rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 0.75rem;
    width: 100% !important;
    z-index: 4;

    p {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        color: var(--gray-900);
        text-align: center;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.5px;

        a {
            color: var(--primary-500);
            cursor: pointer;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    width: 100%;
    align-self: stretch;

    [data-label-input] {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & > label {
            color: var(--gray-900);
            font-size: 0.875rem;
            font-style: normal;
            line-height: 0.875rem;
            font-weight: 500;
            margin-bottom: 0.25rem;

            & > sup {
                color: var(--error-600);
            }
        }

        & > i {
            color: var(--error-600);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.125rem;
        }

        &[data-password] > div {
            width: 100%;
        }

        &[data-password] {
            & > div {
                position: relative;
                & > [data-eye] {
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    right: 0.875rem;
                    cursor: pointer;
                }
            }
        }
    }
}

[data-mobile="true"] {
    .section {
        & > [data-label-input] {
            & > input,
            &[data-password] > div > input {
                padding: 0.625rem;
                height: 2.75rem;
                border-radius: 1.375rem;
            }
        }
    }
}

.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;

    p {
        color: var(--gray-500);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.3px;
    }

    a {
        color: var(--primary-500);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.3px;
        cursor: pointer;
    }
}

.RememberChange {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    .checkRemember {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        .checkbox input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkbox {
            margin-top: 0.75rem;
            .checkmark {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.25rem;
                height: 1.25rem;
                border: 0.0625rem solid var(--primary-500);
                background: var(--primary-200);
                cursor: pointer;
                border-radius: 0.375rem;

                & > [data-check] {
                    position: absolute;
                    display: none;
                    width: 1rem;
                    height: 1rem;
                    background-size: cover;
                }
            }

            input[type="checkbox"]:checked + .checkmark [data-check] {
                display: flex;
            }
        }

        p {
            color: var(--gray-900);
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.25rem;
            letter-spacing: -0.5px;
        }

        & > [data-terms] {
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
            color: var(--gray-900);
            text-align: center;
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.25rem;
            letter-spacing: -0.5px;

            a {
                color: var(--primary-500);
                cursor: pointer;
            }

            &[data-error="true"] {
                color: var(--error-500);
                font-weight: 600;

                & > a {
                    color: var(--error-400);
                }
            }
        }
    }

    a {
        color: var(--primary-500);
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: -0.5px;
        cursor: pointer;
    }
}

.contentOtpCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 22.5rem;
    width: 100%;
    z-index: 20;
}

[data-mobile="true"] {
    .contentOtpCode {
        max-width: 100%;
    }
}

.contentFirstLogin {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 22.5rem;
    width: 100%;
    margin: 0 auto;

    h3 {
        color: #363757;
        text-align: center;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.5px;
    }
}

[data-mobile="true"] {
    .contentFirstLogin {
        max-width: 100%;
    }
}

.inputs {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.625rem;

    input {
        aspect-ratio: 1/1;
        flex: 1;
        flex-shrink: 0;
        height: 3.125rem;
        width: 3.125rem;
        outline: none;

        &.checking {
            height: 4rem;
            width: 4rem;
        }

        &:valid {
            color: var(--primary-500);
            text-align: center;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.5px;
            border-radius: 0.5rem;
            border: 0.0625rem solid var(--primary-300);
            background: var(--background-input);
            box-shadow: 0px 0.0625rem 0.125rem 0px rgba(16, 24, 40, 0.05);
        }

        &:invalid {
            color: var(--gray-200);
            text-align: center;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.5px;
            border-radius: 0.5rem;
            border: 0.0625rem solid var(--gray-300);
            background: var(--background-input);
            box-shadow: 0px 0.0625rem 0.125rem 0px rgba(16, 24, 40, 0.05);
        }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}

.contentRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    z-index: 1;
    margin: 0 auto;
}

[data-mobile="true"] {
    .contentRow {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}
