@mixin class-shadow {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 300px;
    filter: blur(80px);
    z-index: -1;
}

.orange {
    @include class-shadow;
    background: rgba(243, 145, 114, 0.32);
    top: 0;
    left: 0;
}

.purple {
    @include class-shadow;
    background: rgba(135, 92, 255, 0.32);
    top: 50%;
    left: 100%;
}

.blue {
    @include class-shadow;
    background: rgba(100, 220, 246, 0.32);
    top: 100%;
    left: 0;
}
