.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 55px;
        padding: 10px;
        gap: 12px;
        border-radius: 100px;
        border: 1px solid var(--gray-200);
        background: var(--background-input);
        box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
        cursor: pointer;
    }
}
