.wrapper {
  background: rgba(5, 1, 13, 0.5);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 9.375rem 1rem;
  padding-inline: 1.25rem;

  & > section {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 33.75rem;
    padding: 1.25rem 2.5rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    border-radius: 2rem;
    background-color: var(--BG-second);

    & > article {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.25rem;

      & > [data-icon] {
        position: relative;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        width: 4.375rem;

        & > [data-img] {
          width: 4.375rem;
          height: 4.375rem;
          border-radius: 2.1875rem;
          background-color: var(--grey-field);

          display: flex;
          align-items: center;
          justify-content: center;

          padding: 1.1875rem;

          & > img {
            width: 2rem;
            height: 2rem;
          }
        }

        & > [data-mark] {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 2rem;
          height: 2rem;
          background-color: #fea032;
          border-radius: 1rem;

          padding: 0.45rem;
          display: flex;
          align-content: center;
          justify-content: center;

          & > svg {
            width: 1.1rem;
            height: 1.1rem;
          }
        }
      }

      & > h3,
      & > p {
        color: var(--text-primary);
        text-align: center;
        font-style: normal;
      }

      & > h3 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
      }

      & > p {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }

    & > footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    justify-content: flex-end;
    & > section {
      padding-top: 2.25rem;
      padding-bottom: 1.25rem;
      padding-inline: 1.25rem;
      border-radius: 1.5rem 1.5rem 0rem 0rem;

      transform: translateY(100%);

      transition-property: transform;
      transition-duration: 350ms;
      transition-timing-function: ease-in-out;

      & > footer {
        flex-direction: column-reverse;
      }
    }
  }

  &[data-visible="true"] {
    z-index: 1003;

    & > section {
      transform: translateY(0);
    }
  }
}
