.wrapper {
  padding: 1.25rem;
  padding-top: 7.5rem;
  background: rgba(5, 1, 13, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;

  & > section {
    border-radius: 2rem;
    position: relative;
    width: 100%;
    max-width: 35rem;
    background-color: var(--BG-second);

    & > header {
      width: 100%;
      border-radius: 2rem 2rem 0 0;
      height: var(--height-standard-header-modal);
      padding-block: 1.5rem 1.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--grey-separator);

      & > h3 {
        color: var(--text-primary);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
      }
    }

    & > form {
      width: 100%;
      height: 100%;
      padding-block: 1.5rem 2.5rem;
      padding-inline: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;

      & > article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        & > label {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
        }

        & > span {
          height: 7.375rem;
          width: 100%;
          position: relative;

          & > textarea {
            border-radius: 1rem;
            border-width: 1px;
            border-style: solid;
            border-color: var(--grey-stroke);
            outline: none;
            resize: none !important;
            width: 100%;
            height: 100%;
            padding-block: 0.875rem calc(0.25rem + 1rem + 0.25rem);
            padding-inline: 0.875rem;

            &:focus,
            &:hover {
              border-color: var(--element-accent-1);
            }

            &[data-error="true"] {
              border-color: var(--text-error);
            }
          }

          & > span {
            position: absolute;
            bottom: 0.25rem;
            right: 0.875rem;
            color: var(--text-primary);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;

            &[data-error="true"] {
              color: var(--text-error);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    & > section {
      max-width: 100%;
      height: 100%;
      border-radius: 0 !important;

      & > header {
        border-radius: 0;
        padding-block: 1.25rem 1rem;
        padding-inline: 1.25rem;
        justify-content: flex-start;

        & > h3 {
          text-align: start;
        }
      }

      & > form {
        height: calc(100% - var(--height-standard-header-modal));
        padding: 1.25rem;
      }
    }
  }

  &[data-visible="true"] {
    z-index: 1101;
  }
}
