.container {
  border-radius: 1rem;
  background-color: var(--BG-second);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--grey-stroke-light);

  & > [data-img] {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.75rem;

    & > img {
      position: absolute;
      inset: 0;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  & > p {
    color: var(--text-primary);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
  }
}

[data-theme="dark"] {
  // .container {
  //   box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7);
  // }
}
