.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  & > p {
    color: var(--text-primary);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: -0.03125rem;
  }

  & > [data-button-forward] {
    height: 2.25rem;
    border-radius: 1.125rem;
  }

  & > section {
    width: 100%;
    display: flex;
    gap: 0.375rem 0.375rem;
    flex-wrap: wrap;

    & > [data-item] {
      padding-block: 0.25rem;
      padding-inline: 0.25rem 0.375rem;
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
      border: 1px solid var(--grey-stroke-light);
      background: var(--BG-second);
      height: 2rem;
      border-radius: 1rem;

      & > [data-img] {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.75rem;
        background-color: var(--BG-icons);
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
          height: 1rem;
          width: 1rem;
          border-radius: 0.25rem;
        }
      }

      & > p {
        color: var(--text-primary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem; /* 128.571% */
        letter-spacing: -0.03125rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  & > article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: 0.75rem;
    background: var(--more-blue-gradient);
    padding: 0.75rem;

    & > p {
      color: var(--text-button);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem; /* 128.571% */
      letter-spacing: -0.03125rem;
    }
  }
}
