.container {
  max-width: 37.25rem;
  height: 100%;

  & > form {
    & > fieldset {
      & > i {
        margin-top: -0.25rem;
        color: var(--text-error);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.125rem; /* 150% */
        letter-spacing: -0.03125rem;
      }

      & > [data-input] {
        position: relative;
        width: 100%;
        height: 3rem;

        & > [data-category] {
          max-width: calc(100% - 0.875rem - 0.875rem);
        }

        & > [data-list] {
          max-height: 13.25rem;
          box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7);

          & > ul {
            & > li {
              width: 100%;
              padding: 0.375rem;
              background-color: var(--BG-second);
              border-radius: 0.375rem;
              cursor: pointer;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 0.5rem;

              & > [data-icon] {
                width: 1.5rem;
                height: 1.5rem;
                padding: 0.25rem;
                display: flex;
                align-items: center;
                justify-content: center;

                & > img {
                  width: 1rem;
                  height: 1rem;
                  border-radius: 0.125rem;
                }
              }

              & > span {
                color: var(--text-primary);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.25rem; /* 142.857% */
                letter-spacing: -0.03125rem;
              }

              &:hover {
                background-color: var(--grey-field);
              }
            }
          }
        }
      }

      [data-photos] {
        & > [data-photo],
        & > [data-upload] {
          position: relative;
          border-radius: 1rem;
          border: 0.125rem dashed var(--grey-stroke-light);
          background: transparent;
          aspect-ratio: 3/4;
          width: 100%;
          height: auto;
          overflow: hidden;
          filter: none;
          transition: var(--transition);
          transition-property: filter;
          z-index: 4;

          &[data-delete="true"] {
            filter: sepia(100%) blur(0.2px);
          }

          & > [data-image] {
            border-radius: 1rem;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    & > button {
      margin-top: auto;
    }
  }

  @media screen and (max-width: 768px) {
    border-radius: 0 !important;
    max-width: 100%;

    & > form {
      input {
        height: 3rem !important;
      }

      [data-photos] {
        & > [data-upload] {
          &[data-tablet="true"] {
            aspect-ratio: 3/4;
          }
        }
      }
    }
  }
}
