.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: calc(var(--height-header-nav-bar) + 1.25rem) 1.25rem;
  padding-inline: 0.75rem;

  & > section {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > ul {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;

      & > h3 {
        color: var(--text-primary);
        text-align: start;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
      }

      & > p,
      & > li {
        padding-inline: 0.625rem;
        width: 100%;
        color: var(--text-primary);
        text-align: start;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;

        & > a {
          color: var(--link-color);
        }
      }

      & > li {
        padding-left: 0.875rem;
        list-style-type: circle !important;
      }

      & > i {
        padding-inline: 0.875rem;
        color: var(--text-primary);
        text-align: start;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }

  @media screen and (max-width: 768px) {
    height: 100vh;
    padding: 0;

    & > section {
      height: calc(100% - var(--height-mobile-footer-nav));
      max-width: 100%;
      &>ul{
        padding-top: calc(var(--height-mobile-header) + 1.25rem);
        padding-inline: 0.75rem;
        padding-bottom: calc(var(--height-mobile-footer-nav) + 1.25);
      }
    }
  }
}
