.container{
  display: flex;
  width: 100%;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  background: var(--glass-bg-color-1);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(4px);

  .content{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    .avatarRate{
      position: relative;
      width: 56px;
      height: 56px;
      border-radius: 12px;
      background: var(--opacity-white-hard);
    }

    .badge{
      position: absolute;
      padding: 4px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      border-radius: 100px;
      background: var(--primary-500);
      top: calc(100% - 1px);
      left: 50%;
      transform: translate(-50%, -50%);

      p {
        color: var(--supporting-white);
        font-size: 12px;
        font-weight: 600;
        line-height: 117.5%;
      }
    }

    .wrapperInfo{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
      flex: 1 0 0;

      h3{
        color: var(--gray-900);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.5px;
      }
      p{
        color: var(--gray-500);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.5px;
      }
    }
  }

  .buttons{
    display: flex;
    height: 44px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 100%;
  }
}