.wrapper {
  z-index: 1000;
  background-color: var(--BG-second);

  & > section {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--BG-second);

    & > header {
      width: 100%;
      height: var(--height-mobile-header);
      padding: 0.625rem 1.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > h3 {
        color: var(--text-primary);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
      }

      & > button {
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.625rem;
        background: transparent;

        & > svg {
          width: 1.5rem;
          height: 1.5rem;
          & > path {
            stroke: var(--text-primary);
          }
        }
      }
    }

    & > nav {
      width: 100%;
      height: 2.375rem;
      padding: 0.75rem 1.25rem;
      display: inline-flex;
      align-items: center;
      gap: 1.125rem;

      & > a {
        position: relative;
        color: var(--text-secondary);
        text-align: center;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.01125rem;
        cursor: pointer;

        transition: var(--transition);
        transition-property: color;

        &[data-active="true"] {
          color: var(--text-accent);
        }

        &::before {
          content: "";
          position: absolute;
          top: calc(100% + 0.25rem);
          left: 0;
          width: 100%;
          height: 0.125rem;
          background: var(--text-accent);
          transform: scaleX(0);
          opacity: 0;

          transition: var(--transition);
          transition-property: transform, opacity;
        }

        &[data-active="true"] {
          &::before {
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }

    & > ul {
      height: calc(100% - var(--height-mobile-header) - 2.375rem);
      overflow: hidden;
      overflow-y: auto;
      width: 100%;
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;

      & > p {
        color: var(--text-primary);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.02125rem;
      }
    }

    & > article {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      height: calc(100% - 4.25rem);
      padding: 2.5rem 1.25rem;

      & > h3 {
        width: 100%;
        color: var(--text-primary);
        text-align: center;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.875rem;
        letter-spacing: -0.01125rem;
      }

      & > p {
        color: var(--text-secondary);
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.01125rem;
      }
    }
  }
}

[data-theme="dark"] {
  .wrapper {
    & > section {
      & > header {
        & > button {
          & > img {
            filter: invert(1);
          }
        }
      }
    }
  }
}

.container {
  position: absolute !important;
  background: var(--glass-bg-color-1);
  backdrop-filter: blur(4px);
  z-index: 1000 !important;
  transition: opacity 0.3s ease-in-out;

  ul {
    position: relative;
    z-index: 999;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    padding: 90px 20px calc(72px + 20px);
    gap: 0.75rem;
    width: 100%;
    overflow-y: scroll;
    height: calc(100%);
  }
}
