.container {
    position: absolute !important;
    background: var(--glass-bg-color-1);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    z-index: 1000 !important;
    transition: opacity 0.3s ease-in-out;

    ul {
        position: relative;
        z-index: 999;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
        padding: 90px 20px calc(72px + 20px);
        gap: 12px;
        width: 100%;
        overflow-y: scroll;
        height: calc(100%);
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--glass-bg-color-1);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    z-index: 1001;

    h4 {
        color: var(--gray-900);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.5px;
    }
}

.closeArrowDown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--glass-bg-color-1);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
}
