.wrapper {
    position: fixed;
    inset: 0;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;

    display: none;
    opacity: 0;
    visibility: hidden;

    transition: var(--transition);
    transition-property: opacity, visibility;

    & > section {
        max-width: 41.875rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 2;
        height: 100%;
        border-radius: 2rem;
        background-color: var(--background);
        display: flex;
        flex-direction: column;

        opacity: 0;
        visibility: hidden;

        transition: var(--transition);
        transition-property: opacity, visibility;

        & > header {
            padding: 1.5rem 0 1.25rem 1.5rem;
            width: 100%;
            border-radius: 2rem 2rem 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 0.5rem;
            height: 4.75rem;

            & > h2 {
                color: var(--gray-900);
                text-align: center;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2rem;
                letter-spacing: -0.02125rem;
            }

            & > a {
                width: 2rem;
                height: 2rem;
                padding: 0.25rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                & > img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        & > ul {
            height: calc(100% - 4.75rem);
            overflow: hidden;
            overflow-y: auto;
        }
    }

    &[data-active="true"] {
        display: flex;
        opacity: 1;
        visibility: visible;

        & > section {
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        & > section > header > img {
            filter: invert(1);
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        padding: 0;

        & > section {
            max-width: 100%;
            border-radius: 0;

            & > header {
                padding: 1.25rem 0 1rem 1.25rem;
                height: 4.25rem;
                border-radius: 0;
            }

            & > ul {
                height: calc(100% - 4.25rem);
            }
        }
    }
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5rem;

    & > span {
        color: var(--gray-500);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.02125rem;
        padding-left: 2.25rem;
    }

    & > [data-search] {
        width: calc(100% - 2.25rem);
        height: 3.25rem;
        position: relative;
        overflow: hidden;
        border-radius: 1.625rem;
        border: 1px solid var(--gray-200);
        margin-left: 2.25rem;
        padding: 1.625rem;

        & > input {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 0;
            background-color: var(--background);
            padding: 0.625rem 0.625rem 0.625rem calc(1rem + 1.25rem + 0.5rem);

            font-size: 1rem;
            line-height: 1.5rem;
            letter-spacing: -0.02125rem;

            z-index: 2;
        }

        & > [data-search],
        & > [data-clear] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 1.25rem;
            height: 1.25rem;
            cursor: pointer;

            z-index: 3;
        }

        & > [data-search] {
            left: 1rem;
        }

        & > [data-clear] {
            right: 0.625rem;

            transition: var(--transition);
            transition-property: opacity, visibility;

            &[data-clear="false"] {
                opacity: 0;
                visibility: hidden;
            }

            &[data-clear="true"] {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    & > [data-categories-selected] {
        margin-left: 2.25rem;
        width: calc(100% - 2.25rem);
        flex-wrap: wrap;
        gap: 0.5rem;
        transition: var(--transition);
        transition-property: opacity, visibility, display;

        & > a {
            padding: 0.4375rem 0.75rem;
            height: 2rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            border-radius: 0.5rem;
            background-color: var(--element-grey);

            transition: var(--transition);
            transition-property: opacity;

            & > span {
                color: var(--text-button);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.1375rem;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                line-clamp: 1;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            & > button {
                background-color: transparent;
                width: 1rem;
                height: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;

                & > img {
                    width: 1rem;
                    height: 1rem;
                }
            }

            &:hover {
                opacity: 0.94;
            }
        }

        &[data-categories-selected="false"] {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

        &[data-categories-selected="true"] {
            display: flex;
            opacity: 1;
            visibility: visible;
        }
    }

    & > section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & > a {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.75rem;

            & > [data-main] {
                width: 100%;
                height: 3.6875rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.25rem;

                & > [data-check] {
                    & > img {
                        opacity: 0;
                        visibility: hidden;
                    }

                    &[data-check="true"] {
                        border-color: var(--btn-main-default);
                        background: var(--btn-main-default);
                        & > img {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                & > span {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.75rem;
                    border: solid var(--grey-stroke-light);
                    border-width: 1px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.5rem;
                    padding: 0.71874rem;
                    padding-left: 0.5625rem;
                    background: transparent;
                    cursor: pointer;

                    transition: var(--transition);
                    transition-property: background;

                    & > [data-img-expand] {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) rotate(0deg);
                        right: 0.75rem;

                        transition: var(--transition);
                        transition-property: filter, transform;
                    }

                    &:hover {
                        border-color: var(--element-grey);
                    }
                }

                &[data-disabled="true"] {
                    & > [data-check] {
                        cursor: no-drop;
                        filter: grayscale(100%);
                    }
                    & > span {
                        [data-img] {
                            opacity: 0.2;
                        }
                        background: var(--BG-first);
                        & > p {
                            color: var(--text-disabled);
                        }
                        &:hover {
                            background: var(--BG-first);

                            & > [data-img-expand] {
                                filter: none;
                            }
                        }
                    }
                }
            }

            & > [data-subs] {
                width: 100%;
                padding: 0;
                padding-left: 2.25rem;
                display: none;
                flex-direction: column;
                gap: 0.75rem;

                transition: var(--transition);
                transition-property: opacity, height;

                & > [data-item] {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1.25rem;

                    [data-img] {
                        padding: 0;
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    & > span {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 0.875rem;
                    }

                    &[data-active="true"] {
                        & > [data-check] {
                            border-color: var(--grey-stroke);
                            background: transparent;
                        }
                    }

                    &[data-disabled="true"] {
                        & > [data-check] {
                            filter: grayscale(100%);
                            cursor: no-drop !important;
                        }

                        & > span {
                            & > [data-img] {
                                opacity: 0.2;
                            }
                            color: var(--text-disabled);
                            cursor: no-drop !important;
                        }
                    }
                }
            }

            &[data-expand="false"] {
                & > [data-subs] {
                    opacity: 0;
                    height: 0;
                }
            }

            &[data-expand="true"] {
                & > [data-main] {
                    & > span {
                        & > [data-img-expand] {
                            transform: translateY(-50%) rotate(180deg);
                        }

                        border-color: var(--text-secondary);
                    }
                }

                & > [data-subs] {
                    opacity: 1;
                    height: fit-content;
                    display: flex;
                }
            }
        }
    }

    & > footer {
        width: 100%;
        display: flex;
        margin-top: auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1.25rem;

        & > button {
            height: 2.75rem;
            border-radius: 1.375rem;
            max-width: 12.5rem;
        }
    }

    [data-check] {
        height: 1rem;
        width: 1rem;
        border-radius: 0.25rem;
        border: 1px solid var(--grey-stroke);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.125rem;
        cursor: pointer;

        & > img {
            width: 0.75rem;
            height: 0.75rem;
        }
    }

    [data-img] {
        width: 2.25rem;
        height: 2.25rem;
        padding: 0.375rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 0.25rem;
        }
    }

    p {
        color: var(--text-primary);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.02125rem;
    }
}

[data-theme="dark"] {
    .form {
        [data-search] {
            & > [data-search],
            & > [data-clear] {
                filter: invert(1);
            }
        }

        & > [data-categories-selected] {
            & > a {
                & > button {
                    & > img {
                        filter: invert(1);
                    }
                }
            }
        }
    }
}

[data-mobile="true"] {
    .form {
        & > footer {
            & > button {
                max-width: 100%;
            }
        }
    }
}
