.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5rem;

    & > [data-search] {
        width: calc(100% - 2.25rem);
        height: 2.5rem;
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;
        border: 1px solid var(--gray-200);
        margin-left: 2.25rem;
        padding: 1.125rem;

        & > input {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 2.5rem;
            border: none;
            border-radius: 0;
            background-color: var(--background);
            padding: 0.625rem 0.625rem 0.625rem calc(0.625rem + 1.25rem + 0.5rem);

            font-size: 0.875rem;
            line-height: 1.25rem;
            letter-spacing: -0.02125rem;

            z-index: 2;
        }

        & > [data-search],
        & > [data-clear] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 1.25rem;
            height: 1.25rem;
            cursor: pointer;

            z-index: 3;
        }

        & > [data-search] {
            left: 0.625rem;
        }

        & > [data-clear] {
            right: 0.625rem;

            transition: var(--transition);
            transition-property: opacity, visibility;

            &[data-clear="false"] {
                opacity: 0;
                visibility: hidden;
            }

            &[data-clear="true"] {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    & > section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & > a {
            position: relative;
            cursor: pointer;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.75rem;

            & > [data-main] {
                width: 100%;
                height: 3.6875rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.25rem;

                & > [data-check] {
                    & > img {
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                & > span {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.75rem;
                    border: solid var(--gray-200);
                    border-width: 1px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.5rem;
                    padding: 0.71874rem;
                    padding-left: 0.5625rem;
                    background: transparent;

                    transition: var(--transition);
                    transition-property: background;

                    &:hover {
                        border-radius: 0.75rem;
                        background: linear-gradient(285deg, #ffa337 0%, #f4be7e 100%);

                        & > p {
                            color: var(--supporting-white);
                        }
                    }
                }
            }

            & > [data-subs] {
                width: 100%;
                padding: 0;
                padding-left: 2.25rem;
                display: none;
                flex-direction: column;
                gap: 0.75rem;

                transition: var(--transition);
                transition-property: opacity, height;

                & > [data-item] {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1.25rem;

                    & > [data-img] {
                        padding: 0;
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    & > span {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 0.875rem;
                    }

                    &[data-active="true"] {
                        & > [data-check] {
                            border-color: var(--primary-500);
                            background: var(--primary-500);
                        }
                    }
                }
            }

            &[data-active="true"] {
                & > [data-main] {
                    & > [data-check] {
                        border-color: var(--primary-500);
                        background: var(--primary-500);
                        & > img {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    & > span {
                        border-color: #ffa337;
                    }
                }
            }

            &[data-expand="false"] {
                & > [data-subs] {
                    opacity: 0;
                    height: 0;
                }
            }

            &[data-expand="true"] {
                & > [data-subs] {
                    opacity: 1;
                    height: fit-content;
                    display: flex;
                }
            }
        }
    }

    & > footer {
        width: 100%;
        display: flex;
        margin-top: auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1.25rem;

        & > button {
            height: 2.75rem;
            border-radius: 1.375rem;
            max-width: 12.5rem;
        }

        & > p {
            width: fit-content;
            color: var(--gray-700);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: -0.02125rem;

            & > span {
                color: var(--gray-900);
            }
        }
    }

    [data-check] {
        height: 1rem;
        width: 1rem;
        border-radius: 0.25rem;
        border: 1px solid var(--gray-300);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.125rem;

        & > img {
            width: 0.75rem;
            height: 0.75rem;
        }
    }

    [data-img] {
        width: 2.25rem;
        height: 2.25rem;
        padding: 0.375rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 0.25rem;
        }
    }

    p {
        color: var(--gray-900);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.02125rem;
    }
}

[data-theme="dark"] {
    .form {
        [data-search] {
            & > [data-search],
            & > [data-clear] {
                filter: invert(1);
            }
        }
    }
}

[data-mobile="true"] {
    .form {
        & > footer {
        }
    }
}
