.wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1rem;
}

[data-mobile="true"] {
    .wrapper{
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        padding: 0.75rem;
    }
}
[data-mobile="false"] {
    .wrapper{
        margin: 0 calc(1.5rem + 400px) 0 calc(320px + 1.5rem);
        height: calc(100vh - 4.8125rem - 1.5rem);
    }
}
