.container {
  --height-filter-popup: calc(1.25rem + 3rem + 0.625rem);
}

.container {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  max-width: var(--width-right-services);
  width: 100%;
  height: calc(1.25rem + 2rem + 1.25rem);
  background-color: var(--BG-second);

  top: calc(var(--height-header-nav-bar) + 1.5rem);
  right: 1.5rem;
  border-radius: 2rem;

  transition-duration: 700ms;
  transition-property: opacity, visibility, height;
  transition-timing-function: ease;

  z-index: 90;

  & > [data-close] {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    background-color: transparent;
    padding: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--grey-stroke-light);

    & > svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  & > header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.94rem calc(1.25rem + 3rem + 0.625rem) calc(0.625rem + 0.44rem) 1.25rem;
    height: var(--height-filter-popup);

    & > h3 {
      color: var(--text-primary);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.875rem;
    }
  }

  & > form {
    position: relative;
    width: 100%;
    height: calc(100% - var(--height-filter-popup));
    overflow: hidden;

    padding: 0.625rem 1.25rem calc(1.25rem + 2.75rem + 1.25rem);

    & > section {
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0.625rem 0.625rem;
      grid-gap: 0.625rem;
      overflow-y: auto;

      & > a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 6rem;
        width: 100%;
        padding: 0.75rem;
        border-radius: 0.75rem;
        border-color: var(--grey-stroke-light);
        border-width: 1px;
        border-style: solid;
        background: var(--BG-second);
        cursor: pointer;

        & > [data-icon] {
          height: 1.5rem;
          width: 1.5rem;
          background-color: transparent;

          & > img {
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
          }
        }

        & > p {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-clamp: 3;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &[data-active="true"] {
          background: var(--more-blue-gradient);
          border-width: 0px;

          & > p {
            color: var(--text-button);
          }
        }
      }
    }

    & > footer {
      padding: 0.625rem 1.25rem 1.25rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0.75rem;
      width: 100%;
      height: min-content;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 20;
    }
  }

  &[data-visible="true"] {
    opacity: 1;
    visibility: visible;
    height: calc(100% - var(--height-header-nav-bar) - 3rem);
  }
}

[data-header-is-banner="true"] {
  .container {
    top: calc(var(--height-header-nav-bar) + var(--height--banner--promotional) + 1.5rem);
  }
}

[data-theme="light"] {
  .container {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  }
}
[data-theme="dark"] {
  .container {
    box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7);
  }
}
