.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 121;
  background: rgba(5, 1, 13, 0.5);
  padding: 0;
  opacity: 0;
  visibility: hidden;

  transition-duration: 700ms;
  transition-property: opacity, visibility, height;
  transition-timing-function: ease;

  & > form {
    position: absolute;
    top: calc(var(--height-header-nav-bar) + 1.5rem);
    right: 1.5rem;
    background-color: var(--BG-second);
    border-radius: 2rem;
    height: calc(1.25rem + 3rem + 1.25rem);
    max-width: var(--width-right-services);
    width: 100%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & > header {
      padding-inline: 1.25rem;
      padding-block: 1.25rem 0.5rem;
      height: calc(1.25rem + 3rem + 0.5rem);
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;

      & > [data-icon-close],
      & > [data-icon-search] {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        top: 2.125rem;
        background-color: transparent;
        border: none;
        outline: none;

        & > svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      & > [data-icon-search] {
        left: 2.125rem;
        pointer-events: none;
      }

      & > input {
        width: 100%;
        padding-inline: calc(0.875rem + 1.25rem + 0.5rem);
      }

      & > [data-icon-close] {
        right: 2.125rem;
        cursor: pointer;

        & > svg {
          & > path {
            stroke: var(--text-primary);
          }
        }
      }
    }

    & > ul {
      width: 100%;
      height: calc(100% - 1.25rem - 0.5rem - 3rem);
      padding-block: 0.5rem;
      padding-inline: 0.5rem;
      display: flex;
      flex-direction: column;

      overflow: hidden;
      overflow-y: auto;

      & > li {
        width: 100%;
        display: grid;
        grid-template-columns: 1.25rem minmax(0, 1fr);
        padding: 0.625rem 0.75rem;
        align-items: start;
        gap: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;

        & > [data-icon] {
          width: 1.25rem;
          height: 1.25rem;

          & > img {
            width: 1.25rem;
            height: 1.25rem;
          }
        }

        & > span {
          color: var(--text-secondary);
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5rem; /* 150% */

          & > b {
            color: var(--text-primary);
            font-weight: 500;
          }
        }

        &:hover {
          background-color: var(--grey-field);
        }
      }

      & > article {
        padding-top: 4rem;
        padding-inline: 0.75rem 0.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.625rem;

        & > h3 {
          color: var(--text-primary);
          text-align: center;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.875rem;
        }

        & > p {
          color: var(--text-primary);
          text-align: center;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
        }
      }

      & > [data-block-history] {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        & > [data-history] {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.625rem;

          & > [data-titles] {
            width: 100%;
            padding-inline: 0.75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > h3 {
              color: var(--text-primary);
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.875rem;
            }

            & > a {
              color: var(--text-accent);
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 500;
              line-height: 1.25rem;
              cursor: pointer;
            }
          }

          & > [data-list] {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            max-height: 22rem;
            overflow-y: auto;

            & > a {
              width: 100%;
              display: grid;
              grid-template-columns: 1.25rem minmax(0, 1fr);
              padding: 0.625rem 0.75rem;
              align-items: start;
              gap: 0.5rem;
              border-radius: 0.5rem;
              cursor: pointer;

              & > [data-icon] {
                width: 1.25rem;
                height: 1.25rem;

                & > img {
                  width: 1.25rem;
                  height: 1.25rem;
                }
              }

              & > span {
                color: var(--text-secondary);
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem; /* 150% */

                & > b {
                  color: var(--text-primary);
                  font-weight: 500;
                }
              }

              &:hover {
                background-color: var(--grey-field);
              }
            }
          }
        }

        & > [data-grid] {
          border-top: 1px solid var(--grey-stroke-light);
          padding-top: 1.25rem;
          padding-inline: 0.75rem;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          gap: 1.25rem 1.25rem;

          & > a {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.375rem;

            & > [data-icon] {
              width: 2.75rem;
              width: 2.75rem;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 1.375rem;
              padding: 0.625rem;
              background-color: var(--grey-field);

              & > img {
                width: 1.5rem;
                height: 1.5rem;
              }
            }

            & > p {
              color: var(--text-primary);
              text-align: center;
              font-size: 0.8125rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1rem;
            }
          }
        }
      }
    }
  }

  &[data-visible="true"] {
    opacity: 1;
    visibility: visible;

    & > form {
      height: calc(100% - var(--height-header-nav-bar) - 3rem);
    }
  }
}

[data-theme="light"] {
  .wrapper > form {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  }
}
[data-theme="dark"] {
  .wrapper > form {
    box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7);
  }
}
