.wrapper {
  z-index: 121;
  opacity: 0;
  visibility: hidden;

  transition-duration: 700ms;
  transition-property: opacity, visibility, height;
  transition-timing-function: ease;

  & > form {
    // height: calc(1.25rem + 3rem + 1.25rem);
    max-width: var(--width-right-services);
    z-index: 2;

    & > header {
      height: calc(1.25rem + 3rem + 0.5rem);
      z-index: 2;

      & > [data-icon-close],
      & > [data-icon-search] {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        top: 2.125rem;
        background-color: transparent;
        border: none;
        outline: none;

        & > svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      & > [data-icon-search] {
        left: 2.125rem;
        pointer-events: none;
      }

      & > input {
        width: 100%;
        padding-inline: calc(0.875rem + 1.25rem + 0.5rem);
      }

      & > [data-icon-close] {
        right: 2.125rem;
        cursor: pointer;

        & > svg {
          & > path {
            stroke: var(--text-primary);
          }
        }
      }
    }

    & > ul {
      height: calc(100% - 1.25rem - 0.5rem - 3rem);

      & > [data-block-history] {
        & > [data-history] {
          & > [data-list] {
            max-height: 22rem;
          }
        }
      }
    }
  }

  &[data-visible="true"] {
    opacity: 1;
    visibility: visible;
  }
}

[data-theme="light"] {
  .wrapper > form {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  }
}
[data-theme="dark"] {
  .wrapper > form {
    box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7);
  }
}
