.container {
  position: absolute;
  right: 0;
  top: calc(4.875rem);
  height: calc(100% - 4.875rem);
  max-width: 24.375rem;
  width: 100%;
  background: var(--BG-second);
  z-index: 59;
  overflow: hidden;

  & > ul {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    & > header {
      padding-left: 1rem;
      padding-right: 1rem;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 56;
    }

    & > [data-title-search] {
      padding: 1.75rem 1.5rem 20px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      & > h2 {
        color: var(--text-primary);
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        letter-spacing: -0.2px;
      }
    }

    & > [data-container] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding: 0 1.25rem 1.25rem;

      & > section {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;

        & > h3 {
          color: var(--text-primary);
          font-size: 18px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: -0.5px;
        }

        & > [data-total] {
          display: flex;
          padding: 4px 8px;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          border-radius: 100px;
          background: var(--BG-second);

          span {
            color: var(--text-accent);
            font-size: 1rem;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.5px;
          }
        }
      }
    }
  }
}

[data-theme="light"] {
  .container {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  }
}

.services {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  gap: 0.625rem;
}

[data-mobile="true"] {
  .container {
    & > ul {
      -webkit-overflow-scrolling: touch;
    }
  }
}
