.container {
    position: absolute;
    padding-top: 24px;
    right: 24px;
    max-width: 400px;
    width: 100%;
    flex-shrink: 0;
    border-radius: var(--banner-border-radius);
    background: var(--glass-bg-color);
    overflow: hidden;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    z-index: 59;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    & > header {
        padding-left: 17px;
        padding-right: 17px;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 56;
    }

    & > [data-title-search] {
        padding: 28px 24px 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        & > h2 {
            color: var(--gray-900);
            font-size: 30px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: -0.5px;
        }
    }

    & > [data-container] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 0 20px 20px;
        overflow: hidden;

        & > section {
            display: flex;
            align-items: flex-start;
            gap: 8px;

            & > h3 {
                color: var(--gray-900);
                font-size: 18px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: -0.5px;
            }

            & > [data-total] {
                display: flex;
                padding: 4px 8px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                border-radius: 100px;
                background: var(--gray-200);

                span {
                    color: var(--primary-500);
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: -0.5px;
                }
            }
        }
    }
}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: fit-content;
    &.requestsAndProposals {
        align-items: center;

        li {
            max-width: 100%;
            width: 100%;
        }
    }
}
