.container {
    position: absolute;
    right: 24px;
    top: calc(24px + 77px);
    height: calc(100% - 3rem - 77px);
    max-width: 400px;
    width: 100%;
    border-radius: 2rem;
    background: var(--background);
    z-index: 59;
    overflow: hidden;

    transition: var(--transition);
    transition-property: top, height;

    & > ul {
        position: relative;
        padding-top: 1.5rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        & > header {
            padding-left: 1rem;
            padding-right: 1rem;
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 56;
        }

        & > [data-title-search] {
            padding: 1.75rem 1.5rem 20px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            & > h2 {
                color: var(--gray-900);
                font-size: 30px;
                font-weight: 600;
                line-height: 38px;
                letter-spacing: -0.5px;
            }
        }

        & > [data-container] {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            padding: 0 1.25rem 1.25rem;

            & > section {
                display: flex;
                align-items: flex-start;
                gap: 0.5rem;

                & > h3 {
                    color: var(--gray-900);
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: -0.5px;
                }

                & > [data-total] {
                    display: flex;
                    padding: 4px 8px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 100px;
                    background: var(--gray-200);

                    span {
                        color: var(--primary-500);
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: -0.5px;
                    }
                }
            }
        }
    }
}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: fit-content;
    & > li {
        max-width: 100%;
        width: 100%;
    }
}

[data-mobile="true"] {
    .container {
        & > ul {
            -webkit-overflow-scrolling: touch;
        }
    }
}
