.buttonCircle {
        display: flex;
        padding: 12px;
        height: 44px;
        width: 44px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
        background: var(--supporting-white);
        transition: background 0.3s ease-in-out;
        border: 1.5px solid transparent !important;
        cursor: pointer;

        &.primary {
                background: linear-gradient(var(--supporting-white), var(--supporting-white)) padding-box,
                        var(--gradient-primary) border-box !important;
                box-shadow: 0px 8px 24px 0px rgba(119, 101, 242, 0.50);
        }
}

.buttonFillGradient {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 6px 64px 6px 16px;
        border-radius: 100px;
        // height: 52px;
        gap: 8px;
        border: none;
        cursor: pointer;
        border-radius: 100px;
        box-shadow: 0px 8px 24px 0px rgba(119, 101, 242, 0.50);
        background: var(--gradient-primary);
        transition: background 0.3s, border 0.3s;
        box-sizing: border-box;

        span {
                color: var(--supporting-white);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.5px;
                transition: all 0.1s ease-in-out;
                user-select: none;
        }

        @media screen and (max-width: 500px) {
                span{
                        color: var(--supporting-white);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px !important;
                        letter-spacing: -0.5px;
                }
        }

        &.active {
                background: var(--supporting-white);
                border: 2px solid var(--gradient-primary);

                &::before{
                        content: "";
                        border-radius: 100px;
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        right: -2px;
                        bottom: -2px;
                        background: var(--gradient-primary);
                        z-index: -1;
                        opacity: 1;
                        transition: opacity 0.3s;
                }

                span {
                        color: var(--primary-400);
                }
        }

        .filterAndClose {
                position: absolute;
                padding: 10px;
                height: 44px;
                width: 44px;
                right: 4px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 100px;
                background: var(--opacity-white-hard);
                transition: all 0.1s ease-in-out;

                &.active {
                        background: var(--gradient-primary);
                }
        }
}

.circleGradient{
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        &.primary{

        }
        &.option-1{
                // border: 1.5px solid rgba(255, 255, 255, 0.39);
                background: linear-gradient(0deg, rgba(250, 113, 82, 0.34) 0%, rgba(250, 113, 82, 0.64) 100%);

                &::before{
                        content: "";
                        border-radius: 100px;
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        right: -2px;
                        bottom: -2px;
                        background: linear-gradient(180deg, rgba(250, 113, 82, 0.64) 0%, rgba(250, 113, 82, 0.00) 100%);
                        z-index: -1;
                        opacity: 1;
                        transition: opacity 0.3s;
                }
        }
}