.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.05s;
  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(2.5px);
  z-index: 1050;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 92px;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .container {
    position: relative;
    height: 100%;
    max-width: 584px;
    width: 100%;
    border-radius: 32px;
    background: #EEF0FE;
    overflow: hidden;
    padding: 72px 0;
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: center;

    h3{
      color: var(--gray-900);
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 122%;
      letter-spacing: -0.5px;
    }

    ul{
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}