.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.05s;

  &.active{
    visibility: visible;
    opacity: 1;
  }
}