.wrapper {
  padding: 7.5rem 1.25rem 1.25rem;
  background: rgba(1, 0, 2, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.625rem 1.25rem 1.25rem;

  &[data-visible="true"] {
    z-index: 2019;
  }

  & > section {
    position: relative;
    border-radius: 2rem;
    background: var(--BG-second);
    max-width: 30.625rem;
    width: 100%;

    & > header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: 1.5rem 1.25rem;
      height: 4.75rem;

      & > h3 {
        color: var(--text-primary);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem; /* 133.333% */
      }
    }

    & > form {
      padding: 2.5rem 3.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;

      p {
        color: var(--text-primary);
        text-align: center;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 142.857% */
        letter-spacing: -0.03125rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > span {
          font-weight: 600;
        }
      }

      & > article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;

        & > fieldset {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & > label {
            color: var(--text-primary);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
          }

          & > i {
            color: var(--text-error);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.125rem;
            letter-spacing: -0.03125rem;
          }
        }

        & > [data-column] {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          & > p {
            color: var(--text-primary);
            text-align: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.03125rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            & > a {
              color: var(--text-accent);
              cursor: pointer;
            }
          }

          & > b {
            color: var(--text-primary);
            text-align: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.25rem; /* 142.857% */
            letter-spacing: -0.03125rem;
          }
        }
      }

      & > footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.625rem;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .wrapper {
    padding: 0;

    & > section {
      border-radius: 0;
      max-width: 100%;
      height: 100%;

      & > header {
        height: 4.25rem;
        padding: 1.25rem;
        padding-bottom: 1rem;
      }

      & > form {
        padding-inline: 1.25rem;
      }
    }
  }
}
