@mixin loading {
  position: relative;
  overflow: hidden;
  display: flex;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 45%;
    top: 0;
    bottom: 0;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, #e8e8e8 50%, transparent 100%);
    animation: loading 0.6s ease-in-out infinite;
  }
}

.logo {
  cursor: pointer;

  & > img {
    width: 7.3125rem;
    height: 1.875rem;
  }
}

[data-tablet="true"] {
  .logo {
    margin-left: -2rem;
    margin-top: -0.125rem;

    & > img {
      width: 6.6875rem;
      height: 1.75rem;
    }
  }
}

.buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  z-index: 40;

  & > button {
    width: auto;
  }

  & > a {
    min-width: 8.875rem;
  }

  &[data-loading] {
    & > span {
      @include loading;
      height: 2.75rem;
      width: 10rem;
      border-radius: 1.375rem;

      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        opacity: 0.3;
        width: 75%;
        height: 1.25rem;
        border-radius: 0.375rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(1) {
        background-color: var(--btn-main-default);

        &::after {
          background-color: var(--text-button);
        }
      }
      &:nth-child(2) {
        background-color: var(--btn-second-default);

        &::after {
          background-color: var(--text-accent);
        }
      }
    }
  }
}

.widthButton {
  min-width: 8.875rem;
}

@keyframes loading {
  from {
    transform: translateX(-140%);
  }
  to {
    transform: translateX(140%);
  }
}
