.logo {
    cursor: pointer;
}

[data-mobile="true"] {
    .logo {
        margin-left: -32px;
        margin-top: -2px;
    }
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 12px;
    z-index: 40;

    & > button {
        width: auto;
    }

    & > a {
        min-width: 142px;
    }
}

.widthButton {
    min-width: 142px;
}

//Links

.linksWrapper {
    display: inline-flex;
    align-items: center;
    height: 100%;

    & > a {
        position: relative;
        display: inline-flex;
        height: 100%;
        gap: 8px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        text-decoration: none !important;
        transition: var(--transition);
        transition-property: filter;

        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: var(--primary-500, #6656db);
            box-shadow: 0px 2px 8px 0px rgba(102, 86, 219, 0.49);
            transform: scaleX(0);
            transition: var(--transition);
            transition-property: transform;
        }

        p {
            text-decoration: none;
            color: var(--primary-500);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.857%;
            letter-spacing: -0.5px;
        }

        filter: grayscale(100%) brightness(0%);
        &[data-active="true"] {
            filter: grayscale(0%) brightness(100%);
            &::before {
                transform: scaleX(1);
            }
        }

        & > [data-notification] {
            transform: translateX(-50%);
            position: absolute;
            filter: grayscale(0%) brightness(100%) !important;
            top: calc(100% + 5px);
            left: 50%;
            width: 460px;
            padding: 24px;
            max-height: 660px;
            border-radius: 32px;
            background: var(--background);
            box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
            transition: var(--transition);
            cursor: default;
            transition-property: opacity;

            & > ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 12px;

                & > h6 {
                    color: var(--gray-900);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: -0.2px;
                }
            }

            & > [data-notification="false"] {
                opacity: 0;
                visibility: hidden;
                display: none;
            }
            &[data-notification="true"] {
                opacity: 1;
                visibility: visible;
                display: flex;
            }
        }
    }
}

[data-theme="dark"] {
    .linksWrapper {
        & > a {
            filter: grayscale(100%) brightness(0%) invert(1);
            &[data-active="true"] {
                filter: grayscale(0%) brightness(100%);
            }

            & > [data-notification] {
                filter: grayscale(0%) brightness(100%);
            }
        }
    }
}
