.logo {
    cursor: pointer;
}

[data-mobile="true"] {
    .logo {
        margin-left: -32px;
        margin-top: -2px;
    }
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 12px;
    z-index: 40;

    & > button {
        width: auto;
    }

    & > a {
        min-width: 142px;
    }
}

.widthButton {
    min-width: 142px;
}

//Links

.linksWrapper {
    display: inline-flex;
    align-items: center;
    height: 100%;

    .item {
        position: relative;
        display: inline-flex;
        height: 100%;
        gap: 8px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        text-decoration: none !important;

        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: var(--primary-500, #6656db);
            box-shadow: 0px 2px 8px 0px rgba(102, 86, 219, 0.49);
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        p {
            text-decoration: none;
            color: var(--primary-500);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.857%;
            letter-spacing: -0.5px;
        }
        filter: grayscale(100%) brightness(0%);
        &.active {
            filter: grayscale(0%) brightness(100%);
            &::before {
                transform: scaleX(1);
            }
        }
    }
}

[data-theme="dark"] {
    .linksWrapper {
        .item {
            filter: grayscale(100%) brightness(0%) invert(1);
            &.active {
                filter: grayscale(0%) brightness(100%);
            }
        }
    }
}

[data-theme="light"] {
    .containerSpoiler {
        background: var(--opacity-white-hard);
        backdrop-filter: blur(2.5px);
    }
}
