.linksWrapper {
  display: inline-flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(calc(var(--left-links-margin) - 3.25rem));

  transition: var(--transition);
  transition-property: transform;

  & > a {
    position: relative;
    display: inline-flex;
    height: 100%;
    gap: 0.5rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    text-decoration: none !important;

    & > svg {
      width: 1.5rem;
      height: 1.5rem;
      & > path {
        fill: var(--text-primary);

        transition: var(--transition);
        transition-property: fill;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.125rem;
      border-radius: 0.0625rem;
      background: var(--element-accent-1);
      transform: scaleX(0);
      opacity: 0;
      transition: var(--transition);
      transition-property: transform, opacity;
    }

    & > span {
      text-decoration: none;
      color: var(--text-primary);
      text-align: center;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      letter-spacing: -0.2px;

      transition: var(--transition);
      transition-property: color;
    }

    & > [data-count] {
      height: 1.1875rem;
      min-width: 1.1875rem;
      width: min-content;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-inline: 0.4rem;
      background-color: var(--BG-filter);
      border-radius: 0.59375rem;

      & > span {
        color: var(--text-button);
        text-align: center;
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.625rem;
      }
    }
    &[data-active="true"] {
      & > svg {
        & > path {
          fill: var(--element-accent-1);
        }
      }
      & > span {
        color: var(--text-accent);
      }
      &::before {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    &[data-notification] {
      & > section {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: calc(100% + 0.25rem);
        width: 29.5rem;
        left: 0;
        transform: translateY(-2rem);
        border-radius: 2rem;
        background-color: var(--BG-second);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);

        transition: var(--transition);
        transition-property: opacity, visibility, transform;

        & > ul {
          width: 100%;
          max-height: calc(41.875rem - 2.5rem);
          height: min-content;
          overflow: hidden;
          overflow-y: auto;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          gap: 0.625rem;

          & > p {
            color: var(--text-primary);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5rem;
            letter-spacing: -0.01125rem;
          }
        }

        & > article {
          width: 100%;
          padding: 2.5rem 3.125rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;

          & > h3 {
            width: 100%;
            color: var(--text-primary);
            text-align: center;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.875rem;
            letter-spacing: -0.01125rem;
          }

          & > p {
            color: var(--text-secondary);
            text-align: center;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5rem;
            letter-spacing: -0.01125rem;
          }
        }

        & > footer {
          border-top: 1px solid var(--grey-stroke-light);
          height: 2.5rem;
          width: 100%;
          padding: 0.5625rem 0rem 0.6875rem;
          display: flex;
          align-items: center;
          justify-content: center;

          & > a {
            color: var(--text-accent);
            text-align: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            letter-spacing: -0.01125rem;
          }
        }

        &[data-active="true"] {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
}

[data-theme="dark"] {
  .linksWrapper {
    & > a {
      &[data-notification] {
        & > section {
          box-shadow: 0px 24px 36px 0px rgba(32, 32, 32, 0.7);
        }
      }
    }
  }
}
