.linksWrapper {
  transform: translateX(calc(var(--left-links-margin) - 3.25rem));

  transition: var(--transition);
  transition-property: transform;

  & > a {
    text-decoration: none !important;

    & > svg {
      width: 1.5rem;
      height: 1.5rem;
      & > path {
        fill: var(--text-primary);

        transition: var(--transition);
        transition-property: fill;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(100% - 0.125rem);
      left: 0;
      width: 100%;
      height: 0.125rem;
      border-radius: 0.0625rem;
      background: var(--element-accent-1);
      transform: scaleX(0);
      opacity: 0;
      transition: var(--transition);
      transition-property: transform, opacity;
    }

    & > span {
      text-decoration: none;
      color: var(--text-primary);
      text-align: center;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      letter-spacing: -0.2px;

      transition: var(--transition);
      transition-property: color;
    }

    & > [data-count] {
      height: 1.1875rem;
      min-width: 1.1875rem;
      width: min-content;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-inline: 0.4rem;
      background-color: var(--element-accent-1);
      border-radius: 0.59375rem;

      & > span {
        color: var(--text-button);
        text-align: center;
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.625rem;
      }
    }
    &[data-active="true"] {
      & > svg {
        & > path {
          fill: var(--element-accent-1);
        }
      }
      & > span {
        color: var(--text-accent);
      }
      &::before {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    &[data-notification] {
      & > section {
        transform: translateY(-2rem);
        & > ul {
          & > p {
            color: var(--text-primary);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5rem;
            letter-spacing: -0.01125rem;
          }
        }

        & > article {
          & > h3 {
            width: 100%;
            color: var(--text-primary);
            text-align: center;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.875rem;
            letter-spacing: -0.01125rem;
          }

          & > p {
            color: var(--text-secondary);
            text-align: center;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5rem;
            letter-spacing: -0.01125rem;
          }
        }

        &[data-active="true"] {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    @media screen and (max-width: 1236px) {
      & > span {
        display: none;
      }

      & > [data-count] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-100%);
      }
    }
  }
}
