.nav {
  position: fixed;
  width: 100%;
  height: var(--height-header-nav-bar);
  padding: 0 3.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  z-index: 70;
  background: var(--BG-second);

  &[data-none="true"] {
    display: none !important;
  }
}

[data-mobile="true"] {
  .nav {
    display: none !important;
  }
}
