.wrapper {
  height: calc(100vh - 4.875rem);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  gap: 1rem;
  margin-top: -1.5rem !important;
  padding-top: 1.5rem;

  & > header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;

    h4 {
      width: 100%;
      color: var(--text-primary);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.875rem;
      letter-spacing: -0.03125rem;
      z-index: 2;
    }

    & > nav {
      width: fit-content;
      height: 1.875rem;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;

      & > a {
        position: relative;
        color: var(--text-secondary);
        text-align: center;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.01125rem;
        padding-left: 0.565rem;
        padding-right: 0.565rem;
        white-space: nowrap;
        cursor: pointer;

        transition: var(--transition);
        transition-property: color;

        &[data-active="true"] {
          color: var(--text-accent);
        }

        &::before {
          content: "";
          position: absolute;
          top: calc(100% + 0.125rem);
          left: 0;
          width: 100%;
          height: 0.125rem;
          background: var(--text-accent);
          transform: scaleX(0);
          opacity: 0;

          transition: var(--transition);
          transition-property: transform, opacity;
        }

        &[data-active="true"] {
          &::before {
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: var(--BG-second);
    margin-bottom: 1.5rem;
  }

  & > article {
    width: 100%;
    height: calc(100%);
    border-radius: 2rem;
    background-color: var(--BG-second);
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    & > h2,
    & > p {
      max-width: 22.5rem;
      width: 100%;
      text-align: center;
      font-style: normal;
      line-height: 150%;
      letter-spacing: -0.03125rem;
    }

    & > h2 {
      color: var(--text-primary);
      font-size: 1.25rem;
      font-weight: 600;
    }

    & > p {
      color: var(--text-secondary);
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    display: none;
  }
}
