.wrapper {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    background: var(--background);
    transition: all 0.3s ease-in-out 0.03s;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 25;

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 68px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--glass-bg-color);
        z-index: 26;

        h4 {
            color: var(--gray-900);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.5px;
        }

        .buttonBack {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: var(--background-input);
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
            backdrop-filter: blur(4px);
        }
    }

    &[data-visible="true"] {
        opacity: 1;
        visibility: visible;
    }

    ul {
        padding: calc(20px + 68px) 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
