.wrapper {
  padding: 9.25rem 1rem 1rem;
  background: rgba(0, 0, 0, 0.72);
  backdrop-filter: blur(0.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  &[data-visible="true"] {
    z-index: 2005;
  }

  & > section {
    position: relative;
    width: 100%;
    max-width: 33.75rem;
    padding: 1.25rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    border-radius: 2rem;
    background: var(--BG-second);

    & > article {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;

      & > [data-img] {
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 2.1875rem;
        background: var(--grey-field);
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
          width: 2.25rem;
          height: 2.25rem;
        }
      }

      & > h3 {
        color: var(--text-primary);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
        letter-spacing: -0.0075rem;
      }
    }

    & > [data-close] {
      top: 0;
      left: calc(100% + 0.25rem);
    }

    & > [data-buttons] {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75rem;
    }

    & > footer {
      width: 100%;
      border-top: 1px solid var(--grey-separator);
      padding-top: 1.25rem;

      & > p {
        color: var(--text-secondary);
        text-align: center;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.00438rem;
      }
    }
  }
}

[data-tablet="true"] {
  .wrapper {
    padding: 1.25rem;
    justify-content: center;

    & > section {
      padding: 1.25rem;
      border-radius: 1.5rem;

      & > [data-close] {
        top: 0 !important;
        right: 0;
        left: initial;
        border: none !important;
        background: transparent;
      }

      & > [data-buttons] {
        flex-direction: column-reverse;
      }
    }
  }
}
