.wrapperStart {
    z-index: 2001;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.25rem 2rem 0;

    & > section {
        width: 100%;
        border-radius: 1.25rem;
        max-width: 41.625rem;
        height: fit-content;
        background: var(--background);

        &[data-is-onboarding="true"] {
            & > [data-close] {
                cursor: default;
            }
        }

        & > ul {
            width: 100%;
            padding: 2.5rem 2rem 3.825rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.25rem;
            height: 100%;
            overflow: hidden;
            overflow-y: auto;

            & > h2 {
                color: var(--gray-900);
                text-align: center;
                font-size: 2.25rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.75rem;
                letter-spacing: -0.01125rem;
            }

            & > article {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h5 {
                    color: var(--gray-900);
                    text-align: center;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5rem;
                    letter-spacing: -0.01125rem;
                }

                &[data-grid] {
                    display: grid;
                    gap: 1rem 1rem;
                    grid-template-columns: repeat(2, minmax(0, 1fr));

                    & > [data-item] {
                        width: 100%;
                        padding: 1rem;
                        border-radius: 0.75rem;
                        border: 1px solid var(--gray-400);
                        background: transparent;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        gap: 1.75rem;
                        cursor: pointer;

                        transition: var(--transition);
                        transition-property: background, border;

                        & > p {
                            color: var(--gray-500);
                            font-size: 0.875rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.25rem;
                            letter-spacing: -0.01125rem;

                            transition: var(--transition);
                            transition-property: color;
                        }

                        & > [data-footer] {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            & > b {
                                color: var(--gray-900);
                                font-size: 1rem;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 1.625rem;
                                letter-spacing: -0.01125rem;

                                transition: var(--transition);
                                transition-property: color;
                            }

                            & > img {
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                        }

                        &:hover {
                            background: var(--primary-500);
                            border: 1px solid var(--primary-500);

                            & > p {
                                // color: var(--glass-bg-color-3);
                            }

                            & > [data-footer] {
                                & > b {
                                    color: var(--supporting-white);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

[data-mobile="true"] {
    .wrapperStart {
        padding: 0;
        justify-content: flex-end;
        & > section {
            max-width: 100%;
            border-radius: 2rem 2rem 0 0;
            padding: 0;

            & > ul {
                padding: 2.25rem 1.25rem;
                & > h2 {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
                & > article {
                    &[data-grid] {
                        gap: 0.625rem 0.625rem;

                        & > [data-item] {
                            padding: 0.625rem;
                            & > [data-footer] {
                                & > b {
                                    font-size: 0.875rem;
                                    line-height: 1.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
