.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  // background-color: var(--background);
  background-image: url('/png/Screenshot_map.png');
  background-size: cover;
  background-repeat: no-repeat;
}