.containerAuthBanner,
.containerNoAuth {
    position: fixed;
    left: 1.5rem;
    top: calc(1.5rem + 77px);
    max-width: 320px;
    width: 100%;
    z-index: 59;
    box-shadow: 0px 4px 1.5rem 0px rgba(0, 0, 0, 0.12);
    border-radius: 2rem;
}

.containerAuthBanner {
    height: calc((100% - 3rem) - 77px);
    bottom: 1.5rem;
    background: var(--background);
    overflow: hidden;

    & > ul {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 1.5rem;

        & > [data-content] {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.25rem;

            .badges {
                display: inline-flex;
                gap: 0.75rem;
                align-items: center;

                .badge {
                    overflow: hidden;
                    width: 119px;
                    padding: 0.5rem 0.5rem 5px 1rem;
                    flex: 1 0 0;

                    p {
                        overflow: hidden;
                    }
                }
            }

            & > a {
                width: 100%;
                height: 40px;
                border-radius: 1.25rem;
                background: var(--primary-500);
                text-decoration: none;
                padding: 6px 1rem !important;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 2;

                & > span {
                    font-size: 18px;
                    font-weight: 500;
                    white-space: nowrap;
                    letter-spacing: -0.2px;
                    color: var(--supporting-white);
                }
            }
        }
    }
}

.containerNoAuth {
    flex-shrink: 0;
    background: var(--background);
    overflow: hidden;

    & > header {
        width: 100%;
        margin: 32px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    & > section {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin: 12px 16px;
        width: calc(100% - 32px);

        & > article {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            & > [data-description] {
                color: var(--gray-500);
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: -0.5px;
            }

            & > [data-buttons] {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
            }
        }

        .bannerContent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    & > footer {
        display: inline-flex;
        padding: 16px 0px;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        justify-content: center;

        & > a {
            color: var(--gray-900);
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.5px;
            text-decoration-line: underline;
            cursor: pointer;
        }
    }
}
