$width-left-aside-profile: var(--width-left-aside-profile);

.button,
.button > img,
.buttonNavigation {
  transition-duration: 700ms;
  transition-property: transform;
  transition-timing-function: ease;
}

.button {
  position: fixed;
  top: calc(var(--height-header-nav-bar) + 1.5rem + 1.75rem);
  left: 0;
  transform: translateX(calc(1.5rem + $width-left-aside-profile + 0.625rem));
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  z-index: 60;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--BG-second);

  &[data-is-banner="true"] {
    top: calc(var(--height-header-nav-bar) + 1.5rem + 1.75rem + 2.75rem);
  }

  & > img {
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(180deg);
  }

  &[data-collapse="true"] {
    transform: translateX(0.625rem);

    & > img {
      transform: rotate(0deg);
    }
  }
}

.buttonNavigation {
  position: fixed;
  left: 0;
  bottom: 1.5rem;
  transform: translateX(calc(1.5rem + $width-left-aside-profile + 0.625rem));
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  z-index: 60;
  width: 2.5rem;

  & > section {
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    background: var(--BG-second);
    overflow: hidden;

    & > button {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0.5rem 0.625rem 0.625rem;

      &:disabled {
        background-color: var(--btn-second-default);
        cursor: no-drop;
      }

      & > [data-icon] {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.125rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > svg {
          width: 1rem;
          height: 1rem;
        }
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  & > [data-navigate] {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 0.625rem;
    background: var(--BG-second);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
  }

  &[data-collapse="true"] {
    transform: translateX(0.625rem);
  }
}

[data-theme="dark"] {
  .buttonNavigation {
    & > section,
    [data-navigate] {
      box-shadow: 0px 6px 12px 0px rgba(32, 32, 32, 0.4);
    }
  }
}
[data-theme="light"] {
  .buttonNavigation {
    & > section,
    [data-navigate] {
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
