.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--height-mobile-footer-nav);
  background-color: var(--BG-second);
  opacity: 1;
  visibility: visible;
  display: none;
  padding-block: 0.25rem;
  z-index: -1;

  @media screen and (max-width: 760px) {
    display: inline-block;
    z-index: 99;
  }

  &[data-not-active="true"] {
    opacity: 0 !important;
    visibility: hidden !important;
    bottom: -100px !important;
  }

  & > nav {
    padding: 0 0.125rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(0.25rem);
    gap: 0.25rem;
  }
}

[data-theme="dark"] {
  .container {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(0.625rem);
  }
}
