.container {
  transition: var(--transition);
  transition-property: border-color;

  &[data-active="true"] {
    border-color: var(--text-accent);
  }

  &[data-type="information"] {
    & > [data-avatar] {
      padding: 0.5rem;
      background: linear-gradient(0deg, #f558ad 0%, #f558ad 100%), #fff;
      & > img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  &[data-type="warning"] {
    & > [data-avatar] {
      padding: 0.5rem;
      background: linear-gradient(0deg, #f97349 0%, #f97349 100%), linear-gradient(0deg, #f2f4f7 0%, #f2f4f7 100%), #fff;
      & > img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  &[data-type="error"] {
    & > [data-avatar] {
      padding: 0.5rem;
      background: #f35252;
      & > img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  & > section {
    & > article {
      & > [data-dots] {
        opacity: 0;

        transition: var(--transition);
        transition-property: opacity;
        & > svg {
          & > g {
            & > path {
              fill: var(--text-accent);
            }
          }
        }
      }

      & > p {
        color: var(--text-primary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.01125rem;

        & > a {
          color: var(--text-primary);
          font-weight: 500;
          cursor: pointer;
        }
      }

      & > [data-dots] {
        & > svg {
          height: 1rem;
          width: 1rem;
          & > g {
            & > path {
              transition: var(--transition);
              transition-property: fill;
            }
          }
        }

        &[data-active="true"] {
          & > svg {
            & > g {
              & > path {
                fill: var(--text-accent-2);
              }
            }
          }
        }
      }
    }

    & > [data-buttons] {
      & > button,
      & > a {
        min-width: 6.875rem;
        height: 2.25rem;
        border-radius: 1.125rem;

        & > span {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem;
          letter-spacing: -0.01125rem;
        }

        &[data-yes-or-not] {
          max-width: 6.875rem;
          height: 2.25rem;
          border-radius: 1.125rem;
        }

        &[data-threads] {
          max-width: min-content;
          padding-inline: 1.25rem;
        }
      }

      & > span {
        width: min-content;
        white-space: nowrap;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.03125rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

        & > [data-img] {
          width: 1.25rem;
          height: 1.25rem;
          padding: 0.125rem;
          display: flex;
          align-items: center;
          justify-content: center;

          & > img {
            width: 1rem;
            height: 1rem;
          }
        }

        &[data-operation="completion-yes"],
        &[data-operation="feedback-received"] {
          color: var(--text-accent);
        }
        &[data-operation="completion-no"] {
          color: var(--text-secondary);
        }
      }
    }
  }

  &:hover {
    & > section {
      & > article {
        & > [data-dots] {
          opacity: 1;
        }
      }
    }
  }
}

[data-theme="dark"] {
  .container {
    [data-popup] {
      & > a {
        & > img {
          &[data-loading-image="false"] {
            filter: invert(1);
          }
        }
      }
    }
  }
}

[data-tablet="true"] {
  .container {
    & > section {
      & > article {
        & > [data-dots] {
          opacity: 1;
        }
      }
    }
  }
}
