.h4 {
  max-width: 420px;
  width: 100%;
  color: var(--text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;

  & > i {
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
  }
}
