.wrapper {
    max-width: 684px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h3 {
            color: var(--gray-900);
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0px;
        }
    }

    &.mobile {
        max-width: 100%;

        section {
            h3 {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.button {
    max-width: 240px;
    height: 52px;
}
