.container {
    width: 100%;

    ul {
        width: 100%;
        display: grid;
        justify-content: center;
        gap: 16px 16px;
        grid-template-columns: repeat(3, 1fr);
        z-index: 2;
    }

    &.mobile {
        padding-left: 20px;
        padding-right: 20px;

        ul {
            gap: 20px 20px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
