.container {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > [data-div-text-area="true"] {
    max-height: 128px;
  }

  p {
    color: var(--text-primary);
    font-size: 14px;
    text-align: start;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 1.25rem;
    letter-spacing: -0px;
  }
}
