.header {
  height: 4.875rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 2rem calc(0.75rem + 50px + 0.75rem);
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h3 {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    letter-spacing: -0.3px;
  }
}

[data-mobile="true"] {
  .header {
    height: 4.125rem;
    padding: 1rem calc(0.75rem + 2.25rem + 0.5rem);

    & > h3 {
      font-size: 1.25rem;
    }
  }
}

.selectAndTextarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
}
