.container {
  width: 100%;
  padding-inline: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;

  & > button {
    border: none;
    outline: none;
    background-color: var(--grey-field);
    height: 1.875rem;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.9375rem;
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    & > svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    & > span {
      color: var(--text-secondary);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1rem; /* 133.333% */
    }

    &[data-like="true"] {
      & > span {
        color: var(--text-accent);
      }
    }
  }

  & > [data-activity] {
    position: relative;
    z-index: 2;

    & > [data-shared] {
      position: absolute;
      z-index: 3;
      top: calc(100%);
      left: 0;
      transform: translateY(-50%);
      border-radius: 0.75rem;
      background: var(--BG-second);
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
      padding: 0.75rem;
      opacity: 0;
      visibility: hidden;
      width: 13.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.125rem;

      transition: var(--transition);
      transition-property: opacity, visibility;

      &[data-shared="true"] {
        opacity: 1;
        visibility: visible;
      }

      & > h3 {
        display: none;
      }

      & > a {
        width: 100%;
        padding: 0.5rem 0.375rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.625rem;
        border-radius: 0.375rem;

        & > [data-icon] {
          width: 1.25rem;
          height: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          padding: 0.625rem;

          & > svg {
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
          }
        }

        & > span {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
        }

        &:hover,
        &:focus {
          background: var(--grey-field);
        }
      }
    }
  }
}

[data-theme="dark"] {
  .container {
    & > [data-activity] {
      & > [data-shared] {
      }
    }
  }
}

[data-tablet="true"] {
  .container {
    & > [data-activity] {
      & > [data-shared] {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 1.25rem;
        padding-top: 2.25rem;

        & > h3 {
          display: block;
          color: var(--text-primary);
          text-align: center;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2rem;
          margin-bottom: 1.25rem;
        }

        & > a {
          & > span {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}
