.wrapper {
  & > section {
    & > header {
      & > [data-img] {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        padding: 0.375rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }

    & > [data-container] {
      & > article {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & > p {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
          letter-spacing: -0.02125rem;
        }

        & > time {
          text-align: start;
          color: var(--text-secondary);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem;
          letter-spacing: -0.00275rem;
        }
      }
    }

    &[data-alert="true"] {
      & > header {
        & > [data-img] {
          background-color: var(--element-error);
        }
      }
    }
  }
}
