.main {
  & > section {
    & > ul {
      -webkit-overflow-scrolling: touch;

      & > p,
      & > li {
        padding-inline: 0.625rem;
        width: 100%;
        color: var(--text-primary);
        text-align: start;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;

        & > a {
          color: var(--link-color);
        }
      }

      & > li {
        padding-left: 0.875rem;
      }

      & > i {
        padding-inline: 0.875rem;
        color: var(--text-primary);
        text-align: start;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }

  @media screen and (max-width: 768px) {
    & > section {
      & > ul {
        padding-top: calc(var(--height-mobile-header) + 1.25rem);
        padding-inline: 0.75rem;
        padding-bottom: calc(var(--height-mobile-footer-nav) + 1.25rem);
      }
    }
  }
}
