.container{
        position: absolute;
        top: 24px;
        left: 24px;
        max-width: 274px;
        width: 100%;
        flex-shrink: 0;
        border-radius: var(--banner-border-radius);
        background: var(--glass-bg-color);
        overflow: hidden;
        backdrop-filter: blur(4px);
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
}

.headerSing{
        width: 100%;
        margin: 32px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.content{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin: 12px 16px;

        .descriptionSing{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                .description{
                        color: var(--gray-500);
                        text-align: center;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28px;
                        letter-spacing: -0.5px;
                }
        }

        .buttons{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
        }

        .bannerContent{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
        }
}

.footer{
        display: inline-flex;
        padding: 16px 0px;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        justify-content: center;

        a{
                color: var(--gray-900);
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: -0.5px;
                text-decoration-line: underline;
                cursor: pointer;
        }
}