.container {
    width: 100%;
    padding: 13px 0.5rem 13px 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    border-radius: 1rem;
    background: var(--background-input);
    cursor: pointer;
    z-index: 3;

    & > p {
        color: var(--gray-900);
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.5px;
    }
}

[data-tablet="true"] {
    .container {
        padding: 0.75rem;
        background: var(--background);
    }
}

[data-theme="light"] {
    .container {
        & > img {
            filter: invert(1);
        }
    }
}
