.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &.mobile {
    }

    .buttons {
        width: 100%;
        display: inline-flex;
        align-items: center;
    }
}

.largeButton {
    padding: 10px 20px;
}

[data-theme="light"] {
    .container {
        & > [data-friends] {
            & > img {
                filter: invert(1);
            }
        }
    }
}
