.container {
  padding: 0.25rem 0.75rem;
  height: 1.5rem;
  width: min-content;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    color: var(--text-button);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    white-space: nowrap;
  }

  &[data-completed] {
    background-color: var(--more-orange);
  }

  &[data-executed] {
    background-color: var(--more-green);
  }
}
