.container {
  &[data-status="initiated"] {
    border-color: rgba(107, 90, 231, 0.6);
  }

  & > [data-profile] {
    & > [data-inform] {
      & > time {
        color: var(--text-secondary);
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
      }

      & > a {
        color: var(--text-accent);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem; /* 133.333% */
      }
    }
  }

  & > [data-button-forward] {
    height: 2.25rem;
    border-radius: 1.125rem;

    & > span {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
    }
  }

  & > [data-categories] {
    article {
      display: grid;
      grid-template-columns: 1.5rem minmax(0, 1fr);
      align-items: center;
      gap: 0.25rem;
      height: calc(2rem + 2px);
      padding: 0.25rem;
      padding-right: 0.375rem;
      border-radius: calc(1rem + 2px);
      border: 1px solid var(--grey-stroke-light);
      background: var(--BG-second);
      cursor: pointer;

      &[data-me] {
        grid-template-columns: 1.5rem minmax(0, 1fr) 1.5rem;
      }
    }

    & > [data-first] {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 1.5rem;
      gap: 0.25rem;
      align-items: center;

      & > svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

[data-theme="dark"] {
  .container {
    box-shadow: 0px 12px 24px 0px rgba(32, 32, 32, 0.5);
  }
}
[data-theme="light"] {
  .container {
    box-shadow: 0px 4px 24px 0px rgba(98, 106, 118, 0.08), 0px 2px 6px 0px rgba(98, 106, 118, 0.06);
  }
}
