.container {
    position: absolute;
    will-change: transform;
    top: -170px;
    left: -170px;
    width: 340px;
    height: 340px;
    border-radius: 170px;
    background: var(--primary-300);
    mix-blend-mode: color-dodge;
    filter: blur(120px);
    pointer-events: none;
    transform: translate(0px, 0px);
    z-index: 1;
}

[data-theme="light"] {
    .container {
        background: var(--primary-400);
    }
}
