.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;

    footer {
        position: absolute;
        bottom: 42px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        z-index: 20;

        .button {
            max-width: 240px;
            width: 100%;
        }

        &.mobile {
            position: static;
            padding: 0 32px 40px;
            .button {
                span {
                    font-size: 18px;
                    line-height: 28px;
                }
                height: 44px;
            }
        }
    }
}

.steps {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;

    .checkBoxes {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
    }
    .description {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        h4 {
            color: var(--gray-900);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.5px;
        }
    }
}
