.container {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    border-radius: 16px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-3);

    .content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;

        .header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .userDate {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                a {
                    color: var(--primary-500);
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: -0.5px;
                    cursor: pointer;
                }

                p {
                    color: var(--gray-500);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.25rem;
                    letter-spacing: -0.5px;
                }
            }
        }

        .description {
            color: var(--gray-900);
            font-size: 14px;
            line-height: 1.25rem;
            letter-spacing: -0.5px;
        }

        .images {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: flex-start;
            gap: 0.5rem;
            flex-direction: row;
            flex-wrap: wrap;

            .divImg {
                flex: 0 0 calc(30% - 8px);
                width: 100px;
                height: 72px;
            }

            img {
                object-fit: cover;
            }
        }
    }
}

[data-mobile="true"] {
    .container {
        width: calc(100% - 16px);

        .content {
            width: calc(100%);
        }
    }
}
