.map-alert {
    background: var(--SOS-CARD);
}

.map-alert-button-help {
    max-width: 180px;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background: var(--success-500);
    cursor: pointer;
    span {
        color: var(--supporting-white);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}
