.ymaps-2-1-79-balloon {
    border: none !important;
    width: 338px;
    height: auto;
    z-index: 30;
}

.ymaps-2-1-79-balloon__content {
    & > ymaps {
        width: 100% !important;
        height: fit-content !important;
        list-style: none;
        scrollbar-width: none !important;
        -ms-overflow-style: none !important;

        &::-webkit-scrollbar {
            display: none !important;
        }
    }
}

.ymaps-2-1-79-balloon__layout {
    height: 100%;
    width: 100%;
    padding-right: 0px;
    border-radius: 16px;
    background: transparent !important;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    border: none !important;
}

[data-theme="dark"] {
    .ymaps-2-1-79-balloon__layout {
        box-shadow: none !important;
        background: transparent;
    }
}

.ymaps-2-1-79-balloon__tail {
    display: none !important;
}

.ymaps-2-1-79-balloon__content {
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

.ymaps-2-1-79-balloon__close {
    display: none !important;
}

////////////////////////////////////////////////////////

.maps-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: space-between;
}

.maps-service-title-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    height: auto;
}

.maps-photo-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    z-index: 1;
}

.maps-badge-rating {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    display: inline-flex;
    padding: 2px 4.5px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 100px;
    background: var(--primary-500);
    z-index: 2;

    p {
        color: var(--supporting-white);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.125rem;
        letter-spacing: -0.5px;
    }
}

.maps-avatar {
    object-fit: cover;
    width: 56px;
    height: 56px;
    border-radius: 12px;
}

.maps-about-content {
    max-width: 206px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    h3,
    p,
    a {
        letter-spacing: -0.1px;
        font-style: normal;
    }

    h3 {
        color: #fff;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 30px;
    }
    a {
        color: var(--gray-500);
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.125rem;
    }
    p {
        color: var(--gray-500);
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.125rem;
        max-height: calc(18px * 3);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}

.maps-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.maps-button-circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid transparent !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;
    background:
        var(--gradient-optional-1-reverb) padding-box,
        var(--gradient-optional-1) border-box !important;
    backdrop-filter: saturate(2) !important;
}

[data-theme="dark"] {
    .maps-button-circle {
        background:
            var(--gradient-optional-1-reverb) padding-box,
            var(--gradient-optional-1) border-box !important;
        backdrop-filter: saturate(0.3) !important;
    }
}

//map-divider

.map-divider {
    height: 1px;
    width: 100%;
    background: var(--opacity-white-hard);
}

//general

.map-balloon-container {
    width: 100%;
    height: fit-content;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 0;

    header {
        width: 100%;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border-bottom: 1px solid var(--opacity-white-hard);
    }

    footer {
        padding: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.map-alert-footer {
            justify-content: center;
        }
        &.map-discussion-footer {
            justify-content: space-between;
        }
    }
}

.map-footer-button-commentaries {
    padding: 8px 16px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 18px;
    border-radius: 100px;
    background: var(--opacity-white-hard);
    cursor: pointer;

    span {
        color: var(--supporting-white);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25rem;
    }

    img {
        width: 18px;
        height: 18px;
    }
}

.map-title {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);

    p {
        color: var(--supporting-white);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
}

.map-time {
    color: var(--supporting-white);
    text-align: right;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
}
