.container {
  max-width: 259px;
  width: 100%;
  display: flex;
  padding: 16px 10px 10px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  // border: 2px solid var(--supporting-white);
  background: var(--gradient-optional-2);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  h4 {
    color: var(--gray-900);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.857%;
    letter-spacing: -0.5px;
  }

  ul {
    list-style-type: none;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    white-space: nowrap;
    padding: 0 !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.carouselPhotos {
  position: relative;
  width: 239px;
  height: 220px;
  border-radius: 20px;
  background-color: transparent;
  overflow: hidden;

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.6s ease-in-out 0.05s;

    &.active{
      opacity: 1;
    }
  }

  .containerDots{
    position: absolute;
    top: 8px;
    transform: translateX(-50%);
    left: 50%;
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(2px);

    span{
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.24);
      cursor: pointer;
      transition: all 0.3s ease-in-out 0.05s;

      &.active{
        background: var(--supporting-white);
      }
    }
  }
}

.button{
  position: absolute;
  bottom: 8px;
  transform: translateX(-50%);
  left: 50%;
}