.container {
    max-width: 280px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: calc(29px + 6px);

    &[data-type="optional-2"] {
        background: var(--gradient-request);
    }
    &[data-type="optional-3"] {
        background: var(--gradient-offer);
    }

    & > header {
        width: 100%;
        border-bottom: 1px solid var(--opacity-white-hard);
        padding: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        & > div {
            width: 58px;
            height: 58px;
            aspect-ratio: 1/1;
            border: 2px solid var(--stroke-1);
            background-color: #fff;
            padding: 28px;
            border-radius: 50%;
            box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.28);
            overflow: hidden;
            cursor: pointer;
        }

        & > h4 {
            text-align: start;
            width: fit-content;
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }
    }

    & > section {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;

        & > [data-profile] {
            display: flex;
            flex-direction: row;
            gap: 8px;

            & > [data-circle] {
                width: 44px;
                border-radius: 44px;
                aspect-ratio: 1/1;
                background-color: #fff;
                position: relative;
                cursor: pointer;

                & > [data-r] {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    position: relative;
                    -webkit-animation: spin 31s linear infinite;
                    -moz-animation: spin 31s linear infinite;
                    animation: spin 31s linear infinite;
                    background: var(--rainbow-linear-gradient);
                    overflow: hidden;
                    z-index: 1;
                    & > [data-l] {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: absolute;
                        background-color: transparent;
                        z-index: 2;

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        & > [data-c] {
                            height: 3px;
                            width: 3px;
                            background-color: #fff;
                            border-radius: 0 1px 1px 0;
                        }
                    }
                }

                & > [data-image="avatar"] {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    width: calc(100% - 6px);
                    height: calc(100% - 6px);
                    z-index: 5;
                    background-color: var(--stroke-1);

                    &[data-is-length="false"] {
                        width: calc(100%) !important;
                        height: calc(100%) !important;
                    }
                }
            }

            & > [data-info] {
                display: flex;
                flex-direction: column;
                width: calc(100% - 44px - 8px);

                & > [data-geo] {
                    p {
                        color: var(--supporting-white);
                    }
                }
            }
        }

        & > h5 {
            width: 100%;
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }

        & > [data-relative="true"] {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            bottom: 0;
            & > button {
                width: min-content;
            }
        }
    }

    &[data-mobile="true"] {
        max-width: 100%;
    }
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    & > button {
        width: min-content;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
