.container {
  padding: 1.25rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  max-width: 33.75rem;

  & > article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;

    & > [data-icon] {
      width: 4.375rem;
      height: 4.375rem;
      border-radius: 2.1875rem;
      aspect-ratio: 1/1;
      margin-bottom: calc(2.5rem - 1.125rem);
      position: relative;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--grey-field);

      & > [data-svg] {
        width: 2rem;
        height: 2rem;
      }

      &[data-icon="alert"] {
        & > [data-svg] {
          background-color: var(--more-red);
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;

          & > svg {
            width: 1.23075rem;
            height: 1.23075rem;
          }
        }
      }
      &[data-icon="discussion"],
      &[data-icon="offer"] {
        & > [data-svg] {
          display: flex;
          align-items: center;
          justify-content: center;

          & > svg {
            width: 1.23075rem;
            height: 1.23075rem;
          }
        }
      }

      & > [data-check] {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.75rem;
        top: calc(100% - 0.875rem);
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem;
        background-color: var(--more-field);
        z-index: 3;

        & > svg {
          width: 1rem;
          height: 1rem;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &::after {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 1.25rem;
          background-color: var(--more-field);
          opacity: 0.15;
          z-index: -1;
        }
        &::before {
          width: 2rem;
          height: 2rem;
          border-radius: 1rem;
          background-color: var(--more-field);
          opacity: 0.3;
          z-index: -2;
        }
      }
    }

    & > h2,
    & > p {
      color: var(--text-primary);
      text-align: center;
      font-style: normal;
    }

    & > h2 {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2rem;
    }

    & > p {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25rem;
    }
  }

  & > button {
    max-width: 14rem;
  }

  @media screen and (max-width: 768px) {
    padding: 1.25rem;
    padding-top: 2.25rem;
    max-width: 100%;
  }
}
