.containerHeader {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  h4 {
    color: var(--gray-900);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.5px;
    z-index: 1;
  }

  &.mobile{
    h4{
      color: var(--gray-900, #101828);
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    .badgeTotal{
      background: var(--primary-500);

      h4{
        color: var(--supporting-white);
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}

.badgeTotal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 100px;
  background: var(--supporting-white);
  z-index: 1;

  h4 {
    color: var(--primary-500);
  }
}


//container Offers Now

.containerOffersNow {
  width: 100%;
  height: 100%;
  z-index: 2;

  
  ul {
    width: 100%;
    // height: calc(100%);
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 20px 16px;
    padding-bottom: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
    
    &::-webkit-scrollbar {
      display: none;
    }
    
    li{
      z-index: 2;
    }
  }

  @media screen and (max-width: 1380px) {
    ul{
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &.mobile{
    ul{
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      overflow-y: visible;
    }
  }
}

// containerOffersCardMobile

.containerOffersCardMobile{
  width: 100%;
  display: inline-flex;
  gap: 16px;
  z-index: 2 !important;
}