.wrapper {
  & > section {
    & > [data-close] {
      z-index: 1000;
    }

    & > form {
      & > [data-text-area-from] {
        & > textarea {
          width: 100%;
          min-height: calc(3rem);
          border-radius: 0;
          border: none !important;
          outline: none !important;
          resize: none;
        }

        & > span {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          & > span {
            color: var(--text-primary);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;
            letter-spacing: -0.03125rem;
          }

          &[data-error="true"] {
            & > span {
              color: var(--text-error);
            }
          }
        }
      }

      & > [data-buttons] {
        margin-top: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
      }
    }
  }
}
