.container {
  width: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  align-self: stretch;
  border-radius: 100px;
  background: var(--supporting-white);
  box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
  height: 50px;


  .button {
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    background: var(--supporting-white);
    transition: all 0.5s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;

    p {
      display: flex;
      color: var(--gray-400);
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.5px;

      @media screen and (max-width: 480px) {}
    }

    &.active {
      &.primary {
        background: var(--gradient-primary);
      }

      &.optional-1 {
        background: var(--gradient-optional-1);
      }

      p {
        color: var(--supporting-white);
      }
    }

    &.border-right {
      &::before {
        content: "";
        position: absolute;
        border-right: 1px solid var(--gray-300);
        top: 50%;
        transform: translate(-50%, -50%);
        left: 100%;
        height: 20px;
      }
    }

    &.border-left {
      &::after {
        content: "";
        position: absolute;
        border-left: 1px solid var(--gray-300);
        top: 50%;
        transform: translate(-50%, -50%);
        left: 0;
        height: 20px;
      }
    }
  }
}