.container {
    width: 100%;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 100px;
    background: var(--BG-second);
    height: 3.125rem;

    &[data-border="true"] {
        border: 0.0625rem solid var(--grey-stroke);
    }

    .button {
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        flex: 1 0 0;
        border-radius: 2rem;
        cursor: pointer;
        position: relative;
        background: transparent;
        transition: var(--transition);
        transition-property: background;
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;

        p {
            display: flex;
            color: var(--text-secondary);
            text-align: center;
            font-size: 0.875rem;
            font-weight: 500;
            letter-spacing: -0.5px;
            transition: var(--transition);
            transition-property: color;
        }

        &[data-active="true"] {
            background: var(--element-accent-2);

            p {
                color: var(--text-tab);
            }
        }

        &[data-active="false"] {
            &:hover {
                background: var(--grey-field);
                p {
                    color: var(--text-primary);
                }
            }
        }
    }
}

[data-mobile="true"] {
    .container {
        .button {
            p {
                font-size: 0.75rem;
            }
        }
    }
}
