.container {
    width: 100%;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 100px;
    background: var(--background);
    height: 50px;

    &[data-border="true"] {
        border: 1px solid var(--gray-200);
    }

    .button {
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex: 1 0 0;
        border-radius: 2rem;
        cursor: pointer;
        position: relative;
        background: transparent;
        transition: var(--transition);
        transition-property: background;
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;

        p {
            display: flex;
            color: var(--gray-600);
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.5px;
            transition: var(--transition);
            transition-property: color;
        }

        &[data-active="true"] {
            &[data-type="primary"] {
                background: var(--primary-900);
            }
            &[data-type="optional-1"] {
                background: var(--gradient-optional-1);
            }

            p {
                color: var(--supporting-white);
            }
        }

        &[data-active="false"] {
            &:hover {
                background: var(--gray-200);
                p {
                    color: var(--gray-900);
                }
            }
        }
    }
}

[data-mobile="true"] {
    .container {
        .button {
            p {
                font-size: 12px;
            }
        }
    }
}

[data-theme="dark"] {
    .container {
        box-shadow: none;

        .button {
            &[data-active="true"] {
                background: var(--primary-800);
            }
        }
    }
}
