.container {
    padding: 14px;
    display: flex;
    max-height: 128px;
    height: 100%;
    border-radius: 16px;
    border: 1px solid var(--gray-300);
    outline: 1px solid var(--gray-300);
    background: var(--background-input);
    resize: none;

    &:focus {
        border: 1px solid var(--primary-500);
        outline: 1px solid var(--primary-500);
    }

    color: var(--gray-900);
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 20px;

    &::placeholder {
        color: var(--gray-400);
        font-size: 14px;
        font-style: normal;
        font-weight: 500 !important;
        line-height: 20px;
    }
}
