.container {
  &[data-provider="alert"] {
    border-color: rgba(239, 68, 36, 0.2);
    background: rgba(239, 68, 36, 0.05);
  }
  &[data-provider="discussion"] {
    border-color: rgba(16, 117, 238, 0.2);
    background: rgba(16, 117, 238, 0.04);
  }
  &[data-provider="offer"] {
    border-color: var(--grey-stroke-light);
    background-color: var(--BG-second);
  }

  [data-images-offer] {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    height: 4.875rem;
    min-height: 4.875rem;

    & > [data-images] {
      padding-inline: 1rem;
      height: 4.875rem;
      min-height: 4.875rem;

      & > img {
        width: 4.375rem;
        height: 4.875rem;
        border-radius: 0.5rem;
        aspect-ratio: 4.375/4.875;
      }
    }
  }

  & > [data-divider] {
    width: 100%;
    height: 1px;
    background-color: var(--grey-stroke-light);
    padding-top: 0.25rem;
  }
}

// [data-theme="light"] {
//   .container,
//   .container > [data-time-dots] > [data-dots-and-button] > article {
//     box-shadow: 0px 4px 24px 0px rgba(98, 106, 118, 0.08), 0px 2px 6px 0px rgba(98, 106, 118, 0.06);
//   }
// }
// [data-theme="dark"] {
//   .container,
//   .container > [data-time-dots] > [data-dots-and-button] > article {
//     box-shadow: 0px 12px 24px 0px rgba(32, 32, 32, 0.5);
//   }
// }
