.container {
  [data-images-offer] {
    height: 4.875rem;
    min-height: 4.875rem;

    & > [data-images] {
      height: 4.875rem;
      min-height: 4.875rem;

      & > img,
      & > div {
        width: 4.375rem;
        height: 4.875rem;
        border-radius: 0.5rem;
        aspect-ratio: 4.375/4.875;
      }

      & > div {
        padding-inline: 2.1875rem;
      }
    }
  }
}
