.li {
  padding: 5px 12px 5px 5px;
  border-radius: 19px;
  & > [data-icon] {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 14px;
    background: var(--background);
    border: 1px solid var(--stroke-1);
  }

  &[data-active="true"] {
    background: var(--gradient-optional-1);
    p {
      color: var(--supporting-white);
    }
  }
}
