@mixin flexColumn{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    z-index: 2;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.informationProfileColumn{
    @include flexColumn();
    gap: 12px;
}

.adressProfileColumn{
    @include flexColumn();
    gap: 8px;

    .adressTitleAbout{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        h5, p{
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.5px;
        }

        h5{
            color: var(--gray-900);
            font-size: 14px;
            line-height: 20px;
        }
        p{
            color: var(--gray-600);
            font-size: 12px;
            line-height: 18px;
        }
    }
}