.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.photoContainer {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 24px;
    border: 6px solid var(--stroke-1);
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.16);
    z-index: 1;

    .avatar {
        height: 108px;
        width: 108px;
        border-radius: 20px;
        object-fit: cover;
    }
}

.iconPlus {
    position: absolute;
    bottom: -9px;
    right: -9px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 3px solid var(--stroke-1);
    background: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    overflow: hidden;
    cursor: pointer;
}

.inputUploadFile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none !important;
    outline: none !important;
    height: 100%;
    width: 100%;
    z-index: 30;
    border-radius: 20px;
    opacity: 0;
    cursor: pointer;
}
