.wrapper {
  z-index: 2002;
  background: rgba(5, 1, 13, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem;

  & > section {
    position: relative;
    width: 100%;
    max-width: 33.75rem;
    padding: 1.25rem;
    background-color: var(--BG-second);
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;

    & > article {
      padding-inline: 1.25rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;

      & > [data-img] {
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 1.375rem;
        background: var(--grey-field);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;

        & > img {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      & > h2 {
        color: var(--text-primary);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
        letter-spacing: -0.03125rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & > span {
          color: var(--text-primary);
          text-align: center;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem; /* 142.857% */
          letter-spacing: -0.03125rem;
        }
      }
    }

    & > footer {
      padding-inline: 1.25rem;
      padding-bottom: 1.25rem;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 0.75rem;

      & > button {
        height: 2.75rem;
        border-radius: 1.375rem;
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    padding: 0;
    justify-content: flex-end;
    & > section {
      border-radius: 1.5rem 1.5rem 0 0;
      padding-top: 2.25rem;

      transform: translateY(100%);

      transition: var(--transition);
      transition-duration: 0.45s;
      transition-property: transform;

      & > article {
        padding-inline: 0;
      }

      & > footer {
        padding-inline: 0;
        padding-bottom: 0;
        flex-direction: column;
      }
    }

    &[data-visible="true"] {
      & > section {
        transform: translateY(0);
      }
    }
  }
}
