.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        a,
        p {
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            letter-spacing: -0.5px;
        }
        p {
            color: var(--gray-500);
            line-height: 142.857%;
        }
        a {
            color: var(--primary-500);
            cursor: pointer;
            text-decoration: none;
        }
    }
}
