@mixin loading {
    position: relative;
    overflow: hidden;
    display: flex;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        width: 45%;
        top: 0;
        bottom: 0;
        height: 100%;
        background: linear-gradient(to right, transparent 0%, #e8e8e8 50%, transparent 100%);
        animation: loading 0.6s ease-in-out infinite;
    }
}

@mixin container {
    width: 100%;
    display: flex;
    flex-direction: column;

    span {
        @include loading;
    }
}

.containerProfile {
    @include container;
    flex-direction: row;
    gap: 0.75rem;

    & > [data-avatar] {
        width: 2.75rem;
        height: 2.75rem;
        padding: 1.375rem;
        border-radius: 0.75rem;
        background-color: var(--gray-200);
    }

    & > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.25rem;

        & > span {
            border-radius: 0.25rem;
            background-color: var(--gray-200);
        }

        & > [data-name] {
            height: 1.25rem;
            width: 75%;
        }

        & > [data-geo] {
            width: 100%;
            height: 0.875rem;
        }
    }
}

.containerBarter {
    @include container;
    padding: 0.75rem;
    gap: 0.625rem;
    border-radius: 1rem;
    background-color: var(--glass-bg-color-1);
    border: 1px solid var(--gray-200);

    span {
        background-color: var(--gray-200);
    }

    & > [data-content],
    & > [data-footer] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
    }

    & > [data-content] {
        & > [data-category] {
            width: calc(50% - 1rem - 0.75rem);
            height: 2rem;
            border-radius: 1rem;
        }

        & > [data-repeat] {
            width: 2rem;
            height: 2rem;
            border-radius: 0.25rem;
        }
    }

    & > [data-footer] {
        justify-content: space-between;

        & > [data-time] {
            height: 0.875rem;
            width: 4rem;
            border-radius: 0.125rem;
        }

        & > [data-circle] {
            width: 2.5rem;
            height: 2.5rem;
            padding: 1.25rem;
            border-radius: 50%;
        }
    }
}

.containerService {
    @include container;
    gap: 0.75rem;
    background-color: var(--background-input);
    border-radius: 2rem;
    padding: 0.75rem;
    padding-bottom: 1.25rem;

    & > [data-header] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;

        & > * {
            background-color: var(--gray-200);
        }

        & > [data-cirlce] {
            width: 3.625rem;
            height: 3.625rem;
            border-radius: 50%;
            padding: 1.8125rem;
        }

        & > [data-title] {
            width: 100%;
            height: 1.5rem;
            border-radius: 0.25rem;
        }
    }

    & > [data-footer] {
        width: 100%;
        background-color: var(--gray-200);

        border-radius: 0.25rem;
        height: 2rem;
    }
}

[data-theme="light"] {
    .containerService {
    }
}

.container {
    @include container;
    padding: 1rem;
    border-bottom: 1px solid var(--gray-300);
    background-color: var(--background);
    gap: 0.75rem;
    height: min-content;

    & > [data-footer] {
        @include loading;
        height: 1.25rem;
        width: 100%;
        border-radius: 0.25rem;
        background-color: var(--gray-200);
    }
}

.containerMyOffer {
    @include container;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--background);
    gap: 0.75rem;

    span {
        background-color: var(--gray-200);
    }

    & > * {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
    }

    [data-prefix] {
        width: 2rem;
        height: 1rem;
        border-radius: 0.25rem;
        padding-inline: 1rem;
    }

    & > [data-header] {
        justify-content: space-between;
        & > [data-title] {
            max-width: 7rem;
            width: 100%;
            height: 1rem;
            border-radius: 0.25rem;
        }

        & > [data-rating] {
            max-width: 5rem;
            width: 100%;
            height: 1.125rem;
            border-radius: 0.25rem;
        }
    }

    & > [data-want] {
        & > [data-p] {
            width: 100%;
            height: 1.25rem;
            border-radius: 0.125rem;
        }
    }

    & > [data-can] {
        & > [data-category] {
            height: 2rem;
            width: 100%;
            border-radius: 1rem;
        }
    }

    & > [data-image] {
        & > * {
            width: calc(25% - 0.5625rem);
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 1rem;
        }
    }

    & > [data-footer] {
        span {
            height: 2rem;
            width: 2rem;
            padding: 1rem;
            border-radius: 1rem;
        }

        & > [data-button] {
            width: 100%;
        }
    }
}

.containerFeedback {
    @include container;
    gap: 0.75rem;
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: var(--background);
    border: 1px solid var(--gray-300);

    span {
        background-color: var(--gray-200);
    }

    & > [data-header] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
        justify-content: space-between;

        & > [data-user] {
            border-radius: 0.5rem;
            max-width: 5rem;
            width: 100%;
            height: 1.5rem;
        }

        & > [data-rating] {
            max-width: 5rem;
            width: 100%;
            height: 1.25rem;
            border-radius: 0.375rem;
        }
    }

    & > [data-content] {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & > span {
            width: 100%;
            border-radius: 0.375rem;
            height: 1.25rem;
        }
    }
}

@keyframes loading {
    from {
        transform: translateX(-140%);
    }
    to {
        transform: translateX(140%);
    }
}
