.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: min-content;
    gap: 0;
    height: 50px;
    padding: 4px;
    background: transparent;
    border-radius: 25px;
    border: 1px solid var(--gray-300);

    & > button {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        border: none;
        outline: none !important;
        background: var(--background);
        transition: var(--transition);
        transition-property: background;
        padding: 0.75rem;

        &[data-active="true"] {
            background: var(--primary-900);
        }

        &[data-active="false"] {
            &:hover {
                background: var(--gray-200);
                p {
                    color: var(--gray-900);
                }
            }
        }
    }
}

[data-theme="dark"] {
    .container {
        & > button {
            &[data-active="true"] {
                background: var(--primary-800);
            }
        }
    }
}

[data-theme="light"] {
    .container {
        & > button {
            &[data-active="false"] {
                & > img {
                    filter: invert(1);
                }
            }
        }
    }
}
