.blockSearch {
    width: 100%;
    height: 78px;
    padding-left: 14px;
    padding-right: 14px;
    z-index: 3;

    &.mobile {
        position: fixed;
        top: 0;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        & > div {
            height: 50px;
        }
    }
}

//containerList

.containerList {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
}

//containerItemListChat

.containerItemListChat {
    width: 100%;
    position: relative;
    height: auto;
    padding: 16px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0.01s;

    &[data-last="true"] {
        border-bottom: 1px solid var(--gray-300);
    }

    &.active {
        background: var(--primary-200);
        cursor: default;
    }

    .header {
        display: inline-flex;
        justify-content: space-between;
        gap: 16px;
        background: transparent;
        width: calc(100%);

        &[data-barter="true"] {
            width: calc(100% - 32px);
        }

        .titleBlock {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            width: calc(100% - 24px);

            .avatar {
                position: relative;
                width: 40px;
                height: 40px;
                filter: drop-shadow(0px 11px 20px rgba(100, 104, 115, 0.1));

                .img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                }

                .verified {
                    position: absolute;
                    top: 24px;
                    left: 24px;
                }
            }

            .nameAndGeo {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: calc(100% - 40px - 12px);

                & > [data-title-barter="true"] {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;

                    & > li {
                        max-width: calc(50% - 8px - 9px);
                        gap: 6px;
                        padding: 4px 10px 4px 4px;
                        height: calc(20px + 8px);

                        & > div {
                            width: 20px;
                            height: 20px;
                            padding: 4px;

                            & > img {
                                width: 12px;
                                height: 12px;
                            }
                        }

                        & > p {
                            font-size: 12px;
                            font-weight: 400;
                            letter-spacing: -0.2px;
                        }
                    }
                }

                & > [data-repeat="true"] {
                    height: 18px;
                    width: 18px;

                    filter: invert(1);
                }

                h4 {
                    color: var(--gray-900, #101828);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: -0.5px;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .blockLastMessage {
        width: 100%;
        height: auto;

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--gray-500);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.5px;
        }
    }
}

.timeAgo {
    position: absolute;
    top: 16px;
    right: 16px;
    white-space: nowrap;
    text-align: end;
    color: var(--gray-400);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3px;
}

[data-theme="dark"] {
    .containerItemListChat {
        &.active {
            background: var(--gray-100);
        }
    }

    .containerItemListChat {
        .header {
            .titleBlock {
                .nameAndGeo {
                    & > [data-repeat="true"] {
                        filter: invert(0);
                    }
                }
            }
        }
    }
}
