.blockSearch {
    width: 100%;
    z-index: 3;
}

[data-mobile="false"] {
    .blockSearch {
        border-bottom: 1px solid var(--gray-300);
        padding: 0.75rem;
    }
}

[data-mobile="true"] {
    .blockSearch {
        position: fixed;
        top: 0;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        & > div {
            height: 50px;
        }
    }
}

.containerList {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.containerItemListChat {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    background: transparent;
    transition: var(--transition);
    transition-property: background;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;

    &[data-last="true"] {
        border-bottom: 1px solid var(--gray-300);
    }

    &[data-active="true"] {
        background: var(--glass-bg-color-2);
        cursor: default;
    }

    time {
        position: absolute;
        top: 1rem;
        right: 1rem;

        width: min-content;
        white-space: nowrap;
        text-align: end;
        color: var(--gray-400);
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.3px;
    }

    .header {
        display: inline-flex;
        justify-content: space-between;
        gap: 1rem;
        background: transparent;
        width: calc(100%);

        &[data-barter="true"] {
            width: calc(100% - 2rem);
        }

        .titleBlock {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            width: calc(100% - 1.5rem);

            .avatar {
                position: relative;
                width: 40px;
                height: 40px;

                .img {
                    width: 40px;
                    height: 40px;
                    border-radius: 1.25rem;
                }

                .verified {
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                }
            }

            .nameAndGeo {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: calc(100% - 40px - 0.75rem);

                & > [data-title-barter="true"] {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;

                    & > li {
                        max-width: calc(50% - 0.5rem - 9px);
                        gap: 6px;
                        padding: 4px 10px 4px 4px;
                        height: calc(1.25rem + 0.5rem);

                        & > div {
                            width: 1.25rem;
                            height: 1.25rem;
                            padding: 10px;
                        }

                        & > p {
                            font-size: 0.75rem;
                            font-weight: 400;
                            letter-spacing: -0.2px;
                        }
                    }
                }

                & > [data-repeat="true"] {
                    height: 18px;
                    width: 18px;

                    filter: invert(1);
                }

                h4 {
                    color: var(--gray-900);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.5rem;
                    letter-spacing: -0.5px;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .blockLastMessage {
        width: 100%;
        height: auto;

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--gray-500);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            letter-spacing: -0.5px;
        }
    }
}

[data-mobile="true"] {
    .containerItemListChat {
        padding: 0.75rem;

        time {
            top: 0.75rem;
            right: 0.75rem;
        }
    }
}

[data-theme="dark"] {
    .containerItemListChat {
        &[data-active="true"] {
            background: var(--gray-100);
        }

        .header {
            .titleBlock {
                .nameAndGeo {
                    & > [data-repeat="true"] {
                        filter: invert(0);
                    }
                }
            }
        }
    }
}
