.blockSearch {
  width: 100%;
  z-index: 3;
}

[data-mobile="false"] {
  .blockSearch {
    border-bottom: 1px solid var(--grey-stroke-light);
    padding: 0.75rem;
  }
}

.containerListMobile {
  width: 100%;
  height: calc(100% - var(--height-mobile-footer-nav));
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: var(--height-mobile-header) !important;
  z-index: 10;
}

[data-tablet="true"] {
  .blockSearch {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    height: 4.875rem;
    background: var(--BF-second);
    box-shadow: 0 0.25rem 1.5rem 0 rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(2.5rem);
    & > div {
      height: 3.125rem;
    }

    & > [data-search] {
      & > input {
        background-color: var(--BG-second);
      }
    }
  }
}

.containerList {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.containerItemListChat {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--grey-stroke-light);

  transition: var(--transition);
  transition-property: background-color;

  &[data-active="true"] {
    background-color: var(--grey-field);
  }

  time {
    position: absolute;
    top: 1rem;
    right: 1rem;

    width: min-content;
    white-space: nowrap;
    text-align: end;
    color: var(--text-secondary);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.2px;
  }

  .header {
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    background: transparent;
    width: calc(100%);

    &[data-barter="true"] {
      width: calc(100% - 2rem);
    }

    .titleBlock {
      display: inline-flex;
      align-items: flex-start;
      gap: 0.75rem;
      width: calc(100% - 1.5rem);

      .avatar {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;

        .img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 1.25rem;
        }

        .verified {
          position: absolute;
          top: 1.5rem;
          left: 1.5rem;
        }
      }

      .nameAndGeo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 2.5rem - 0.75rem);

        // & > [data-title-barter="true"] {
        //   width: 100%;
        //   display: grid;
        //   align-items: center;
        //   justify-content: start;
        //   grid-template-columns: minmax(auto, 1fr) 1.25rem minmax(auto, 1fr);
        //   gap: 0.5rem;

        //   & > li {
        //     gap: 0.375rem;
        //     padding: 0.25rem 0.375rem 0.25rem 0.25rem;
        //     height: calc(1.25rem + 0.5rem);

        //     & > div {
        //       width: 1.25rem;
        //       height: 1.25rem;
        //       padding: 0.625rem;
        //     }

        //     & > p {
        //       font-size: 0.75rem;
        //       font-weight: 400;
        //       letter-spacing: -0.2px;
        //     }
        //   }
        // }

        & > [data-repeat="true"] {
          height: 1.125rem;
          width: 1.125rem;

          filter: invert(1);
        }

        & > span {
          color: var(--BG-filter);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem;
        }

        h4 {
          display: inline-flex;
          flex-direction: row;
          align-items: center;

          & > article {
            width: 1rem;
            height: 1rem;
            padding: 0.5rem;
            position: relative;

            & > svg {
              width: 1rem;
              height: 1rem;
              position: absolute;
              inset: 0;

              & > path {
                stroke: var(--BG-filter);
              }
            }
          }

          color: var(--text-primary);
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;

          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .blockLastMessage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    img {
      aspect-ratio: 1/1;
      height: 1.875rem;
      width: 1.875rem;
      border-radius: 0.25rem;
    }

    p {
      color: var(--text-primary);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
      letter-spacing: -0.2px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      color: var(--text-button-60);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
      letter-spacing: -0.2px;
      opacity: 0.8;
    }

    &[data-reading="true"] {
      p {
        color: var(--text-primary);
        font-weight: 600;
      }

      span {
        color: var(--text-primary);
        font-weight: 900;
        line-height: 1.25rem;
      }
    }
  }
}

[data-tablet="true"] {
  .containerItemListChat {
    padding: 0.75rem;

    time {
      top: 0.75rem;
      right: 0.75rem;
    }
  }
}

[data-theme="dark"] {
  .containerItemListChat {
    .header {
      .titleBlock {
        .nameAndGeo {
          & > [data-repeat="true"] {
            filter: invert(0);
          }
        }
      }
    }
  }
}
