.container {
  display: flex;
  height: 80px;
  padding: 8px 22px 8px 16px;
  align-items: center;
  border-radius: 16px;
  background: var(--supporting-white);
  box-shadow: 0px 7px 32px 0px rgba(140, 155, 178, 0.22);
  flex: 1;

  .titleAndNumber {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    p {
      overflow: hidden;
      color: var(--gray-900);
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.5px;
      white-space: nowrap;
    }
    section{
      display: inline-flex;
      gap: 4px;
      align-items: center;
      h2 {
        color: var(--primary-500);
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -0.5px;
      }
    }
  }
}

[data-theme='dark']{
  .container{
    border: 1px solid var(--stroke-1);
    background: #1C1F37;

    .titleAndNumber{
      section{
        h2{
          color: var(--gray-900);
        }
      }
    }
  }
}