.container{
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  border-radius: 32px 32px 0px 0px;
  background: var(--glass-bg-color-1);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(4px);
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000 !important;
  transition: all 0.6s ease-in-out;
  padding: 50px 20px 0;

  .swipeHeader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: transparent;
    border-radius: 32px 32px 0px 0px;
    z-index: 1001;
  }

  &.visible{
    visibility: visible;
    opacity: 1;
    top: 22px;
  }

  ul{
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    gap: 12px;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow-y: scroll;
    height: calc(100vh - 72px);
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    padding-bottom: 70px;
  }
}

.rectangle{
  position: absolute;
  width: 62px;
  height: 7px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.12);
  transform: translateX(-50%);
  left: 50%;
  top: 16px;
}