.container {
  height: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;

  & > ul {
    & > form {
      & > section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        &[data-profile-offer] {
          gap: 0.125rem;
        }

        & > h4 {
          color: var(--text-primary);
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.25rem;
          letter-spacing: -0.01125rem;
        }

        & > [data-selection] {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;

          & > fieldset {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;

            & > p {
              color: var(--text-primary);
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 500;
              line-height: 1.25rem;
              letter-spacing: -0.01125rem;

              & > span {
                font-weight: 600;
              }
            }
          }
        }
      }

      & > footer {
        & > [data-button-forward] {
          margin-top: auto;
          height: 2.75rem;
          border-radius: 1.375rem;

          & > img {
            width: 1.25rem;
            height: 1.25rem;
          }
        }

        & > a {
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 1.375rem;
          background-color: transparent;
          padding: 0.625rem;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 1;
          cursor: pointer;
          border: 1px solid var(--grey-stroke-light);

          transition: var(--transition);
          transition-property: opacity;

          & > img {
            width: 1.5rem;
            height: 1.5rem;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  [data-text-area] {
    width: 100%;
    position: relative;
    height: 7.5rem;
    border: 1px solid;
    border: 0.0625rem solid var(--grey-stroke);
    border-radius: 1rem;
    overflow: hidden;

    & > textarea {
      width: 100%;
      height: 100%;
      padding: 0.875rem;
      border: none !important;
      outline: none !important;
      resize: none;

      color: var(--text-primary);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
      letter-spacing: -0.01125rem;

      &::placeholder {
        color: var(--text-disabled);
      }
    }
  }

  [data-my-offers] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > a {
      width: 100%;
      border-radius: 1rem;
      border: 1px solid;
      border-color: var(--grey-stroke-light);
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      padding: 0.5rem;
      overflow: hidden;
      cursor: pointer;

      transition: var(--transition);
      transition-property: border-color;

      & > [data-category] {
        height: 2rem;
        border-radius: 1rem;
        border: 1px solid;
        border-color: var(--grey-stroke-light);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        padding: 0.25rem 0.375rem 0.25rem 0.25rem;
        background-color: var(--grey-field);
        width: fit-content;

        transition: var(--transition);
        transition-property: background-color, border-color;

        & > [data-img] {
          width: 1.5rem;
          height: 1.5rem;
          padding: 0.25rem;
          border-radius: 0.75rem;
          background-color: var(--BG-icons);

          transition: var(--transition);
          transition-property: background-color;

          & > img {
            width: 1rem;
            height: 1rem;
            border-radius: 0.25rem;
          }
        }

        & > span {
          color: var(--text-primary);
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem;
          letter-spacing: -0.01125rem;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          line-clamp: 1;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      & > p {
        color: var(--text-primary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.01125rem;
      }

      [data-images] {
        padding-inline: 0;
      }

      &[data-active="true"] {
        border-color: var(--element-accent-1);

        & > [data-category] {
          border-color: var(--element-accent-1);
          background-color: var(--element-accent-1);

          & > [data-img] {
            background-color: var(--element-white);
          }

          & > span {
            color: var(--text-button);
          }
        }
      }

      &:hover {
        border-color: var(--element-accent-1);
      }
    }
  }

  [data-expand] {
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    & > span {
      color: var(--element-accent-1);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
      letter-spacing: -0.01125rem;
      white-space: nowrap;
    }

    & > img {
      height: 1rem;
      width: 1rem;
      &[data-loading-image="false"] {
        transform: rotate(0);
      }
    }

    &[data-active="true"] {
      & > img {
        &[data-loading-image] {
          transform: rotate(180deg);
        }
      }
    }
    &[data-is-loading="true"] {
      cursor: progress;
    }
  }

  i {
    color: var(--text-error);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
  }

  @media screen and (max-width: 760px) {
    border-radius: 0 !important;
    height: 100%;
    max-width: 100%;
  }
}

[data-theme="light"] {
  .container {
    [data-expand] {
      & > img {
        &[data-loading-image="true"] {
          filter: invert(1);
        }
      }
    }
  }
}
