.wrapper {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &[data-visible="true"] {
    z-index: 2019;
  }

  & > section {
    position: relative;
    max-width: 30.625rem;
    width: 100%;
    border-radius: 2rem;
    background: var(--BG-second);
    padding: 2.5rem;
    padding-top: 1.25rem;

    & > article {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.875rem;

      & > [data-img] {
        width: 4.375rem;
        border-radius: 2.1875rem;
        background: var(--grey-filed);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8125rem;

        & > img {
          width: 2.75rem;
          height: 2.75rem;
          padding-bottom: 0.06556rem;
        }
      }

      & > [data-titles] {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & > h3 {
          color: var(--text-primary);
          text-align: center;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2rem;
          letter-spacing: -0.0075rem;
        }

        & > p {
          color: var(--text-primary);
          text-align: center;
          font-family: Inter;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
          letter-spacing: -0.03125rem;

          & > span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    justify-content: flex-end;
    padding: 0;

    & > section {
      border-radius: 1.5rem 1.5rem 0rem 0rem;
      max-width: 100%;
      padding: 1.25rem;
      padding-top: 2.25rem;
    }
  }
}
