.container,
.wrapper {
  transition-duration: 700ms;
  transition-timing-function: ease;
}

.container {
  transition-property: transform;
}

.wrapper {
  transition-property: opacity, visibility;
}

.container {
  position: fixed;
  top: calc(var(--height-mobile-header) + 0.925rem);
  left: 1.25rem;
  right: 1.25rem;
  width: calc(100% - 2.5rem);
  height: 3rem;
  transform: translateY(0);
  z-index: 15;

  &[data-visible="true"] {
    transform: translateY(0.625rem);
    z-index: 102;
  }

  & > input {
    width: 100%;
    height: 3rem;
    padding-inline: calc(1rem + 1.25rem + 0.375rem);
    border-radius: 1.5rem;
  }

  & > [data-icon-geo] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(1rem);
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;

    & > svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.wrapper {
  z-index: -1;
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: var(--BG-second);
  opacity: 0;
  visibility: hidden;

  &[data-visible="true"] {
    z-index: 75;
    opacity: 1;
    visibility: visible;
  }

  & > header {
    width: 100%;
    height: var(--height-mobile-header);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 76;
    padding: 0.625rem 1.25rem;

    & > button {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.25rem;

      & > svg {
        width: 1.5rem;
        height: 1.5rem;
        & > path {
          stroke: var(--text-primary);
        }
      }
    }

    & > h3 {
      color: var(--text-primary);
      text-align: center;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.875rem;
    }
  }

  & > section {
    width: 100%;
    height: calc(100% - var(--height-mobile-header) - 4.25rem);
    padding-block: calc(1.25rem + 3rem + 0.25rem) 0.625rem;
    padding-inline: 1.25rem;

    & > ul {
      transform: translateY(0.25rem);
      width: 100%;
      overflow: hidden;
      overflow-y: auto;
      max-height: 21.875rem;
      position: relative;
      z-index: 20;
      display: flex;
      flex-direction: column;
      padding: 0.25rem;
      box-shadow: 0px 10px 16px 0px rgba(31, 31, 41, 0.1);
      border-radius: 0.75rem;

      & > li {
        width: 100%;
        padding: 0.5rem;
        padding-bottom: 0.625rem;
        border-radius: 0.5rem;
        background-color: var(--BG-second);
        cursor: pointer;

        & > span {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
        }

        &:hover,
        &:focus {
          background-color: var(--grey-field);
        }
      }
    }
  }
}
