.header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--height-mobile-header);
  position: fixed;
  z-index: 71;
  background-color: var(--BG-second);
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
  display: none;

  @media screen and (max-width: 760px) {
    display: flex;
  }

  & > h3 {
    color: var(--text-primary);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem; /* 150% */
  }

  & > a {
    width: 5rem;
    height: 1.375rem;
    cursor: pointer;

    & > img {
      width: 5rem;
      height: 1.375rem;
    }
  }

  & > [data-notifications] {
    position: relative;
    z-index: 12;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    & > [data-count] {
      position: absolute;
      right: -0.5rem;
      top: -0.5rem;
      z-index: 13;
      height: 1.1875rem;
      min-width: 1.1875rem;
      padding-inline: 0.375rem 0.4375rem;
      padding-block: 0.25rem 0.3125rem;
      border-radius: calc(1.1875rem / 2);
      background-color: var(--element-accent-1);
      display: flex;
      align-items: center;
      justify-content: center;

      & > span {
        color: var(--text-button);
        text-align: center;
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.625rem; /* 100% */
      }
    }
  }
}
