@mixin glassShadow {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 300px;
        filter: blur(80px);
        transform: translate(-50%, -50%);
        z-index: -1;
}

@mixin buttonCircle {
        position: absolute;
        display: inline-flex;
        padding: 14px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--gray-300);
        background: var(--supporting-white);
        box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
        cursor: pointer;
}

.container {
        position: fixed;
        max-width: 613px;
        will-change: transform;
        width: 100%;
        height: 100vh;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 32px 0px 0px 32px;
        background: var(--supporting-white);
        right: -613px;
        top: 0;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
        z-index: 60;
        // opacity: 0;
        &.active {
                // opacity: 1;
                transform: translateX(-613px);
        }
}

//Absolute items

.title {
        position: absolute;
        color: var(--gray-500);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.5px;
        transform: translate(-50%, -50%);
        top: 36px;
        left: 50%;
}

.close {
        @include buttonCircle;
        left: 12px;
        top: 12px;
}

.glassShadow1 {
        @include glassShadow;
        background: rgba(243, 145, 114, 0.32);
        top: 0;
        left: 0;
}

.glassShadow2 {
        @include glassShadow;
        background: rgba(148, 249, 48, 0.32);
        top: 60%;
        left: -50px;
}

.glassShadow3 {
        @include glassShadow;
        background: rgba(135, 92, 255, 0.32);
        top: 70%;
        left: 50%;
}

.glassShadow4 {
        @include glassShadow;
        background: rgba(243, 145, 114, 0.45);
        top: 85%;
        left: 100%;
}

.glassShadow5 {
        @include glassShadow;
        background: rgba(100, 220, 246, 0.32);
        top: 40%;
        left: calc(100% + 60px);
}