.wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 60;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0.03s;
        background: rgba(0, 0, 0, 0.62);
        backdrop-filter: blur(2.5px);

        &.active {
                opacity: 1;
                visibility: visible;
        }
}

.container {
        position: absolute;
        max-width: 613px;
        height: auto;
        will-change: transform;
        width: 100%;
        bottom: 0;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 32px 0px 0px 32px;
        background: var(--background);
        right: -613px;
        top: 0;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;

        &.active {
                transform: translateX(-613px);
        }
}

.content{
        position: relative;
        width: 100%;
        max-height: 100vh;
        overflow-y: auto;
}