@mixin buttonCircle {
        position: absolute;
        display: inline-flex;
        padding: 14px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--gray-300);
        background: var(--supporting-white);
        box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
        cursor: pointer;
}

.wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 60;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0.03s;
        background: rgba(0, 0, 0, 0.62);
        backdrop-filter: blur(2.5px);

        &.active {
                opacity: 1;
                visibility: visible;
        }
}

.container {
        position: absolute;
        max-width: 613px;
        will-change: transform;
        width: 100%;
        bottom: 0;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 32px 0px 0px 32px;
        background: var(--background);
        right: -613px;
        top: 0;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;

        &.active {
                transform: translateX(-613px);
        }
}

//Absolute items

.title {
        position: absolute;
        color: var(--gray-500);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.5px;
        transform: translate(-50%, -50%);
        top: 36px;
        left: 50%;
}

.close {
        @include buttonCircle;
        left: 12px;
        top: 12px;
}