.container {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-2);
    backdrop-filter: blur(1px);
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;

    header {
        padding: 12px;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        height: 74px;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        background: var(--background-input);
        z-index: 2;

        h4,
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: -0.5px;
        }

        & > [data-total-number="true"] {
            display: inline-flex;
            align-items: center;
            width: min-content;
            gap: 8px;

            h4 {
                color: var(--gray-900);
            }

            & > [data-total="true"] {
                padding: 4px 8px;
                border-radius: 19px;
                background: var(--primary-100);
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: var(--primary-500);
                }
            }
        }
    }
}

[data-theme="dark"] {
    .divNumber {
        background: var(--gray-200) !important;
    }
}

.segments {
    width: min-content !important;
    & > li {
        height: 32px;
        min-width: 100px;
    }
}

//MOBILE

.containerMobile {
    width: 100%;
    height: 100vh;
    background: var(--background);
    padding-top: 78px;
    z-index: 3;

    & > ul {
        width: 100%;
        height: calc(100% - 68px);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 16px 16px 78px !important;
        gap: 16px;
        z-index: 10;

        & > li {
            padding: 12px 16px;
            border-radius: 16px;
            border: 1px solid var(--stroke-1) !important;
            background: var(--glass-bg-color-1);
            box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
            backdrop-filter: blur(4px);
            z-index: 9;
        }
    }
}
