[data-theme="dark"] {
  .divNumber {
    background: var(--BG-second) !important;
  }
}

.segments {
  width: min-content !important;
  & > li {
    height: 2rem;
    min-width: 100px;
  }
}

//MOBILE

.containerMobile {
  & > ul {
    width: 100%;
    height: calc(100% - var(--height-mobile-footer-nav));
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: var(--height-mobile-header) !important;
    z-index: 10;
  }
}

[data-header-is-banner="true"] {
  .containerMobile {
    & > ul {
      padding-top: calc(var(--height-mobile-header) + var(--height--banner--promotional)) !important;
    }
  }
}
