.container {
  position: fixed;
  top: 24px;
  left: 24px;
  max-width: 274px;
  width: 100%;
  flex-shrink: 0;
  border-radius: var(--banner-border-radius);
  background: var(--glass-bg-color);
  overflow: hidden;
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  z-index: 9;
  transition: all 0.5s ease-in-out;
}

.headerSign {
  width: 100%;
  margin: 32px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 12px 16px;
  width: calc(100% - 32px);

  .descriptionSign {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .description {
      color: var(--gray-500);
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.5px;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .bannerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.footer {
  display: inline-flex;
  padding: 16px 0px;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  justify-content: center;

  a {
    color: var(--gray-900);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-decoration-line: underline;
    cursor: pointer;
  }
}

.userWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .avatar {
    position: relative;
    display: flex;
    width: 94px;
    height: 94px;
    align-items: center;
    justify-content: center;

    .photo {
      border-radius: 24px;
      border: 4px solid var(--supporting-white);
      box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);
    }

    .verified {
      position: absolute;
      transform: translate(-50%, -50%);
      left: calc(100% - 10px);
      top: calc(100% - 10px);
    }
  }

  h3 {
    color: var(--gray-900);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
}