.container {
  position: fixed;
  top: calc(var(--height-header-nav-bar) + 1.5rem);
  right: 1.5rem;
  bottom: 1.5rem;
  height: calc(100vh - var(--height-header-nav-bar) - 3rem);
  width: 100%;
  max-width: 24.375rem;
  display: inline-flex;
  padding: 0;
  padding-top: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background: var(--BG-second);
  z-index: 2;
  overflow: hidden;
  border-radius: 2rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: inset 0 -20px 10px -10px var(--BG-second);
    z-index: 10;
    height: 1.5rem;
    pointer-events: none;
  }
}

[data-tablet="true"] {
  .container {
    display: none;
  }
}

[data-header-is-banner="true"] {
  .container {
    top: calc(var(--height-header-nav-bar) + 1.5rem + var(--height--banner--promotional));
    height: calc(100vh - var(--height-header-nav-bar) - 3rem - var(--height--banner--promotional));
  }
}
