.container {
    position: fixed;
    top: calc(77px + 1.5rem);
    right: 1.5rem;
    height: calc(100vh - 77px - 1.5rem - 1.5rem);
    width: 400px;
    display: inline-flex;
    padding: 1.25rem 1.25rem 0px;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 2rem;
    background: var(--background);
    z-index: 2;
    overflow: hidden;
}
