.container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 20px 20px 1px 20px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  border: 2px solid var(--stroke-1);
  background: var(--glass-bg-color-2);
  backdrop-filter: blur(1px);
  z-index: 2;
}