.container {
  position: fixed;
  top: calc(4.875rem + 1.5rem);
  right: 1.5rem;
  height: calc(100vh - 4.875rem - 1.5rem - 1.5rem);
  width: 25rem;
  display: inline-flex;
  padding: 0;
  padding-top: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  background: var(--BG-second);
  z-index: 2;
  overflow: hidden;
}

[data-mobile="true"] {
  .container {
    display: none;
  }
}
