.wrapper {
  z-index: 2018;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.625rem 1.25rem 1.25rem;
  background: rgba(5, 1, 13, 0.5);

  & > section {
    position: relative;
    width: 100%;
    max-width: 30.625rem;
    border-radius: 2rem;
    background-color: var(--BG-second);

    & > header {
      width: 100%;
      padding-block: 1.5rem 1.25rem;
      height: 4.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--Light-Grey-Separator, #c2cbdc);

      & > h3 {
        color: var(--text-primary);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
      }
    }

    & > form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      padding: 2.5rem 3.75rem;

      & > p {
        color: var(--text-primary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.03125rem;
      }

      & > article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        & > fieldset {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & > label,
          & > i {
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.03125rem;
          }

          & > label {
            color: var(--text-primary);
            font-size: 0.875rem;

            line-height: 1.25rem;
          }

          & > i {
            margin-top: -0.25rem;
            color: var(--text-error);
            font-size: 0.75rem;
            line-height: 1.125rem;
          }

          & > [data-input] {
            width: 100%;
            height: 3rem;
            position: relative;

            & > img {
              position: absolute;
              top: 50%;
              right: 0.875rem;
              transform: translateY(-50%);
              width: 1.25rem;
              height: 1.25rem;
            }
          }
        }
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    padding: 0;

    & > section {
      border-radius: 0;
      height: 100%;
      max-width: 100%;

      & > header {
        height: 4.25rem;
        padding: 1.25rem;
        padding-bottom: 1rem;
      }

      & > form {
        padding-inline: 1.25rem;
      }
    }
  }
}
