.containerAuthBanner {
    position: fixed;
    top: 24px;
    left: 24px;
    bottom: 24px;
    max-width: 274px;
    width: 100%;
    display: inline-flex;
    padding: 24px 12px;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-1);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    overflow-y: auto;
    display: inline-flex;

    .contentProfile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .badges {
            display: inline-flex;
            gap: 12px;
            align-items: center;

            .badge {
                overflow: hidden;
                width: 119px;
                padding: 8px 8px 5px 16px;
                flex: 1 0 0;

                p {
                    overflow: hidden;
                }
            }
        }
    }
}
