.container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 42px;
  height: 24px;
  align-items: center;
  border-radius: 50px;
  background: var(--gray-300);
  cursor: pointer;
  transition: all 0.2s ease-in-out 0.01s;

  &.active {
    justify-content: flex-end;
    background: var(--primary-500);
    .circle{
      left: calc(100% - 12px);
    }
  }
}

.circle {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: var(--supporting-white);
  filter: drop-shadow(0px 1px 2px rgba(15, 23, 42, 0.06));
  transition: all 0.3s ease-in-out 0.01s;
  top: 50%;
  left: 12px;
}