.wrapper {
  z-index: 1011;
  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(0.25rem);
  padding: 3.5rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & > section {
    position: relative;
    height: 100%;
    max-width: 48.25rem;
    width: 100%;
    border-radius: 2rem;
    background: var(--BG-second);
    z-index: 3;
    display: flex;
    flex-direction: column;

    & > [data-close] {
      right: calc(-0.25rem);
    }

    & > [data-header] {
      height: 4.875rem;
      width: 100%;
      padding: 1.5rem 0.75rem 1.25rem;
      z-index: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & > h3 {
        color: var(--text-primary);
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        font-style: normal;
        letter-spacing: -0.3px;
      }
    }

    & > form {
      width: 100%;
      height: calc(100% - 4.875rem);
      overflow-y: auto;
      padding: 2rem 2.75rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      z-index: 2;

      & > [data-div] {
        max-width: 30rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & > label {
          color: var(--text-primary);
          font-size: 0.875rem;
          text-align: start;
          font-style: normal;
          font-weight: 400 !important;
        }

        & > span {
          color: var(--text-secondary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem;
          letter-spacing: -0.02125rem;
        }

        & > [data-photos] {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, calc(33.33% - 0.66625rem));
          gap: 1rem 1rem;
          z-index: 3;

          & > [data-photo],
          & > [data-upload] {
            position: relative;
            border-radius: 1rem;
            border: 0.125rem dashed var(--grey-stroke-light);
            background: transparent;
            aspect-ratio: 3/4;
            width: 100%;
            height: auto;
            overflow: hidden;
            filter: none;
            transition: var(--transition);
            transition-property: filter;
            z-index: 4;

            &[data-delete="true"] {
              filter: sepia(100%) blur(0.2px);
            }

            & > [data-image] {
              border-radius: 1rem;
              width: 100%;
              height: 100%;
            }

            & > [data-trash] {
              position: absolute;
              top: 0.375rem;
              right: 0.375rem;
              height: 2rem;
              width: 2rem;
              border-radius: 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 0.0625rem solid var(--grey-stroke);
              background: var(--BG-first);
              z-index: 3;
              cursor: pointer;
            }
          }
        }
      }

      & > footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: auto;

        & > button {
          width: 100%;
          max-width: 15rem;
        }
      }
    }
  }
}

[data-mobile="false"] {
  .wrapper {
    & > section {
      & > [data-close] {
        transform: translateX(100%);
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    padding: 0;
    & > section {
      border-radius: 0;
      max-width: 100%;
      overflow: hidden;

      & > [data-close] {
        width: 2.25rem;
        height: 2.25rem;
        background: transparent;
        top: 0 !important;
        right: 0 !important;
        border: none;
        box-shadow: none;
      }

      & > [data-header] {
        height: 4.125rem;
        padding: 1rem calc(0.75rem + 2.25rem + 0.5rem);

        & > h3 {
          font-size: 1.5rem;
        }
      }

      & > form {
        height: calc(100% - 4.125rem);
        padding: 1rem;
        & > [data-div] {
          & > [data-photos] {
            grid-template-columns: repeat(2, calc(50% - 0.5rem));
            & > [data-upload] {
              &[data-mobile="true"] {
                aspect-ratio: 3/4;
              }
            }
          }
        }
      }
    }
  }
}

[data-theme="dark"] {
  .wrapper {
    [data-trash] {
      & > img {
        filter: invert(1);
      }
    }
  }
}
