.wrapper {
    z-index: 1011;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    padding: 3.5rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & > section {
        position: relative;
        height: 100%;
        max-width: 48.25rem;
        width: 100%;
        border-radius: 2rem;
        background: var(--background);
        overflow: hidden;
        z-index: 3;

        & > [data-header] {
            height: 4.875rem;
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 2rem calc(0.75rem + 3rem + 0.75rem);
            z-index: 2;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & > h3 {
                color: var(--gray-900);
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
                font-style: normal;
                letter-spacing: -0.3px;
            }
        }

        & > form {
            width: 100%;
            height: calc(100% - 4.875rem);
            overflow-y: auto;
            padding: 2rem 2.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            z-index: 2;

            & > [data-div] {
                max-width: 30rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                & > label {
                    color: var(--gray-900);
                    font-size: 0.875rem;
                    text-align: start;
                    font-style: normal;
                    font-weight: 400 !important;
                }

                & > [data-photos] {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, calc(33.33% - 0.66625rem));
                    gap: 1rem 1rem;
                    z-index: 3;

                    & > [data-photo],
                    & > [data-upload] {
                        position: relative;
                        border-radius: 1rem;
                        border: 0.125rem dashed var(--gray-300);
                        background: var(--glass-bg-color-3);
                        aspect-ratio: 3/4;
                        width: 100%;
                        height: auto;
                        overflow: hidden;
                        filter: none;
                        transition: var(--transition);
                        transition-property: filter;
                        z-index: 4;

                        &[data-delete="true"] {
                            filter: sepia(100%) blur(0.2px);
                        }

                        & > [data-image] {
                            border-radius: 1rem;
                            width: 100%;
                            height: 100%;
                        }

                        & > [data-trash] {
                            position: absolute;
                            top: 0.375rem;
                            right: 0.375rem;
                            height: 2rem;
                            width: 2rem;
                            border-radius: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 0.0625rem solid var(--stroke-1);
                            background: var(--background);
                            z-index: 3;
                            cursor: pointer;
                        }
                    }
                }
            }

            & > footer {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                & > button {
                    width: 100%;
                    max-width: 15rem;
                    // height: 36px;
                }
            }
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        padding: 0;
        & > section {
            border-radius: 0;
            max-width: 100%;

            & > [data-close] {
                width: 2.25rem;
                height: 2.25rem;
            }

            & > [data-header] {
                height: 4.125rem;
                padding: 1rem calc(0.75rem + 2.25rem + 0.5rem);

                & > h3 {
                    font-size: 1.5rem;
                }
            }

            & > form {
                height: calc(100% - 4.125rem);
                padding: 1rem;
                & > [data-div] {
                    & > [data-photos] {
                        grid-template-columns: repeat(2, calc(50% - 0.5rem));
                        & > [data-upload] {
                            &[data-mobile="true"] {
                                aspect-ratio: 3/4;
                            }
                        }
                    }
                }
            }
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        [data-trash] {
            & > img {
                filter: invert(1);
            }
        }
    }
}
