.wrapperPrimary {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > [data-reply] {
        max-width: 240px;
        height: 36px;
    }

    & > [data-enter] {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: var(--transition);
        transition-property: opacity, visibility, background, border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        cursor: pointer;
        padding: 8px;
        border: 2px solid transparent;
        z-index: 15;

        & > [data-inform] {
            position: relative;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            z-index: 2;
            height: 100%;

            & > [data-close] {
                width: 24px;
                height: 24px;
                padding: 4px;
                z-index: 15px;

                & > div {
                    width: 16px;
                    height: 16px;
                }
            }

            h3 {
                color: var(--gray-500);
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.3px;
            }
        }
    }

    & > [data-visible="true"] {
        width: 100%;
        height: 100%;
        border-radius: 35px;
        opacity: 1;
        visibility: visible;
        background: var(--background);
        border: 2px solid var(--stroke-1);
    }

    &[data-ballon="true"] {
        justify-content: space-between;
        gap: 16px;

        & > [data-circle-gradient] {
            height: 44px;
            width: 44px;
            padding: 10px;
            & > img {
                width: 24px;
                height: 24px;
            }
        }

        & > [data-enter] {
            bottom: 0;
            left: 0;
            right: 0;
            top: initial;
            & > [data-inform] {
            }
        }

        &[data-visible="true"] {
            height: fit-content;
        }
    }
}
