//HEADER

.header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;

        section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-items: center;
                gap: 8px;
                align-self: stretch;

                h3 {
                        color: var(--gray-900);
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 38px;
                        letter-spacing: -0.5px;
                }

                p {
                        color: var(--gray-500);
                        text-align: center;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28px;
                        letter-spacing: -0.5px;
                }
        }
}

//CONTENT

.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
}

.form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 12px;
        width: 100% !important;

        p {
                margin-top: 12px;
                margin-bottom: 12px;
                color: var(--gray-900);
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.5px;

                a {
                        color: var(--primary-500);
                        cursor: pointer;
                }
        }
}

.section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 100%;
        align-self: stretch;

        .groupLabelAndInputWrap {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;

                label {
                        color: var(--gray-900);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: -0.5px;

                        sup {
                                color: var(--error-600);
                                // font-size: 14px;
                                font-weight: 500;
                                line-height: 16px;
                        }
                }

                .groupInputError {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        align-self: stretch;

                        input {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 4px;
                                align-self: stretch;
                                padding: 12px 14px;
                                border-radius: 100px;
                                border: 1px solid var(--gray-300);
                                background: var(--supporting-white) !important;
                                outline: none !important;

                                &::placeholder {
                                        color: var(--gray-400);
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 20px;
                                        letter-spacing: -0.5px;
                                }

                                &[type="text"],
                                &[type="email"],
                                &[type="password"] {
                                        color: var(--gray-900);
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 20px;
                                        letter-spacing: -0.5px;
                                }

                                &.errorInput {
                                        border: 1px solid var(--error-600) !important;
                                        background: var(--error-100) !important;
                                }
                        }

                        .error {
                                color: var(--error-600);
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 18px;
                                letter-spacing: -0.5px;
                        }
                }
        }
}

.RememberChange {
        // margin-top: 12px;
        // margin-bottom: 12px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .checkRemember {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                .checkbox input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                }

                .checkbox {
                        .checkmark {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 20px;
                                height: 20px;
                                border: 1px solid var(--primary-500);
                                background: var(--primary-200);
                                cursor: pointer;
                                border-radius: 6px;
                                img{
                                        position: absolute;
                                        display: none;
                                }
                        }

                        input[type="checkbox"]:checked+.checkmark img {
                                display: flex;
                        }
                }
                p{
                        color: var(--gray-900);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: -0.5px;
                }
        }
        a{
                color: var(--primary-500);
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: -0.5px;
                cursor: pointer;
        }
}

.Register{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        p{
                color: var(--gray-500);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.5px;
        }
        a{
                color: var(--primary-500);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.5px;
                cursor: pointer;
        }
}

//SOCIAL LINKS

.wrapSocial {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .itemLink {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                width: 55px;
                padding: 10px;
                gap: 12px;
                border-radius: 100px;
                border: 1px solid var(--gray-200);
                background: var(--supporting-white);
                box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
                cursor: pointer;
        }
}