.containerProfilePage {
    margin: -1.5rem calc(1.5rem + 25rem) 0 calc(20rem + 1.5rem);
    padding-top: 1.5rem;
    height: calc(100vh - 4.875rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        display: none;
    }
}

[data-mobile="true"] {
    .containerProfilePage {
        margin: 0;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        padding: 0.75rem 0.75rem 5rem;

        ul {
            margin: 0;
        }
    }
}
