.containerProfilePage {
    margin: 0 calc(24px + 400px) 0 calc(320px + 24px);
    height: calc(100vh - 77px - 24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
}

[data-mobile="true"] {
    .containerProfilePage {
        margin: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 100vh;
        padding: 0px 20px 120px;
        z-index: 2;

        ul {
            margin: 0;
        }
    }
}
