.containerProfilePage {
  margin: 0 calc(24px + 400px) 0 calc(320px + 24px);
  height: calc(100vh - 77px - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow-y: auto;

  &.mobile {
    margin: 0;
    overflow-y: auto; 
    height: 100vh;
    padding: 0px 20px 120px;

    ul{
      margin: 0;
    }
  }
}