.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    & > section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        position: relative;

        & > h3 {
            width: 100%;
            color: var(--gray-900);
            text-align: start;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2rem;
            letter-spacing: -0.01125rem;
        }

        & > [data-inputs] {
            width: 100%;
            display: grid;
            gap: 0.75rem 0.75rem;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        fieldset {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            position: relative;

            & > label {
                color: var(--gray-900);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25rem;
                letter-spacing: -0.02125rem;
            }
        }

        & > [data-categories] {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;

            & > p,
            & > a > span {
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.25rem;
                letter-spacing: -0.02125rem;
            }

            & > p {
                color: var(--gray-900);
            }

            & > a {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                cursor: pointer;

                & > span {
                    color: var(--primary-500);
                }

                & > img {
                    width: 1rem;
                    height: 1rem;
                }
            }

            &[data-length="true"] {
                & > a {
                    position: absolute;
                    top: 0.75rem;
                    right: 0;
                }

                & > [data-cards] {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 0.75rem;

                    & > a {
                        max-width: 11rem;
                        width: 100%;
                        padding: 0.75rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        height: 5.75rem;
                        background-color: var(--primary-600);
                        border-radius: 0.75rem;
                        position: relative;
                        cursor: pointer;

                        & > button {
                            position: absolute;
                            top: -0.3125rem;
                            right: -0.5625rem;
                            opacity: 0;
                            visibility: hidden;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 1rem;
                            border: 1px solid var(--gray-300) !important;
                            background: var(--supporting-white);
                            padding: 0.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            transition: var(--transition);
                            transition-property: opacity, visibility;

                            & > img {
                                width: 1rem;
                                height: 1rem;
                            }
                        }

                        & > article {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;

                            &[data-title] {
                                align-items: center;
                                gap: 0.8175rem;

                                & > [data-img] {
                                    width: 1.5rem;
                                    height: 1.5rem;

                                    & > img {
                                        width: 1.5rem;
                                        height: 1.5rem;
                                    }
                                }

                                & > p {
                                    color: var(--glass-bg-color-4);
                                    font-size: 0.8125rem;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 1.25rem;
                                    letter-spacing: -0.02125rem;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    line-clamp: 1;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }

                            &[data-sub] {
                                align-items: end;

                                & > p {
                                    color: var(--supporting-white);
                                    font-size: 0.875rem;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 1.25rem;
                                    letter-spacing: -0.02125rem;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    line-clamp: 2;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }
                        }

                        &:hover {
                            & > button {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &[data-length="false"] {
            }
        }
    }

    & > footer {
        margin-top: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.75rem;

        & > button,
        & > a {
            height: 2.75rem;
            max-width: 12.5rem;
            border-radius: 1.375rem;
        }
    }
}

[data-mobile="true"] {
    .form {
        & > section {
            & > [data-inputs] {
                display: flex;
                flex-direction: column;
            }

            & > [data-categories] {
                &[data-length="true"] {
                    & > a {
                        top: 0;
                    }
                    & > [data-cards] {
                        display: grid;
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                        gap: 0.5rem 0.5rem;
                        & > a {
                            max-width: 100%;
                            & > button {
                                top: 0;
                                right: 0;
                                background: transparent;
                                box-shadow: none;
                                opacity: 1;
                                visibility: visible;
                                border: none !important;

                                & > img {
                                    filter: invert(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
