.wrapperContainer{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 92px 0;
  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(2.5px);
  transition: all 0.3s ease-in-out 0.05s;
  z-index: 1050;

  &.visible{
    opacity: 1;
    visibility: visible;
  }
}

.contentModal{
  position: relative;
  max-width: 584px;
  width: 100%;
  border-radius: 32px;
  background: #EEF0FE;
  overflow: hidden;
}