.container {
  border: 1px solid rgba(239, 68, 36, 0.2);
  background: rgba(239, 68, 36, 0.05);

  & > header {
    & > [data-img] {
      padding: 0.3125rem;
      background: var(--element-error);
    }
  }
}
