.container {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  cursor: pointer;

  & > [data-time-dots] {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > time {
      width: 100%;
      color: var(--text-secondary);
      text-align: start;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
    }

    & > [data-dots-and-button] {
      position: relative;
      height: 1rem;
      width: 1rem;
      border: none;
      outline: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 140;

      & > button {
        position: absolute;
        background-color: transparent;
        border: none;
        outline: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2rem;
        width: 2rem;
        z-index: 50;
      }

      & > svg {
        position: absolute;
        inset: 0;
        width: 1rem;
        height: 1rem;
        z-index: 23;
      }

      & > article {
        position: absolute;
        top: calc(100% + 0.25rem);
        right: 0;
        border-radius: 0.75rem;
        padding: 0.75rem;
        background: var(--BG-second);
        display: flex;
        width: 13.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-0.5rem);
        z-index: 120;

        transition-duration: 450ms;
        transition-property: opacity, visibility, transform;
        transition-timing-function: ease;

        & > a {
          width: 100%;
          padding: 0.5rem 0.375rem;
          display: flex;
          align-items: center;
          gap: 0.625rem;
          border-radius: 0.375rem;
          background-color: transparent;

          & > [data-icon] {
            width: 1.25rem;
            height: 1.25rem;
            padding: 0.625rem;
            position: relative;

            & > svg {
              position: absolute;
              width: 1.25rem;
              height: 1.25rem;
              inset: 0;
            }
          }

          & > span {
            color: var(--text-primary);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
            white-space: nowrap;
          }

          &:hover,
          &:focus {
            background-color: var(--grey-field);
          }
        }

        &[data-visible="true"] {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  & > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.75rem;

    & > [data-img] {
      width: 1.625rem;
      height: 1.625rem;
      display: flex;
      align-items: center;
      justify-content: center;

      & > img {
        width: 1rem;
        height: 1rem;
      }
    }

    & > h3 {
      color: var(--text-primary);
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem;
    }
  }

  & > article {
    p {
      color: var(--text-primary);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
      letter-spacing: -0.03125rem;
    }
  }

  & > [data-images-offer] {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    height: 4.875rem;
    min-height: 4.875rem;

    & > [data-images] {
      padding-inline: 1rem;
      height: 4.875rem;
      min-height: 4.875rem;

      & > img {
        width: 4.375rem;
        height: 4.875rem;
        border-radius: 0.5rem;
        aspect-ratio: 4.375/4.875;
      }
    }
  }

  & > [data-profile] {
    margin-top: 0.25rem;
    width: 100%;
    border-top: 1px solid var(--grey-stroke-light);
    padding-top: 0.625rem;

    & > [data-footer-profile] {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 0.625rem;

      & > [data-profile] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.625rem;

        & > [data-avatar] {
          position: relative;
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 0.375rem;
          background-color: var(--BG-second);
          overflow: hidden;

          & > img {
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            border-radius: 0.375rem;
          }
        }

        & > p {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
          white-space: nowrap;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          line-clamp: 1;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      & > [data-rating] {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > [data-icon] {
          width: 1rem;
          height: 1rem;
          padding: 0.1875rem;
          display: flex;
          align-items: center;
          justify-content: center;

          & > svg {
            width: 0.625rem;
            height: 0.625rem;
          }
        }

        & > span {
          color: var(--text-accent);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1rem;
        }
      }
    }
  }
}

[data-theme="light"] {
  .container,
  .container > [data-time-dots] > [data-dots-and-button] > article {
    box-shadow: 0px 4px 24px 0px rgba(98, 106, 118, 0.08), 0px 2px 6px 0px rgba(98, 106, 118, 0.06);
  }
}
[data-theme="dark"] {
  .container,
  .container > [data-time-dots] > [data-dots-and-button] > article {
    box-shadow: 0px 12px 24px 0px rgba(32, 32, 32, 0.5);
  }
}
