.images {
  width: calc(100% + 3rem);
  -ms-overflow-style: none;
  overscroll-behavior-y: none;

  & > div {
    overflow-x: scroll;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
