.container {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px;
    border-radius: 100px;
    border: 1px solid var(--gray-300);
    background: var(--background-input);
    cursor: pointer;

    span {
        color: var(--gray-400);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        &.value {
            color: var(--gray-900);
        }
    }

    ul {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        right: 0;
        display: flex;
        max-height: 212px;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        overflow-y: auto;
        border-radius: 12px;
        background: var(--background);
        box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out 0.01s;
        z-index: 200;

        li {
            width: 100%;
            padding: 6px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            border-radius: 6px;
            transition: all 0.2s ease-in-out 0.01s;

            .containerImage {
                width: 24px;
                height: 24px;
                padding: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                background: var(--primary-100);
            }

            &:hover,
            &.value {
                border-radius: 6px;
                background: var(--background-input);;
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}
