.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;

  & > [data-input-selector] {
    width: 100%;
    position: relative;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--grey-stroke);
    background: var(--BG-second);
    overflow: hidden;

    transition: var(--transition);
    transition-property: border;

    &[data-focus="true"] {
      border: 1px solid var(--element-accent-1);
    }

    & > input {
      width: 100%;
      height: 100%;
      padding: 0.875rem;
      font-style: normal;
      height: 3rem;
      border-radius: 1.5rem;
      border: none;
      outline: none;
    }

    & > img {
      position: absolute;
      top: 50%;
      right: 0.875rem;
      transform: translateY(-50%);
      height: 1.25rem;
      width: 1.25rem;

      transition: var(--transition);
      transition-property: transform;

      &[data-active="true"] {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  & > [data-list] {
    width: 100%;
    display: flex;
    max-height: 13.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 0.75rem;
    background: var(--BG-second);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    box-shadow: 0px 4px 4px 0px rgba(32, 32, 32, 0.7);

    position: absolute;
    top: calc(100% + 0.25rem);

    transition: var(--transition);
    transition-property: opacity, max-height;

    &[data-active="true"] {
      opacity: 1;
      visibility: visible;
      padding: 0.75rem;
      z-index: 200;
    }

    ul {
      overflow: hidden;
      height: fit-content;
      overflow-y: auto;
      li {
        width: 100%;
        padding: 0.5rem;
        padding-bottom: 0.625rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        transition: var(--transition);
        transition-property: background;

        .containerImage {
          width: 1.5rem;
          height: 1.5rem;
          padding: 0.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.75rem;
          background: var(--primary-100);
        }

        & > p {
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
          letter-spacing: -0.01125rem;
        }

        &:hover,
        &.value {
          border-radius: 6px;
          background: var(--grey-field);
        }
      }
    }
  }
}

[data-mobile="false"] {
  .container {
    & > [data-list] {
      position: absolute;
      top: calc(100% + 0.25rem);
    }
  }
}

[data-tablet="true"] {
  .container {
    & > [data-list] {
      &[data-active="false"] {
      }
    }
  }
}
