.container {
    position: fixed;
    background: linear-gradient(180deg, rgba(23, 15, 38, 0) 24.51%, rgba(23, 15, 38, 0.09) 64.31%, rgba(23, 15, 38, 0.2) 100%), #6a59e6;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    transition: var(--transition);
    transition-property: bottom;

    &[data-visible="true"] {
        bottom: calc(68px + 42px);
        left: 20px;
        right: 20px;
        padding: 24px;
        flex-direction: column;
        gap: 1rem;
        border-radius: 32px;
    }

    &[data-visible="false"] {
        left: 20px;
        bottom: calc(68px + 20px);
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 24px;
    }

    & > article {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;

        & > h3 {
            color: #fff;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: -0.1px;
        }

        & > button {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            border-radius: 16px;
            background: var(--opacity-white-hard-1);
            backdrop-filter: blur(2px);
            border: none;
            outline: none;

            & > img {
                width: 20px;
                height: 20px;
            }
        }
    }

    & > section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
        cursor: pointer;

        & > p {
            color: #fff;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
        }
    }

    & > h1 {
        color: #fff;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
}
