.wrapper {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;

    & > section {
        max-width: 41.875rem;
        width: 100%;
        position: relative;
        z-index: 2;
        height: 100%;
        border-radius: 2rem;
        background-color: var(--background);
        display: flex;
        flex-direction: column;

        & > header {
            padding: 1.5rem 0 1.25rem;
            width: 100%;
            border: 2rem 2rem 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4.75rem;

            & > h2 {
                color: var(--gray-900);
                text-align: center;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2rem;
                letter-spacing: -0.02125rem;
            }
        }

        & > ul {
            height: calc(100% - 4.75rem);
            overflow: hidden;

            & > form {
                overflow: hidden;
                overflow-y: auto;
                padding: 1.5rem;
                padding-top: 0;
            }
        }

        & > [data-close] {
            position: absolute;
            width: 3rem;
            height: 3rem;
            border-radius: 1.5rem;
            background-color: var(--background);
            padding: 0.875rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            & > img {
                height: 1.25rem;
                width: 1.25rem;
            }
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        & > section {
            & > [data-close] {
                & > img {
                    filter: invert(1);
                }
            }
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        padding: 0;
        justify-content: flex-end;

        & > section {
            max-width: 100%;
            border-radius: 0;

            & > header {
                padding: 1.25rem 0 1rem;
                height: 4.25rem;
            }

            & > ul {
                height: calc(100% - 4.25rem);
            }
        }
    }
}
