.main {
  grid-template-columns: 17.5rem minmax(0, 1fr);
  height: 100vh;
  padding-top: calc(var(--height-header-nav-bar) + 1.5rem);

  & > aside,
  & > section {
    border-radius: 2rem;
    height: calc(100% - 3rem);
  }

  @media screen and (max-width: 768px) {
    height: 100dvh;
  }
}
