.asideLeft{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  border: 2px solid var(--stroke-1);
  background: var(--glass-bg-color-2);
  backdrop-filter: blur(1px);
  z-index: 2;

  &.mobile{
    padding: 16px;
    border-radius: 16px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}