.container {
    position: absolute;
    max-width: 294px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: var(--glass-bg-color-1);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0.03s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
