.container {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow-x: scroll;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        display: none;
    }

    & > [data-images] {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        & > img {
            height: 5.625rem;
            width: 5rem;
            aspect-ratio: 80/90;
            border-radius: 1rem;
            cursor: pointer;
        }
    }
}
