.container {
  -ms-overflow-style: none;
  overscroll-behavior-y: none;

  & > [data-images] {
    overflow-x: scroll;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
    overscroll-behavior-x: contain;

    & > img {
      height: 5.625rem;
      width: 5rem;
      aspect-ratio: 80/90;
      border-radius: 1rem;
      cursor: pointer;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

  }
}

[data-theme="dark"] {
  .container {
    & > button {
      img {
        filter: invert(1);
      }
    }
  }
}
