.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem;

    & > [data-img] {
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 0.625rem;
        padding: 1.375rem;
        background-color: var(--background-input);
        position: relative;
        overflow: hidden;

        & > img {
            position: absolute;
            inset: 0;
            width: 2.75rem;
            height: 2.75rem;
            border-radius: 0.625rem;
        }
    }

    & > [data-info] {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > [data-name] {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;

            & > img {
                width: 1rem;
                height: 1rem;
            }
        }

        & > [data-geo] {
            & > img {
                width: 0.875rem;
                height: 0.875rem;
                margin-right: 0.25rem;
            }

            color: var(--gray-500);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.125rem;
            letter-spacing: -0.01125rem;
        }
    }
}
