.container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    overflow-y: auto;

    & > time {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--text-secondary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
        letter-spacing: -0.01125rem;
    }

    & > h4 {
        color: var(--text-primary);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.01125rem;
    }

    & > [data-proposal] {
        width: 100%;
        color: var(--text-primary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.01125rem;
    }

    & > [data-repeat] {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    & > [data-wants] {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 0.5rem;

        & > a {
            height: 2.25rem;
            border-radius: 1.125rem;
            padding: 0.375rem 0.5rem 0.375rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;
            background: var(--BG-icons);
            border: 1px solid var(--grey-stroke-light);

            & > [data-img] {
                width: 1.5rem;
                height: 1.5rem;
                padding: 0.25rem;

                & > img {
                    width: 1rem;
                    height: 1rem;
                }
            }

            & > span {
                color: var(--text-primary);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.125rem;
                letter-spacing: -0.01125rem;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                line-clamp: 1;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
