.container {
  & > header {
    & > [data-category-img] {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.25rem;

      & > img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  [data-container-children] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    & > [data-loading-profile] {
      padding-inline: 1.25rem;
    }

    & > [data-buttons] {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.625rem;

      & > [data-type-button="regular-primary"] {
        max-width: min-content;
        padding-inline: 1.5rem;
      }

      & > button {
        height: 2.75rem;
        border-radius: 1.375rem;
      }

      & > [data-circle] {
        padding: 1.375rem;
        border-radius: 1.375rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--btn-second-default);

        & > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }

  [data-inform-off-barter] {
    width: 100%;
    padding-inline: 1.25rem;

    & > article {
      width: 100%;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid var(--grey-stroke);

      & > span {
        color: var(--text-primary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }
  }
}
