.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    z-index: 1000;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all 0.35s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
        display: flex;
    }
}

.overviewMobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--background);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    z-index: 19;
    display: none;

    &.visible {
        opacity: 1;
        visibility: visible;
        display: flex;
    }

    .contentMobile {
        padding: 28px 28px 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        overflow-y: auto;
        height: calc(100%);
    }
}

.modal {
    position: relative;
    max-width: 584px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: wheat;
    flex-shrink: 0;
    border-radius: var(--banner-border-radius);
    background-color: var(--background);
    z-index: 101;
    overflow: hidden;
}

.close {
    position: absolute;
    right: 12px;
    top: 12px;
    display: inline-flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--gray-300);
    background: var(--background-input);
    box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
    cursor: pointer;
}

.content {
    padding-top: 48px;
    padding-bottom: 48px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
