.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 0.5rem;
    border-radius: 2rem;
    background: var(--BG-second);
    flex: 1;
    flex-shrink: 0;
    min-width: 0;

    .titleAndNumber {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        width: calc(100% - 0px);

        p {
            color: var(--text-primary);
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 125.556%;
            letter-spacing: -0.3px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        h2 {
            color: var(--text-accent);
            font-size: 3rem;
            font-style: normal;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: -0.3px;
        }
    }
}
