.main {
  padding-top: var(--height-header-nav-bar);

  & > section {
    & > ul {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;

      & > h3 {
        color: var(--text-primary);
        text-align: start;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
      }

      & > p,
      & > li {
        padding-inline: 0.625rem;
        width: 100%;
        color: var(--text-primary);
        text-align: start;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;

        & > a {
          color: var(--link-color);
        }
      }

      & > li {
        padding-left: 0.875rem;
        list-style-type: circle !important;
      }

      & > i {
        padding-inline: 0.875rem;
        color: var(--text-primary);
        text-align: start;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: var(--height-mobile-header);
    padding-bottom: var(--height-mobile-footer-nav);
  }
}
