.container {
  width: 100%;
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 8px;
  height: min-content;

  border-radius: 16px;
  background: var(--glass-bg-color-1);
  box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
  // backdrop-filter: blur(4px);

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .date {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      gap: 6px;
      border-radius: 72.917px;
      border: 0.729px solid var(--gray-300);
      background: var(--supporting-white);

      p {
        color: var(--gray-500);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.5px;
      }
    }

    .end {
      display: inline-flex;
      gap: 8px;
      align-items: center;

      .verification {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--success-100);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button{
  width:min-content !important;
  height: 28px;

  span{
    color: var(--supporting-white, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%;
    letter-spacing: -0.5px;
  }
}