.wrapper {
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 979;

    & > section {
        display: flex;
        border-radius: 24px;
        position: relative;
        max-width: 500px;
        width: 100%;
        height: 100%;
        background: var(--background);

        & > [data-close] {
            position: absolute;
            top: 0;
            left: calc(100% + 10px);
            height: 32px;
            width: 32px;
            border-radius: 16px;
            border: 1px solid var(--gray-300);
            background: var(--background);
            box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 5;
        }

        & > [data-left],
        & > [data-right] {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 48px;
            height: 48px;
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--gray-300);
            background: var(--background);
            box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
            z-index: 6;
            cursor: pointer;

            & > img {
                filter: invert(1);
            }
        }

        & > [data-left] {
            left: 0;
        }
        & > [data-right] {
            left: 100%;
        }

        & > [data-dark-header] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 20%;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.83),
                rgba(0, 0, 0, 0)
            );
            z-index: 2;
        }

        & > header {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            z-index: 3;
            padding: 16px;

            & > [data-title] {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                gap: 20px;

                & > [data-author] {
                    width: min-content;
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    cursor: pointer;

                    & > img {
                        height: 48px;
                        width: 48px;
                        border-radius: 10px;
                    }

                    & > [data-title-name-geo] {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        & > [data-geo] {
                            width: calc(100% - 48px - 8px);
                        }
                    }
                }

                & > p {
                    width: min-content;
                    color: var(--supporting-white);
                    text-align: right;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -0.5px;
                    white-space: nowrap;
                }
            }

            h2,
            & > h3 {
                color: var(--supporting-white);
                font-style: normal;
                line-height: 150%;
                letter-spacing: -0.1px;
            }

            h2 {
                font-size: 20px;
                font-weight: 600;
                white-space: nowrap;
            }

            & > h3 {
                font-size: 16px;
                font-weight: 500;
            }
        }

        & > [data-images="true"] {
            width: calc(100% - 2px);
            position: absolute;
            bottom: calc(16px + 44px + 16px);
            left: 1px;
            right: 1px;
            overflow: hidden;
            height: 90px;
            z-index: 5;

            & > ul {
                padding-left: 20px;
                padding-right: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                overflow-x: auto;
                height: 90px;
                gap: 13px;
                transition: var(--transition);

                & > li {
                    position: relative;
                    overflow: hidden;
                    border-radius: 18px;
                    aspect-ratio: 1/1;
                    width: 90px;
                    height: 90px;
                    background: var(--background);
                    border: 3px solid var(--glass-bg-color-1);
                    display: inline-block;
                    cursor: zoom-in;
                    transition: var(--transition);

                    &[data-active="true"] {
                        border-color: var(--warning-400);
                    }

                    & > img {
                        display: block;
                        height: auto;
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                }
            }
        }

        & > img {
            border-radius: 24px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 1;
        }

        & > footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 16px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            height: 40px;
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            gap: 12px;
            z-index: 7;

            & > button > img {
                filter: invert(1);
            }

            & > [data-success="true"] {
                height: 40px;
                border-radius: 20px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: var(--success-500);
                border: none !important;
                outline: none !important;

                span {
                    color: var(--supporting-white);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                }
            }
        }
    }

    &[data-mobile="true"] {
        padding: 0;
        & > section {
            max-width: 100%;
            border-radius: 0 !important;
            background: rgba(0, 0, 0, 0.27);
            backdrop-filter: blur(2.5px);
            & > [data-dark-header="true"] {
                border-radius: 0 !important;
            }

            & > [data-close="true"] {
                top: calc(16px + 15px + 12px);
                right: 24px;
                left: auto;
            }

            & > [data-left="true"],
            & > [data-right="true"] {
                display: none;
            }

            & > img {
                border-radius: 0 !important;
            }
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        & > section {
            & > [data-close="true"] {
                & > object {
                    filter: invert(1);
                }
            }
            & > [data-left="true"],
            & > [data-right="true"] {
                & > img {
                    filter: invert(0);
                }
            }
        }
    }
}

@media screen and (max-width: 946px) {
    .wrapper {
        padding: 30px 20px;
    }
}
