.container {
    max-width: 28.125rem;
    width: 100%;
    height: min-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    background: var(--BG-second);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

[data-mobile="true"] {
    .container {
        max-width: 100%;
    }
}

[data-theme="dark"] {
    .container {
        backdrop-filter: blur(0.5rem);
        box-shadow: none;
    }
}
