.container {
    max-width: 450px;
    width: 100%;
    height: min-content;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 16px;
    background: var(--supporting-white);
    box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

[data-mobile="true"] {
    .container {
        max-width: 100%;
    }
}

[data-theme="dark"] {
    .container {
        background: var(--gray-100);
        backdrop-filter: blur(9px);
        box-shadow: none;
    }
}
