.container {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--BG-second);
  border: 1px solid var(--grey-stroke-light);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-block: 1rem;
  height: 100%;

  & > [data-header] {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding-inline: 1rem;

    & > [data-img] {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.75rem;
      padding: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--grey-filed);

      & > img {
        width: 1rem;
        height: 1rem;
      }
    }

    & > h3 {
      color: var(--text-primary);
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.625rem;
      letter-spacing: -0.03125rem;
    }
  }

  & > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    & > [data-block-offer] {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      & > [data-proposal] {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding-inline: 1rem;

        & > span,
        & > p {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem;
          letter-spacing: -0.03125rem;
        }

        & > span {
          color: var(--text-secondary);
        }

        & > p {
          color: var(--text-primary);
        }
      }

      [data-images] {
        padding-inline: 1rem;
      }
    }

    & > [data-exchange] {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-inline: 1rem;
      gap: 0.25rem;

      & > span {
        color: var(--text-secondary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
        letter-spacing: -0.03125rem;
      }

      & > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;

        & > li {
          max-width: inherit;
          max-width: -webkit-fill-available;
          height: 2.25rem;
          border-radius: 1.125rem;
          border: 1px solid var(--grey-stroke-light);
          background-color: var(--BG-second);
          padding: 0.3875rem 0.5rem 0.3875rem 0.3875rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;

          & > [data-img] {
            width: 1.5rem;
            height: 1.5rem;
            padding: 0.25rem;
            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
              width: 1rem;
              height: 1rem;
            }
          }

          & > span {
            color: var(--text-primary);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.125rem;
            letter-spacing: -0.03125rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }

    & > [data-footer] {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-inline: 1rem;
      margin-top: auto;

      & > [data-geo] {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.25rem;

        & > [data-img-g],
        & > button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border: none;
          outline: none;
        }

        & > [data-img-g] {
          width: 1rem;
          height: 1rem;

          & > img {
            height: 1rem;
            width: 1rem;
          }
        }

        & > span {
          color: var(--text-secondary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem; /* 128.571% */
          letter-spacing: -0.03125rem;
        }

        & > button {
          width: 1.25rem;
          height: 1.25rem;
          margin-left: auto;

          & > img {
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }

      & > [data-buttons] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;

        & > button {
          height: 2.25rem;
          border-radius: 1.125rem;

          & > img {
            height: 1rem;
            width: 1rem;
          }
        }

        & > [data-cirlce] {
          width: 2.25rem;

          background-color: var(--grey-filed);
          border-radius: 6.25rem;
          padding: 0.625rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          outline: none;

          &:hover {
            background: var(--btn-second-hover);
          }
        }
      }
    }
  }
}
