.wrapper {
    margin: 0 calc(24px + 400px) 0 calc(320px + 24px);
    height: calc(100vh - 77px - 24px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    gap: 16px;

    & > header {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;

        h4 {
            color: var(--gray-900);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: -0.5px;
            z-index: 1;
        }

        & > [data-total] {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 4px 8px;
            border-radius: 100px;
            background: var(--background-input);
            z-index: 1;

            h4 {
                color: var(--primary-500);
            }
        }
    }

    & > ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 24px;
    }
}

[data-mobile="true"] {
    .wrapper {
        display: none;
    }
}
