@mixin dataList {
    position: absolute;
    max-height: 320px;
    top: calc(100% + 5px);
    display: flex;
    flex-direction: column;
    border-radius: calc(0.375rem + 0.25rem);
    width: 100%;
    background: var(--background-input);
    border: 1px solid var(--gray-300);
    z-index: 15;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 3;

    & > [data-item-category] {
        width: 100%;
        padding: 0.375rem;
        background: var(--background-input);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        height: calc(0.375rem + 1.75rem + 0.375rem);
        border-radius: calc(0.875rem + 0.375rem);
        position: relative;

        & > img {
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 0.875rem;
        }

        & > p {
            color: var(--color-text);
            font-size: 0.875rem;
            font-weight: 500;
            letter-spacing: -0.5px;
            white-space: nowrap;
            overflow: hidden;
            max-width: calc(100% - 0.75rem - 0.5rem - 3.5rem);
        }

        & > [data-close] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 0.875rem;
            right: 0.375rem;
            background: var(--background);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25rem;
            cursor: pointer;
            border: none;
            outline: none;

            & > img {
                height: 1.25rem;
                width: 1.25rem;
            }
        }
    }

    & > [data-div-select] {
        position: relative;
        width: 100%;
        height: calc(0.375rem + 1.75rem + 0.375rem);
        border-radius: calc(0.875rem + 0.375rem);
        background: var(--background-input);
        border: 1px solid var(--gray-300);

        & > input {
            width: calc(100% - 2px);
            height: calc(0.375rem + 1.75rem + 0.375rem - 2px);
            border-radius: calc(0.875rem + 0.375rem);
            border: none !important;
            outline: none !important;
            padding: 0.75rem 0.875rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--gray-900);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem;
            letter-spacing: -0.03125rem;

            &::placeholder {
                color: var(--gray-400);
            }
        }

        & > ul {
            @include dataList();
            overflow: hidden;
            overflow-y: auto;
            padding: 0.25rem;

            gap: 0.25rem;

            & > li {
                width: 100%;
                border-radius: calc(0.375rem);
                padding: 0.25rem;
                background: var(--background);
                cursor: pointer;

                &:hover {
                    background-color: var(--glass-bg-color-1);
                }

                &[data-active="true"] {
                    background-color: var(--gray-100);
                }
            }
        }

        & > div {
            @include dataList();
            overflow: hidden;
            padding: 0.25rem;
            align-items: center;

            & > h4 {
                color: var(--gray-500);
                text-align: center;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5rem;
                letter-spacing: -0.03125rem;
            }
        }
    }
}

[data-mobile="true"] {
    .container {
        & > [data-div-select] {
            & > ul {
                top: -5px;
                transform: translateY(-100%);
                z-index: 4;
            }
        }
    }
}
