.geo {
  display: inline-flex;
  align-items: center !important;
  gap: 0.25rem;
  width: auto;

  p {
    color: var(--text-secondary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500 !important;
    letter-spacing: -0.3px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
