.geo {
    display: inline-flex;
    align-items: center !important;
    gap: 4px;
    max-width: 250px;
    width: auto;

    p {
        width: auto;
        color: var(--gray-500);
        font-size: 16px;
        font-style: normal;
        font-weight: 500 !important;
        letter-spacing: -0.5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
