.container {
  width: 100%;
  height: 3.25rem;
  position: relative;
  padding: 0;
  border-radius: 1.625rem;
  background: var(--BG-second);
  overflow: hidden;
  border: 1px solid var(--grey-stroke-light);

  input {
    width: 100%;
    height: 100%;
    border: none !important;
    outline: none !important;

    &[type="text"] {
      padding-left: 2.625rem;
      padding-right: 0.5rem;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
    }
  }

  .image {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.25rem;
    width: 1.25rem;
  }
}
