.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  & > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    border-radius: 1rem;
    background-color: var(--BG-second);
    padding: 0.75rem 1rem;

    & > header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      & > h4 {
        color: var(--text-primary);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem; /* 150% */
      }

      & > button {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--grey-field);
        outline: none;
        border: none;

        & > svg {
          width: 1rem;
          height: 1rem;
          & > g > path {
            transition: var(--transition);
            transition-property: fill;

            fill: var(--text-secondary);
          }
        }

        &:hover {
          & > svg > g > path {
            fill: var(--element-accent-1);
          }
        }
      }
    }

    & > article {
      width: 100%;

      & > span {
        color: var(--text-disabled);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
      }

      & > form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > textarea {
          width: 100%;
          color: var(--text-primary);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
          border: none;
          outline: none;
          min-height: 1.25rem;
          padding: 0;
          background-color: transparent;
          resize: none;
          max-height: calc(3.75rem);

          &[data-error="true"] {
            color: var(--text-error);
          }
        }

        & > footer {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;

          & > [data-buttons] {
            display: flex;
            flex-direction: row;
            gap: 0.625rem;

            & > button {
              padding-inline: 1rem;
              max-width: fit-content;
              height: 2.25rem;

              & > span {
                font-size: 0.875rem;
                line-height: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
}
