.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding-bottom: calc(1.5rem - 0.625rem);

  & > [data-block-profile] {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--BG-second);

    & > section {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    & > [data-badges-color] {
      gap: 0.25rem;

      & > section {
        height: 3.25rem;
        padding: 0.375rem 0.625rem;
        border-radius: 0.75rem;

        & > article {
          & > h4 {
            font-size: 0.75rem;
            line-height: 1rem;
            font-weight: 400;
          }
          & > h2 {
            font-size: 1rem;
            line-height: 1.625rem;
            font-weight: 600;
          }
        }

        & > [data-icon] {
          display: none;
        }

        &::after,
        &::before {
          display: none;
        }
      }
    }
  }

  & > [data-block-buttons] {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;

    & > button {
      width: 100%;
      padding: 0.625rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.625rem;
      border-radius: 0.75rem;
      border: none;
      outline: none;
      background-color: var(--BG-second);

      h4 {
        color: var(--text-secondary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 142.857% */
        letter-spacing: -0.03125rem;
      }

      & > article {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.625rem;

        h3 {
          color: var(--text-primary);
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.625rem;
          letter-spacing: -0.03125rem;
        }

        & > img {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}

[data-theme="light"] {
  .container {
    [data-friends] {
      & > img {
        filter: invert(1);
      }
    }
  }
}
