.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding-bottom: calc(1.5rem - 0.625rem);

  & > [data-block-profile] {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--BG-second);

    & > section {
      width: 100%;
      display: flex;
      flex-direction: row;

      &[data-profile] {
        gap: 1rem;

        & > [data-img] {
          position: relative;
          background-color: var(--grey-stroke-light);
          border-radius: 0.625rem;
          width: 5rem;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          & > [data-image] {
            width: 5rem;
            height: 5rem;
            border-radius: 0.625rem;
          }

          &[data-img="false"] {
            & > [data-image] {
              width: 3rem;
              height: 3rem;
            }
          }

          & > [data-absolute] {
            position: absolute;
            width: 2rem;
            height: 2rem;
            bottom: -0.56rem;
            right: -0.56rem;
          }
        }

        & > article {
          width: auto;
          display: flex;
          flex-direction: column;
          gap: 0.375rem;

          & > h3 {
            color: var(--text-primary);
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.625rem;
            letter-spacing: -0.03125rem;
          }

          & > p {
            color: var(--text-secondary);
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem; /* 123.077% */
            letter-spacing: -0.03125rem;
          }

          & > time {
            color: var(--text-disabled);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem; /* 133.333% */
            letter-spacing: -0.03125rem;
          }
        }
      }

      &[data-about] {
        & > {
          overflow: hidden;
          color: var(--text-secondary);
          text-overflow: ellipsis;
          font-family: Inter;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
          letter-spacing: -0.03125rem;
        }
      }

      &[data-buttons] {
        gap: 0.625rem;

        & > button,
        & > a {
          height: 2.25rem;
          border-radius: 1.125rem;
        }

        & > [data-circle] {
          width: 2.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.625rem;
          border: none;
          outline: none;

          & > img {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }

    & > [data-badges-color] {
      gap: 0.25rem;

      & > section {
        height: 3.25rem;
        padding: 0.375rem 0.625rem;
        border-radius: 0.75rem;

        & > article {
          & > h4 {
            font-size: 0.75rem;
            line-height: 1rem;
            font-weight: 400;
          }
          & > h2 {
            font-size: 1rem;
            line-height: 1.625rem;
            font-weight: 600;
          }
        }

        & > [data-icon] {
          display: none;
        }

        &::after,
        &::before {
          display: none;
        }
      }
    }
  }

  & > [data-block-buttons] {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;

    & > button {
      width: 100%;
      padding: 0.625rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.625rem;
      border-radius: 0.75rem;
      border: none;
      outline: none;

      h4 {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 142.857% */
        letter-spacing: -0.03125rem;
      }

      & > article {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.625rem;

        h3 {
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.625rem;
          letter-spacing: -0.03125rem;
        }

        & > img {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      &[data-services] {
        background: var(--more-blue-gradient);

        & > h4,
        & > article > h3 {
          color: var(--text-button);
        }
      }

      &[data-friends] {
        background-color: var(--BG-second);

        & > h4 {
          color: var(--text-secondary);
        }

        & > article {
          h3 {
            color: var(--text-primary);
          }
        }
      }
    }
  }
}

[data-theme="light"] {
  .container {
    [data-friends] {
      & > img {
        filter: invert(1);
      }
    }
  }
}
