@mixin h4 {
    color: var(--gray-900);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.3px;
}

.containerAboutMe {
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: 1.5rem;
    background: var(--background);
    z-index: 2;

    h4 {
        @include h4;
    }

    p {
        color: var(--gray-500);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.5px;
    }

    a {
        color: var(--gray-400);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.3px;
        cursor: pointer;
    }

    textarea {
        color: var(--gray-500);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.2px;
        background: transparent;
        height: auto;
        overflow: hidden;
        border: 0.0625rem solid var(--gray-300);
        outline: 0.0625rem solid var(--gray-300);
        padding: 0.75rem;
        border-radius: 1rem;
        font-family: inherit;
        resize: none;
    }
}

.buttonEditing {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-input);
    border-radius: 100px;
    cursor: pointer;

    img {
        width: 1rem;
        height: 1rem;
        filter: invert(1);
    }
}

//Container tag and button

.containerTagAndButton {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    z-index: 1;

    & > nav {
        display: flex;
        flex-direction: row;

        & > a {
            padding: 0.25rem 0.5rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 0.125rem;
                background: var(--primary-500, #6656db);
                box-shadow: 0px 0.125rem 0.5rem 0px rgba(102, 86, 219, 0.49);
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }

            & > span {
                color: var(--color-text);
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 600;
                letter-spacing: -0.3px;
                transition: color var(--transition);
            }

            &[data-active="false"] {
                cursor: pointer;
            }

            &[data-active="true"] {
                & > span {
                    color: var(--primary-500);
                }
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    h4 {
        @include h4;

        & > span {
            cursor: pointer;

            &[data-active="true"] {
                color: var(--primary-500);
            }
        }
    }

    .widthButton {
        max-width: 11.25rem;
        width: 100%;
        height: 32px;

        & > span {
            font-size: 0.875rem;
        }
    }
}

[data-mobile="true"] {
    .containerTagAndButton {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .classNamesButton {
            height: 2.25rem;
        }
    }
}

.classNamesButton {
    padding: 0.375rem 0.75rem;
    gap: 0.375rem;
    align-items: center;

    span {
        font-weight: 500;
        font-size: 0.875rem;
    }
}

//containerSuggestions

.containerSuggestions {
    width: 100%;
    height: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    overflow-y: visible;
    z-index: 1;
    padding-bottom: 1.25rem;

    @media screen and (max-width: 1360px) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    & > * {
        max-width: 100%;
        display: inline-block;
        width: 100%;
        margin-bottom: 1rem;
    }

    &[data-loading="true"] {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 1rem;

        & > * {
            display: flex;
            margin: 0;
        }
    }
}

[data-mobile="true"] {
    .containerSuggestions {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75rem;
        overflow-y: visible;

        & > * {
            margin-bottom: 0;
        }
    }
}

//containerMAboutProfile

.containerMAboutProfile {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 10;

    border-radius: 1rem;
    background: var(--background);

    .blockAboutPhoto {
        display: inline-flex;
        gap: 1.5rem;
        z-index: 2;

        .blockPhotoAch {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            .avatar {
                position: relative;
                display: flex;
                width: 5rem;
                height: 5rem;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;

                .photo {
                    border-radius: 1rem;
                    overflow: hidden;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 1rem;
                }

                .verified {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: calc(100% - 0.3125rem);
                    top: calc(100% - 0.3125rem);
                }
            }

            .blockAchievements {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.75rem 0.75rem;
                justify-content: center;
                align-items: center;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .aboutBlock {
        width: calc(100% - 4.5rem - 1rem - 1rem);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 2;

        h4 {
            color: var(--gray-900);
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            letter-spacing: -0.3px;
        }

        .date {
            color: var(--gray-500);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.125rem;
            letter-spacing: -0.3px;
        }

        .about {
            color: var(--gray-500);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.125rem;
            letter-spacing: -0.5px;
        }

        a {
            color: var(--gray-400);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.125rem;
            letter-spacing: -0.5px;
        }

        textarea {
            color: var(--gray-500);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.5px;
            background: transparent;
            height: auto;
            overflow: hidden;
            border: 0.0625rem solid var(--gray-300, #d0d5dd);
            outline: 0.0625rem solid var(--gray-300, #d0d5dd);
            padding: 0.375rem;
            border-radius: 0.5rem;
            font-family: inherit;
            resize: none;
        }

        [data-geo] {
            & > p {
                white-space: wrap;
            }
        }
    }

    .buttons {
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;
        z-index: 2;

        & > button,
        & > a {
            & > img {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }

    [data-circle-gradient] {
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 1.375rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.625rem;
        background-color: var(--background-input);
    }
}
