@mixin h4 {
  color: var(--gray-900);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.containerAboutMe {
  position: relative;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 24px;
  border: 2px solid var(--supporting-white);
  background: var(--glass-bg-color-1);
  z-index: 2;
  transition: all 0.3s ease-in-out;

  h4 {
    @include h4;
  }

  p {
    color: var(--gray-500, #667085);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5px;
    // width: calc(100vw - 320px - 400px - 48px - 52px);
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // text-overflow: ellipsis;

    // &.expanded{
    //   max-height: none;
    // }
  }

  textarea {
    color: var(--gray-500, #667085);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5px;
    background: transparent;
    height: auto;
    overflow: hidden;
    border: 1px solid var(--gray-300, #D0D5DD);
    outline: 1px solid var(--gray-300, #D0D5DD);
    padding: 12px;
    border-radius: 16px;
    font-family: inherit;
    resize: none;
  }
}

.buttonEditing {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-300);
  background: var(--supporting-white);
  box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
  border-radius: 100px;
  cursor: pointer;
}

//Container tag and button

.containerTagAndButton {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    @include h4;
  }
}

.classNamesButton {
  padding: 6px 12px;
  gap: 6px;
  align-items: center;

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
  }
}

//containerSuggestions

.containerSuggestions {
  width: 100%;
  display: grid;
  height: calc(100vh - 300px);
  gap: 20px 20px;
  grid-template-columns: repeat(2, 319px);
  list-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  justify-content: center;

  &::-webkit-scrollbar {
    display: none;
  }
}