.budges {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 0.75rem));
    gap: 1rem 1rem;
    z-index: 2;
    & > div {
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    .budges {
        grid-template-columns: repeat(2, calc(50% - 8px));
    }
}

.interactive {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2rem;
    background: var(--background);
    z-index: 2;

    nav {
        margin-top: 1.5rem;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .segments {
            width: fit-content;

            li {
                min-width: 7.5rem;
            }
        }
    }
}

//ITEMS Reviews

.containerItemsInteractive {
    padding: 1.5rem 1.5rem 0.5rem;
    width: 100%;
    height: calc(100vh - 366px);
    overflow-y: auto;

    & > ul {
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        @media screen and (max-width: 960px) {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }

        & > li {
            display: inline-block;
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    &[data-loading="true"] {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem 1rem;
        height: min-content;

        & > * {
            height: min-content;
        }
    }
}

//Items Blog Messages

.listBlogMessages {
    width: 100%;
    height: calc(100vh - 396px);
    padding: 1.5rem 2rem;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

[data-mobile="true"] {
    .listBlogMessages {
        height: auto;
        overflow-y: visible;
        padding: 0;
    }
}

//Items Requests And Proposals

.containerRequestsAndProposals {
    width: 100%;
    height: auto;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    @media screen and (max-width: 960px) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    & > li {
        display: inline-block;
        width: 100%;
        max-width: 380px;
        min-width: 210px;
        margin-bottom: 1rem;
    }

    // padding: 0 0 24px;
    justify-content: center;
}

//ContainerServices

.containerServices {
    padding: 1.5rem 1.5rem 0.5rem;
    width: 100%;
    height: calc(100vh - 366px);
    overflow-y: auto;

    & > div {
        width: 100%;
    }

    [data-offers-card] {
        max-width: 100%;
    }

    & > [data-row="true"] {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem 1rem;
        flex-wrap: wrap;
    }

    &[data-loading="true"] {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem 1rem;
        height: min-content;

        & > * {
            border-radius: 1rem;
            height: min-content;
            border: 1px solid var(--gray-300);
        }
    }
}

[data-mobile="true"] {
    .containerServices {
        height: auto;
        padding: 0;
    }

    .containerRequestsAndProposals {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: visible;
    }

    .containerItemsInteractive {
        padding: 0;
        height: auto;
        overflow-y: visible;

        & > ul {
            overflow-y: visible;
        }
    }
}
