.budges {
  width: 100%;
  display: inline-flex;
  gap: 24px;
  align-items: center;
  z-index: 2;
}



.interactive {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 32px;
  border: 2px solid var(--supporting-white);
  background: var(--glass-bg-color-2);
  backdrop-filter: blur(1px);
  z-index: 2;

  nav {
    position: relative;
    height: 64px;
    border-bottom: 3px solid var(--primary-200);

    ul {
      list-style: none;
      display: inline-flex;
      overflow-x: auto;
      gap: 0;

      li {
        position: relative;
        padding: 20px 16px;
        cursor: pointer;

        &:first-child {
          padding-left: 32px;
        }

        &:last-child {
          padding-right: 32px;
        }

        p {
          color: var(--gray-400);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: -0.5px;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: var(--primary-500, #6656DB);
          box-shadow: 0px 2px 8px 0px rgba(102, 86, 219, 0.49);
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &.active {
          p {
            color: var(--gray-900);
          }

          &::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}


//ITEMS Reviews

.containerItemsInteractive {
  padding: 24px 32px 0;
  width: 100%;
  height: calc(100%);

  .ul {
    display: inline-flex;
    gap: 20px;
    height: calc(100vh - 380px);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  @media screen and (max-width: 1258px) {}
}

.card {}

//Items Blog Messages

.listBlogMessages {
  width: 100%;
  height: calc(100vh - 396px);
  padding: 24px 32px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}

//Items Requests And Proposals

.containerRequestsAndProposals {
  width: 100%;
  height: calc(100vh - 436px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 20px 20px;
  padding: 0 0 24px;
  justify-content: center;

  @media screen and (max-width: 1080px) {
    grid-template-columns: repeat(1, 0fr);
  }
}

//ContainerServices

.containerServices {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .tabs {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}