.container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-2);
    backdrop-filter: blur(1px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    padding-bottom: 24px;
    z-index: 100;

    ul {
        height: calc(100vh - 270px);
        width: 100%;
        padding-top: 22px;
        padding-left: 22px;
        padding-right: 22px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: auto;

        &[data-height="true"] {
            padding-top: calc(22px + 150px);
        }
    }
}

.containerMobile {
    position: relative;
    inset: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 250;
    padding-top: 84px;

    & > [data-header="true"] {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 84px;
        padding: 14px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(4px);
        z-index: 1000;

        .blockAvatar {
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar {
                width: 28px;
                height: 28px;
                border-radius: 14px;
            }

            h3 {
                color: var(--gray-900);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.5px;
            }
        }
    }

    ul {
        width: 100%;
        height: calc(100% - 84px);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 20px !important;
        gap: 20px;
        z-index: 10;
    }
}

.button {
    width: 48px;
    height: 48px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--background);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);

    img {
        filter: invert(1);
    }
}
