.wrapper {
    position: relative;
    inset: 0;
    height: 100%;
    width: 100%;
}

[data-mobile="true"] {
    .wrapper {
        background: transparent;
        z-index: 125;

        & > header {
            position: sticky;
            height: 84px;
            top: 0;
            left: 0;
            right: 0;
            background: var(--background);
            z-index: 2;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;
            justify-content: space-between;
            padding: 18px 20px;
            -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

            & > [data-back],
            & > button {
                width: 3rem;
                height: 3rem;
                border-radius: 1.5rem;
                padding: 0.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--glass-bg-color-1);
                box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(4px);
                cursor: pointer;
                border: none;
                outline: none;
            }

            & > [data-back] {
                & > img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        & > header {
            & > [data-back] {
                & > img {
                    filter: invert(1);
                }
            }
        }
    }
}

[data-mobile="false"] {
    .wrapper {
        & > header {
            display: none;
        }
    }
}

.container {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    overflow: hidden;
    border: 2px solid var(--stroke-1);
    background: var(--glass-bg-color-2);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    padding-bottom: 24px;
    z-index: 100;

    & > ul {
        height: calc(100vh - 270px);
        width: 100%;
        padding-top: 22px;
        padding-left: 22px;
        padding-right: 22px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: auto;

        &[data-height="true"] {
            padding-top: calc(22px + 150px);
        }
    }
}

.containerMobile {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 250;
    padding-top: 84px;

    & > [data-abs] {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }

    & > [data-header="true"] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 84px;
        padding: 14px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(4px);
        z-index: 1000;

        .blockAvatar {
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar {
                width: 28px;
                height: 28px;
                border-radius: 14px;
            }

            h3 {
                color: var(--gray-900);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.5px;
            }
        }
    }

    & > ul {
        width: 100%;
        height: calc(100% - 84px);
        display: flex;
        flex-direction: column;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        padding: 20px;
        gap: 20px;
        z-index: 10;
    }
}

.button {
    width: 48px;
    height: 48px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--background);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);

    img {
        filter: invert(1);
    }
}
