.wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    & > ul {
        width: 100%;
        height: calc(100%);
        overflow: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & > section {
            position: sticky;
            width: 100%;
            top: 0;
            height: min-content;
            z-index: 35;
            padding: 0.75rem;
        }
    }

    & > form {
        position: absolute;
        bottom: 1rem;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 22;
    }
}

[data-mobile="false"] {
    .wrapper {
        border-radius: 2rem;
        overflow: hidden;
        background: var(--background);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 99;

        & > ul {
            padding: 1rem 1rem 8.5rem !important;

            & > section {
                border-radius: 1rem;
            }

            & > [data-null] {
                display: none !important;
            }
        }
    }
}

[data-mobile="true"] {
    .wrapper {
        z-index: 12;

        & > header {
            width: 100%;
            left: 0;
            position: fixed;
            height: 84px;
            top: 0;
            z-index: 2;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;
            justify-content: space-between;
            padding: 18px 20px;
            background: var(--glass-bg-color-1);
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
            backdrop-filter: blur(40px);
            z-index: 15;

            & > article {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & > img {
                    width: 1.75rem;
                    height: 1.75rem;
                    border-radius: 0.875rem;
                }

                & > h5 {
                    color: var(--gray-900);
                    text-align: center;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: -0.00125rem;
                }
            }

            & > [data-back],
            & > button {
                width: 3rem;
                height: 3rem;
                border-radius: 1.5rem;
                padding: 0.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--glass-bg-color-1);
                box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(4px);
                cursor: pointer;
                border: none;
                outline: none;

                & > img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        & > ul {
            padding: 0.75rem !important;
            padding-top: 6rem !important;

            & > [data-null] {
                height: calc(5.25rem - 0.75rem);
                width: 100%;
                padding: 2.25rem;
            }
        }

        & > form {
            position: fixed;
        }
    }
}

[data-theme="dark"] {
    .wrapper {
        & > header {
            & > [data-back],
            & > button {
                & > img {
                    filter: invert(1);
                }
            }
        }
    }
}

[data-mobile="false"] {
    .wrapper {
        & > header {
            display: none;
        }
    }
}

.button {
    width: 48px;
    height: 48px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--background);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);

    img {
        filter: invert(1);
    }
}
