.container{
  width: 100%;
  height: 100%;
  border-radius: 32px;
  border: 2px solid var(--supporting-white);
  background: var(--glass-bg-color-2);
  backdrop-filter: blur(1px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-bottom: 24px;


  ul{
    height: 100%;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    overflow-y: auto;
  }
}