.container {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: var(--BG-second);
}

.wrapperLoading {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: var(--BG-second);
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  & > ul {
    width: 100%;
    height: calc(100%);
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &[data-loading] {
      & > [data-right] {
        margin-top: 1rem;
      }
    }
  }

  & > form {
    position: relative;
    width: 100%;
    height: calc(1.25rem + 2.5rem + 1.25rem);
    z-index: 22;
    background-color: var(--BG-second);
    padding: 1.25rem;

    & > [data-clipper],
    & > [data-buttons] > [data-files-input] {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      & > input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 4;
        cursor: pointer;
      }

      & > img {
        width: 1.25rem;
        height: 1.25rem;
        position: relative;
        z-index: 3;
      }
    }

    & > input {
      height: 2.5rem;
      border-radius: 1.25rem;
      writing-mode: horizontal-tb;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
      letter-spacing: -0.02125rem;
    }
  }
}

[data-tablet="false"] {
  .wrapper {
    border-radius: 1.25rem;
    overflow: hidden;
    background: var(--BG-second);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 99;

    & > ul {
      padding: 0;
      padding-bottom: 1rem;

      & > * {
        padding-inline: 1rem !important;
      }
    }

    & > form {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;

      & > [data-clipper] {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 1.25rem;
        padding: 0.625rem;
        background-color: var(--BG-first);
      }

      & > input {
        width: 100%;
        padding: 0.625rem 1rem;
        padding-right: calc(1rem + 1.25rem + 0.625rem);
      }

      & > [data-sent] {
        position: absolute;
        right: calc(1.25rem + 1rem);
        top: 50%;
        transform: translateY(-50%);
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        padding: 0.125rem;
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &[data-disabled="true"] {
          filter: grayscale(0.8);
          opacity: 0.6;
          cursor: no-drop;
        }
        & > img {
          height: 1.25rem;
          width: 1.25rem;
        }
      }
    }
  }
}

[data-tablet="true"] {
  .wrapper {
    z-index: 124;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > header {
      width: 100%;
      height: 5.25rem;
      padding: 1.125rem 1.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.625rem;
      overflow: hidden;
      background-color: var(--BG-first);
      box-shadow: rgba(136, 165, 191, 0.48) 4px 2px 4px 0px, rgba(255, 255, 255, 0.8) -4px -4px 4px 0px;

      & > article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > img {
          width: 1.75rem;
          height: 1.75rem;
          border-radius: 50%;
          background-color: transparent;
        }

        & > h5 {
          color: var(--text-primary);
          text-align: center;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.00125rem;
        }
      }

      & > [data-back],
      & > button {
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        padding: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--BG-second);
        backdrop-filter: blur(0.25rem);
        cursor: pointer;
        border: none;
        outline: none;

        & > img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    & > section {
      width: 100%;
      height: calc(100% - 5.25rem - 5rem);
      overflow: hidden;

      & > ul {
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding-bottom: 0.75rem;
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
          display: none;
        }
      }
    }

    & > form {
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0.75rem;

      & > [data-files-input] {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background-color: var(--BG-second);
        overflow: hidden;
        position: relative;
        padding: 1.25rem;
        cursor: pointer;

        & > input {
          position: absolute;
          inset: 0;
          opacity: 0;
          width: 2.5rem;
          height: 2.5rem;
          z-index: 10;
          cursor: pointer;
        }

        & > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 1.25rem;
          width: 1.25rem;
          z-index: 9;
          cursor: pointer;
        }
      }

      & > input {
        padding: 0.625rem;
        padding-inline: 1rem calc(1rem + 1.25rem + 0.625rem);
      }

      & > [data-buttons] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(1.25rem + 1rem);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.625rem;

        & > [data-sent] {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        & > [data-sent] {
          width: 1.25rem;
          height: 1.25rem;
          background-color: transparent;
          border: none;
          outline: none;

          &[data-disabled="true"] {
            filter: grayscale(0.8);
            opacity: 0.6;
          }
          & > img {
            height: 1.25rem;
            width: 1.25rem;
          }
        }
      }
    }
  }
}

[data-theme="light"] {
  .wrapper {
    [data-files-input],
    [data-clipper] {
      img {
        filter: invert(1);
      }
    }
  }
}

[data-theme="dark"] {
  .wrapper {
    & > header {
      & > [data-back],
      & > button {
        & > img {
          filter: invert(1);
        }
      }
    }
  }

  .wrapper {
    & > header,
    & > form {
      box-shadow: none;
    }
  }
}

[data-tablet="false"] {
  .wrapper {
    & > header {
      display: none;
    }
  }
}

.button {
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  background: var(--BG-second);
  box-shadow: 0px 0.25rem 1.5rem 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(0.25rem);

  & > svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  img {
    filter: invert(1);
  }
}
