.container {
    padding: 0 10px;
    width: 100%;
    max-height: calc(170px + 16px + 38px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    & > ul {
        min-height: calc(70px + 8px + 8px);
        max-width: calc(358px + 20px + 20px);
        overflow-y: scroll;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding-left: 20px;
        padding-right: 20px;

        & > li {
            width: 100%;
            padding: 6px;
            border: 3px solid var(--glass-bg-color-1);
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            border-radius: calc(29px + 6px);
            height: calc(48px + 6px + 6px);
            filter: grayscale(0.5);

            & > [data-image] {
                padding: 24px;
                width: 48px;
                height: 48px;
                border-radius: 24px;
                box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.28);
            }

            h3 {
                width: 100%;
                height: auto;
                text-align: start;
                color: #fff;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                letter-spacing: -0.2px;
            }

            &[data-provider="offer"] {
                background: var(--gradient-offer);
            }
            &[data-provider="request"] {
                background: var(--gradient-request);
            }

            &[data-active="true"] {
                border-color: var(--primary-500);
                filter: grayscale(0);
            }
        }
    }

    &[data-mobile="true"] {
        & > ul {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    & > [data-button-default] {
        height: 38px;
    }
}
