.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 54px;
  padding-bottom: 54px;
  justify-content: space-between;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.mobile{
    padding-bottom: 140px;
    padding-left: 30px;
    padding-right: 30px;
  }

  footer{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 59px;
    z-index: 10;

    ul{
      display: inline-flex;
      flex-direction: row;
      width: min-content;
      height: min-content;
      gap: 6px;
      z-index: 1;

      li{
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #E3E4E8;
        }
        &.active{
          cursor: no-drop;
          div{
            background: var(--primary-500);
          }
        }
      }
    }
  }
}

.contentPage {
  width: 100%;
  height: min-content;

  header {}

  .titleAndDescription {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    h2{
      color: var(#363757);
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 153.5%;
    }
    p{
      color: rgba(54, 55, 87, 0.60);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 153.5%;
    }
  }

  &.mobile{
    h2{
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.5px;
    }
    p{
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.5px;
    }
  }
}