.wrapper {
  z-index: 1000;
  background: rgba(5, 1, 13, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 7.5rem 1.25rem;

  & > section {
    position: relative;
    width: 100%;
    max-width: 41.875rem;
    border-radius: 2rem;
    background-color: var(--BG-second);
    max-height: 28.6875rem;
    height: 100%;

    & > header {
      height: 4.75rem;
      padding-block: 1.5rem 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--grey-separator);

      & > h3 {
        color: var(--text-primary);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
        letter-spacing: -0.03125rem;
      }
    }

    & > [data-content] {
      overflow: hidden;
      overflow-y: auto;
      padding: 1.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      height: calc(100% - 4.75rem);

      & > p {
        color: var(--text-secondary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: -0.03125rem;
      }

      & > ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.6875rem 0.6875rem;
        height: fit-content;

        @media screen and (max-width: 34.375rem) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    padding: 0;
    & > section {
      border-radius: 0;
      max-width: 100%;
      max-height: 100%;
      & > header {
        height: 4.25rem;
        padding-block: 1.25rem 1rem;
      }
      & > [data-content] {
        height: calc(100% - 4.25rem);

        & > ul {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }
    }
  }
}
