.container {
  padding-inline: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;

  & > [data-list] {
    overflow: hidden;
    overflow-y: auto;
    max-height: 18rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding-bottom: 0.625rem;

    & > [data-loading-profile] {
      padding-inline: 1.25rem;
    }

    & > [data-button-expand] {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      border: none;
      outline: none;
      padding-inline: 1.25rem;

      & > span {
        color: var(--text-accent);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1rem;
      }
    }
  }
}
