.containerGeneral {
  max-width: 25rem;
  height: fit-content;
  max-height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  flex-direction: column;

  & > header {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    padding: 1.25rem;
    border-bottom: 1px solid var(--grey-stroke-light);
    height: var(--height-standard-header-modal);

    & > h3 {
      color: var(--text-primary);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.125rem;
      letter-spacing: -0.01125rem;
    }

    &[data-color="offer"] {
      background: var(--BG-second);
    }
    &[data-color="discussion"] {
      background: linear-gradient(0deg, rgba(16, 117, 238, 0.04) 0%, rgba(16, 117, 238, 0.04) 100%), #fff;
    }
    &[data-color="alert"] {
      background: linear-gradient(0deg, rgba(239, 68, 36, 0.04) 0%, rgba(239, 68, 36, 0.04) 100%), #fff;
    }
  }

  [data-container] {
    width: 100%;
    padding: 0;
    border-radius: 0 0 2rem 2rem;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - var(--height-standard-header-modal));

    & > [data-container-children] {
      padding: 0;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      width: 100%;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      gap: 1.25rem;

      & > * {
        padding-inline: 1.25rem;
      }

      & > article {
        padding-inline: 0;

        & > * {
          padding-inline: 1.25rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    max-height: calc(100% - 1rem);

    & > header {
      height: 4.25rem;
      border-radius: 1.5rem 1.5rem 0 0;
      & > h3 {
        padding-right: calc(2.75rem + 0.625rem);
      }
    }

    [data-container] {
      border-radius: 0;
      overflow: hidden;
      overflow-y: auto;
      height: calc(100% - 4.25rem);
    }
  }
}

[data-theme="dark"] {
  .containerGeneral {
    & > header {
      &[data-color="discussion"] {
        background: linear-gradient(0deg, rgba(9, 95, 199, 0.12) 0%, rgba(9, 95, 199, 0.12) 100%), #2c3139;
      }
      &[data-color="alert"] {
        background: linear-gradient(0deg, rgba(156, 31, 7, 0.12) 0%, rgba(156, 31, 7, 0.12) 100%), #2c3139;
      }
    }
  }
}
