.wrapper {
  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &[data-visible="true"] {
    z-index: 214;
  }

  & > section {
    position: relative;
    max-width: 25rem;
    height: fit-content;
    max-height: 90%;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 120;

    & > header {
      width: 100%;
      border-radius: 2rem 2rem 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.625rem;
      padding: 1.25rem;

      & > h3 {
        color: var(--text-button);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.125rem;
        letter-spacing: -0.01125rem;
      }

      &[data-color="offer"] {
        background: var(--BG-second);
      }
      &[data-color="discussion"] {
        background: linear-gradient(0deg, rgba(16, 117, 238, 0.04) 0%, rgba(16, 117, 238, 0.04) 100%), #fff;
      }
      &[data-color="alert"] {
        background: linear-gradient(0deg, rgba(239, 68, 36, 0.04) 0%, rgba(239, 68, 36, 0.04) 100%), #fff;
      }
    }

    & > [data-container] {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      padding: 0;
      background: var(--BG-second);
      border-radius: 0 0 2rem 2rem;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;

      & > * {
        padding-inline: 1.25rem;
      }

      & > article {
        padding-inline: 0;

        & > * {
          padding-inline: 1.25rem;
        }
      }
    }
  }
}

[data-theme="dark"] {
  .wrapper {
    & > section {
      & > header {
        &[data-color="discussion"] {
          background: linear-gradient(0deg, rgba(9, 95, 199, 0.12) 0%, rgba(9, 95, 199, 0.12) 100%), #2c3139;
        }
        &[data-color="alert"] {
          background: linear-gradient(0deg, rgba(156, 31, 7, 0.12) 0%, rgba(156, 31, 7, 0.12) 100%), #2c3139;
        }
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    justify-content: flex-end;

    & > section {
      border-radius: 2rem 2rem 0 0;
      max-width: 100%;

      & > header {
        & > h3 {
          padding-right: calc(2.75rem + 0.625rem);
        }
      }

      & > [data-container] {
        border-radius: 0;
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }
}
