.container {
  & > * {
    padding-inline: 0 !important;
  }

  & > [data-info] {
    & > [data-name] {
      & > h4 {
        color: var(--text-primary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.02125rem;
      }

      & > img {
        margin-left: 0.25rem;
        width: 1rem;
        height: 1rem;
      }
    }

    & > time {
      font-size: 0.8125rem;
      line-height: 1rem;
    }
  }
}
