.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.625rem;
  padding-inline: 1.25rem !important;
  position: relative;

  & > * {
    padding-inline: 0 !important;
  }

  & > [data-img] {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 0.625rem;
    padding: 1.375rem !important;
    background-color: var(--BG-first);
    position: relative;
    overflow: hidden;

    & > img {
      position: absolute;
      inset: 0;
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 0.625rem;
    }
  }

  & > [data-info] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125rem;

    & > [data-name] {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;

      & > h4 {
        color: var(--text-primary);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.02125rem;
      }

      & > img {
        margin-left: 0.25rem;
        width: 1rem;
        height: 1rem;
      }
    }

    & > time {
      color: var(--text-secondary);
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
    }
  }
}
