.authOverlay,
.authOverviewMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1019;
    overflow: hidden;

    & > [data-content] {
        overflow: hidden;

        & > ul {
            gap: 32px;
            width: 100%;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;

            header {
                max-width: 360px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                & > [data-header-otp-code] {
                    padding: 19.25px;
                }

                & > [data-header-select] {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    width: 100%;
                }

                section {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    align-self: stretch;

                    & > h3,
                    & > p {
                        text-align: center;
                        letter-spacing: -0.5px;
                    }

                    h3 {
                        color: var(--gray-900);
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 38px;
                        letter-spacing: -0.5px;
                    }

                    p {
                        color: var(--gray-500);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

.authOverlay {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    padding: 50px 20px;

    & > [data-content] {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 584px;
        border-radius: var(--banner-border-radius);
        background-color: var(--background);
        z-index: 3;

        & > ul {
            padding-top: 48px;
            padding-bottom: 48px;
        }
    }

    & > [data-close] {
        z-index: 15;
    }
}

.authOverviewMobile {
    position: relative !important;
    background: var(--background);
    overflow: hidden;
    height: 100vh;

    & > [data-content] {
        min-height: 100vh;
        height: calc(100%);
        z-index: 2;

        & > ul {
            padding: 40px 28px;
            -webkit-overflow-scrolling: touch;

            header {
                max-width: 100%;
                gap: 16px;

                section {
                    gap: 4px;
                }

                h3 {
                    font-size: 24px;
                    line-height: 32px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    & > [data-close] {
        height: 36px;
        width: 36px;
        padding: 8px;

        & > div {
            height: 20px;
            width: 20px;
        }
    }
}

.__links_social__ {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 360px;
    justify-content: space-between;
    width: 100%;

    .__social_item__ {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 55px;
        padding: 10px;
        gap: 12px;
        border-radius: 100px;
        border: 1px solid var(--gray-200);
        background: var(--background-input);
        box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
        cursor: pointer;

        & > [data-img] {
            width: 24px;
            height: 24px;
            background-size: cover;
        }
    }
}

[data-mobile="true"] {
    .__links_social__ {
        max-width: 100%;
    }
}
