.auth-ul {
  overflow-block: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    display: none;
  }

  @media screen and (max-width: 768px) {
    -webkit-overflow-scrolling: touch;
  }
}
