.section-auth {
  max-width: 30.625rem;
  width: 100%;
  height: fit-content;

  transition: var(--transition);
  transition-property: height;

  & > ul {
    padding: 0 0 2.5rem;
    width: 100%;
    gap: 2rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    & > header {
      width: 100%;
      height: 4.75rem;
      border-bottom: 1px solid var(--grey-separator);
      padding: 1.5rem 0 1.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & > h3 {
        color: var(--text-primary);
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
        letter-spacing: -0.01125rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    height: 100%;
    border-radius: 0 !important;
    overflow: hidden;

    & > ul {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      gap: 1.875rem;
      position: relative;

      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
      }

      header {
        max-width: 100%;
        position: sticky;
        top: 0;
        background: transparent;
        z-index: 100;

        section {
          gap: 0.25rem;
        }

        h3 {
          font-size: 1.5rem;
          line-height: 2rem;
        }

        p {
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
      }
    }
  }
}

.__links_social__ {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  height: fit-content;
  border-radius: 2rem;
  background: var(--grey-field);
  padding: 1.25rem 1.875rem;
  margin-top: 1.25rem;

  & > p {
    color: var(--text-secondary);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01125rem;
  }

  & > .__items__ {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    justify-content: center;

    .__social_item__ {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.625rem;
      border-radius: 6.25rem;
      height: 2.75rem;
      width: 3.4375rem;
      box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
      background: var(--BG-icons);
      cursor: pointer;

      & > [data-img] {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
      }
    }
  }
}

[data-tablet="true"] {
  .__links_social__ {
    max-width: 100%;
  }
}
