.authOverlay,
.authOverviewMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out 0.01s;
    z-index: 1019;

    & > [data-content] {
        header {
            max-width: 360px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            & > [data-header-otp-code] {
                padding: 19.25px;
            }

            & > [data-header-select] {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                width: 100%;
            }

            section {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                align-self: stretch;

                & > h3,
                & > p {
                    text-align: center;
                    letter-spacing: -0.5px;
                }

                h3 {
                    color: var(--gray-900);
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 38px;
                    letter-spacing: -0.5px;
                }

                p {
                    color: var(--gray-500);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                }
            }
        }
    }
}

.authOverlay {
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    padding: 50px 20px;

    & > [data-content] {
        position: relative;
        gap: 32px;
        width: 100%;
        height: 100%;
        max-width: 584px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: var(--banner-border-radius);
        background-color: var(--background);
        z-index: 3;
        overflow: hidden;
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.authOverviewMobile {
    background: var(--background);

    & > [data-close] {
        height: 36px;
        width: 36px;
        padding: 8px;

        & > img {
            height: 20px;
            width: 20px;
        }
    }

    & > [data-content] {
        width: 100%;
        padding: 40px 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: calc(100%);
        z-index: 2;

        header {
            max-width: 100%;
            gap: 16px;

            section {
                gap: 4px;
            }

            h3 {
                font-size: 24px;
                line-height: 32px;
            }

            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
