html {
    @media screen and (max-width: 360px) {
        font-size: 75%;
    }
}

html,
body {
    overflow: hidden;
    background: var(--gray-100);
}

body {
    height: 100%;
    position: relative;
}
