@mixin glasses {
  position: absolute;
  width: 431px;
  height: 431px;
  border-radius: 300px;
  filter: blur(90px);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}

.glass-circle-1 {
  @include glasses();
  background: rgba(243, 145, 114, 0.32);
  top: -40px;
  left: 230px;
}

.glass-circle-2 {
  @include glasses();
  background: rgba(100, 220, 246, 0.32);
  top: calc(100% - 300px);
  left: -30px;
}

.glass-circle-3 {
  @include glasses();
  background: rgba(148, 249, 48, 0.26);
  top: 60%;
  left: 60%;
}

.glass-circle-4 {
  @include glasses();
  background: rgba(135, 92, 255, 0.24);
  top: 100px;
  left: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
  position: relative;
  background: #EEF0FE;
}