.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-copyright__content-cell {
  display: none !important;
}

.MuiFormControl-root {
  width: 100% !important;
  border-radius: 100px !important;
  border: 1px solid var(--gray-300, #d0d5dd) !important;
  background: var(--supporting-white, #fff) !important;
  display: flex;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.scrollHidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.Toastify__toast {
  border-radius: 12px !important;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16) !important;

  .Toastify__close-button {
    display: none !important;
  }
}
