// .ymaps-2-1-79-map-copyrights-promo {
//   display: none;
// }

.ymaps-2-1-79-gototaxi,
.ymaps-2-1-79-gototech {
  display: none !important;
}

.scrollHidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.Toastify__toast {
  border-radius: 12px !important;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16) !important;

  .Toastify__close-button {
    display: none !important;
  }
}

.vjs-control {
  &.vjs-cloudinary-button {
    &.vjs-button {
      display: none !important;
    }
  }
}

.div-alert-text {
  max-width: 14.5rem;
  z-index: -1;
  padding-block: 0.25rem;
  padding-right: 0.625rem;
  padding-left: 1.3125rem;
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0.88);
}

.ymaps3x0--marker {
  &:focus,
  &:hover {
    z-index: 10 !important;
  }
}

.circle-conic {
  width: 3rem;
  height: 3rem;
  background: var(--BG-second);
  display: flex;
}
