// .ymaps-2-1-79-map-copyrights-promo {
//   display: none;
// }

.ymaps-2-1-79-gototaxi,
.ymaps-2-1-79-gototech {
  display: none !important;
}

.scrollHidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.Toastify__toast {
  border-radius: 12px !important;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16) !important;

  .Toastify__close-button {
    display: none !important;
  }
}

.vjs-control {
  &.vjs-cloudinary-button {
    &.vjs-button {
      display: none !important;
    }
  }
}

.div-alert-text {
  max-width: 14.5rem;
  z-index: -1;
  padding-block: 0.25rem;
  padding-right: 0.625rem;
  padding-left: 1.3125rem;
  border-radius: 0.625rem;
}

.ymaps3x0--marker {
  &:focus,
  &:hover {
    z-index: 10 !important;
  }
}

.ymaps3x0--map-copyrights {
  margin: 0.25rem !important;
}

.circle-conic {
  width: 3rem;
  height: 3rem;
  background: var(--BG-second);
  display: flex;
}

.div-rainbow {
  background: linear-gradient(to right, rgba(47, 31, 161, 1), rgba(153, 24, 213, 1), rgba(255, 37, 246, 1));
  background-size: 100% 100%;
  animation: rotateBackground 8s linear infinite;
}

@keyframes rotateBackground {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

[data-testid="virtuoso-item-list"] {
  &:last-child {
    padding-bottom: 1rem;
  }
  @media screen and (max-width: 768px) {
    &:last-child {
      padding-bottom: 2rem;
    }
  }
}

.rs-pagination-btn-active {
  border-color: var(--element-accent-1) !important;
  color: var(--text-accent) !important;
  outline: none !important;
}
