// .ymaps-2-1-79-map-copyrights-promo {
//   display: none;
// }

.ymaps-2-1-79-gototaxi,
.ymaps-2-1-79-gototech {
  display: none !important;
}

.scrollHidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.Toastify__toast {
  border-radius: 12px !important;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.16) !important;

  .Toastify__close-button {
    display: none !important;
  }
}

.vjs-control {
  &.vjs-cloudinary-button {
    &.vjs-button {
      display: none !important;
    }
  }
}
