[data-article-want] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;
    align-items: center;

    & > p {
        color: var(--gray-400);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.75rem;
        letter-spacing: -0.01125rem;
    }

    & > [data-item] {
        padding: 0.25rem 0.375rem 0.25rem 0.25rem;
        background: var(--background-input);
        border: 1px solid var(--gray-300);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        height: 2rem;
        border-radius: 1rem;

        & > [data-img] {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 0.75rem;
            background-color: var(--background);
            padding: 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;

            & > img {
                height: 1rem;
                width: 1rem;
                border-radius: 0.25rem;
            }
        }

        & > p {
            color: var(--gray-800);
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.125rem;
            letter-spacing: -0.01125rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

[data-circle-gradient] {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 1.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    background: var(--background-input);
    border: none;
    outline: none;

    & > img {
        width: 1.25rem;
        height: 1.25rem;
    }
}

[data-section-modal] {
    & > [data-close] {
        top: 0 !important;
        right: -0.25rem !important;
        transform: translateX(100%);
    }
}

[data-mobile="true"] {
    [data-section-modal] {
        & > [data-close] {
            top: 0rem !important;
            right: 0rem !important;
            transform: translateX(0);
            border: none !important;
            background: transparent;
        }
    }
}

[data-blur-modal] {
    background: rgba(0, 0, 0, 0.72);
    backdrop-filter: blur(0.2rem);
}
