.ymaps-2-1-79-map-copyrights-promo{
  display: none;
}

.ymaps-2-1-79-copyright__content-cell{
  display: none !important;
}

.MuiFormControl-root{
  width: 100% !important;
  border-radius: 100px !important;
  border: 1px solid var(--gray-300, #D0D5DD) !important;
  background: var(--supporting-white, #FFF) !important;
  display: flex;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}