* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;

    [data-loading-image="true"] {
        border-radius: 50%;
        animation: loading 11s infinite;
    }
}

html {
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;
    background: var(--background);
    overflow: hidden;
}

button {
    cursor: pointer;
}

ul,
form,
aside,
textarea,
section,
article,
div {
    list-style: none;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

input,
textarea,
select {
    background: var(--background-input) !important;
    @media screen and (max-width: 768px) {
        font-size: 14px;
        font-family: inherit;
    }
    &:focus {
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0px;
    font-style: normal;
}

:root {
    --scroll-behavior: auto;
    --desktop: 1440px;
    --tablet: 834px;
    --mobile: 375px;
    --background: #f9fafb;
    --background-input: #fff;
    --color-text: #000000;
    --banner-border-radius: 32px;
    --glass-bg-color: rgba(255, 255, 255, 0.44);
    --glass-bg-color-1: rgba(255, 255, 255, 0.44);
    --glass-bg-color-2: rgba(248, 249, 255, 0.55);
    --glass-bg-color-3: rgba(255, 255, 255, 0.6);
    --opacity-white-hard: rgba(255, 255, 255, 0.2);
    --opacity-white-hard-1: rgba(255, 255, 255, 0.1);
    --stroke-1: #fff;
    --button-default-background: #fff;
    --transition: all 0.3s ease-in-out 0.01s;

    //Color Gary
    --gray-900: #101828;
    --gray-800: #1d2939;
    --gray-700: #344054;
    --gray-600: #475467;
    --gray-500: #667085;
    --gray-400: #98a2b3;
    --gray-300: #d0d5dd;
    --gray-200: #eaecf0;
    --gray-100: #f2f4f7;
    --gray-50: #f9fafb;

    //Color Primary
    --primary-900: #14112c;
    --primary-800: #292258;
    --primary-700: #3d3483;
    --primary-600: #5245af;
    --primary-500: #6656db;
    --primary-400: #8578e2;
    --primary-300: #b2aaed;
    --primary-200: #e0ddf8;
    --primary-100: #f0eefb;
    --primary-50: #f9f5ff;

    //Color Warning
    --warning-900: #7a2e0e;
    --warning-800: #93370d;
    --warning-700: #b54708;
    --warning-600: #dc6803;
    --warning-500: #f79009;
    --warning-400: #fdb022;
    --warning-300: #fec84b;
    --warning-200: #fedf89;
    --warning-100: #fef0c7;
    --warning-50: #fffaeb;

    //Color Error
    --error-900: #7a271a;
    --error-800: #912018;
    --error-700: #b42318;
    --error-600: #d92d20;
    --error-500: #f04438;
    --error-400: #f97066;
    --error-300: #fda29b;
    --error-200: #fecdca;
    --error-100: #fee4e2;
    --error-50: #fef3f2;

    //Color Success
    --success-900: #054f31;
    --success-800: #05603a;
    --success-700: #027a48;
    --success-600: #039855;
    --success-500: #12b76a;
    --success-400: #32d583;
    --success-300: #6ce9a6;
    --success-200: #a6f4c5;
    --success-100: #d1fadf;
    --success-50: #ecfdf3;

    //Gradient
    --gradient-offer: linear-gradient(180deg, #8378dc 0%, #a26be8 100%);
    --gradient-request: linear-gradient(180deg, #289ddf 0%, #3cb7fd 100%);
    --SOS-CARD: linear-gradient(180deg, #ff8da2 0%, #eb3f5e 49.32%);
    --gradient-primary: linear-gradient(180deg, #ada2fc 0%, #6e5cf0 100%);
    --gradient-optional-1: linear-gradient(180deg, #ff9e88 0%, #ee4e29 100%);
    --gradient-optional-1-reverb: linear-gradient(
        180deg,
        #ee4e29 0%,
        #ff9e88 100%
    );
    --gradient-optional-2: linear-gradient(180deg, #8ccfff 0%, #3aaafa 100%);
    --gradient-optional-3: linear-gradient(180deg, #ffa8c7 0%, #ee4381 100%);
    --gradient-barter: linear-gradient(
        90deg,
        rgba(148, 125, 231, 0.65) 0%,
        rgba(191, 120, 196, 0.65) 100%
    );
    --gradient-barter-red: linear-gradient(
        90deg,
        rgba(219, 65, 65, 0.65) 0%,
        rgba(191, 120, 196, 0.65) 100%
    );

    //Permanent
    --supporting-white: #ffffff;
}

[data-theme="dark"] {
    --desktop: 1440px;
    --tablet: 834px;
    --mobile: 375px;
    --background: #232738;
    --background-input: #2c3041;
    --color-text: #fff;
    --banner-border-radius: 32px;
    --glass-bg-color: rgba(28, 31, 55, 0.67);
    --glass-bg-color-1: rgba(28, 31, 55, 0.67);
    --glass-bg-color-2: rgba(28, 31, 55, 0.24);
    --glass-bg-color-3: rgba(57, 61, 92, 0.24);
    --opacity-white-hard: rgba(255, 255, 255, 0.2);
    --stroke-1: rgba(54, 57, 79, 0.42);
    --button-default-background: #232738;
    --glass-bg-color-glass-bg-color: rgba(28, 31, 55, 0.67);

    --gray-900: #fff;
    --gray-800: #e8e8ea;
    --gray-700: #d1d2d6;
    --gray-600: #a3a5ac;
    --gray-500: #888a93;
    --gray-400: #3f4251;
    --gray-300: #5a5d6a;
    --gray-200: #3f4251;
    --gray-100: #2c3041;
    --gray-50: #232738;

    //Color Primary
    --primary-900: #14112c;
    --primary-800: #292258;
    --primary-700: #3d3483;
    --primary-600: #5245af;
    --primary-500: #6656db;
    --primary-400: #8578e2;
    --primary-300: #b2aaed;
    --primary-200: #e0ddf8;
    --primary-100: #f0eefb;
    --primary-50: #f9f5ff;

    //Color Warning
    --warning-900: #7a2e0e;
    --warning-800: #93370d;
    --warning-700: #b54708;
    --warning-600: #dc6803;
    --warning-500: #f79009;
    --warning-400: #fdb022;
    --warning-300: #fec84b;
    --warning-200: #fedf89;
    --warning-100: #fef0c7;
    --warning-50: #fffaeb;

    //Color Error
    --error-900: #7a271a;
    --error-800: #912018;
    --error-700: #b42318;
    --error-600: #d92d20;
    --error-500: #f04438;
    --error-400: #f97066;
    --error-300: #fda29b;
    --error-200: #fecdca;
    --error-100: #fee4e2;
    --error-50: #fef3f2;

    //Color Success
    --success-900: #054f31;
    --success-800: #05603a;
    --success-700: #027a48;
    --success-600: #039855;
    --success-500: #12b76a;
    --success-400: #32d583;
    --success-300: #6ce9a6;
    --success-200: #a6f4c5;
    --success-100: #d1fadf;
    --success-50: #ecfdf3;

    //Gradient
    --gradient-primary: linear-gradient(180deg, #ada2fc 0%, #6e5cf0 100%);
    --gradient-optional-1: linear-gradient(180deg, #ff9e88 0%, #ee4e29 100%);
    --gradient-optional-2: linear-gradient(180deg, #8ccfff 0%, #3aaafa 100%);
    --gradient-optional-3: linear-gradient(180deg, #ffa8c7 0%, #ee4381 100%);

    //Permanent
    --supporting-white: #ffffff;

    .ymaps-2-1-79-ground-pane {
        filter: invert(1);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}

$cursors: "pointer", "default";
.cursor {
    @each $cursor in $cursors {
        &-#{$cursor} {
            cursor: #{$cursor};
        }
    }
}

.m {
    @for $m from 1 through 14 {
        &-#{$m} {
            margin: #{$m * 4}px;
        }
    }
}

.m-top {
    @for $m from 1 through 14 {
        &-#{$m} {
            margin-top: #{$m * 4}px;
        }
    }
}

.m-right {
    @for $m from 1 through 14 {
        &-#{$m} {
            margin-right: #{$m * 4}px;
        }
    }
}

.m-bottom {
    @for $m from 1 through 14 {
        &-#{$m} {
            margin-bottom: #{$m * 4}px;
        }
    }
}

.m-left {
    @for $m from 1 through 14 {
        &-#{$m} {
            margin-left: #{$m * 4}px;
        }
    }
}

.p {
    @for $p from 1 through 14 {
        &-#{$p} {
            padding: #{$p * 4}px;
        }
    }
}

.p-top {
    @for $p from 1 through 14 {
        &-#{$p} {
            padding-top: #{$p * 4}px;
        }
    }
}

.p-right {
    @for $p from 1 through 14 {
        &-#{$p} {
            padding-right: #{$p * 4}px;
        }
    }
}

.p-bottom {
    @for $p from 1 through 14 {
        &-#{$p} {
            padding-bottom: #{$p * 4}px;
        }
    }
}

.p-left {
    @for $p from 1 through 14 {
        &-#{$p} {
            padding-left: #{$p * 4}px;
        }
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.wrapper-fixed {
    position: fixed;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, 0);

    &[data-visible="true"] {
        opacity: 1;
        visibility: visible;
    }
}
