* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
}

body {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  touch-action: manipulation;
}

ul {
  list-style: none;
}

:root {
  --desktop: 1440px;
  --tablet: 834px;
  --mobile: 375px;
  --background: #fff;
  --color-text: #000000;
  --banner-border-radius: 32px;
  --glass-bg-color: rgba(255, 255, 255, 0.44);
  --glass-bg-color-1: rgba(255, 255, 255, 0.44);
  --glass-bg-color-2: rgba(248, 249, 255, 0.55);
  --glass-bg-color-3: rgba(255, 255, 255, 0.60);
  --opacity-white-hard: rgba(255, 255, 255, 0.20);

  //Color Gary
  --gray-900: #101828;
  --gray-800: #1D2939;
  --gray-700: #344054;
  --gray-600: #475467;
  --gray-500: #667085;
  --gray-400: #98A2B3;
  --gray-300: #D0D5DD;
  --gray-200: #EAECF0;
  --gray-100: #F2F4F7;
  --gray-50: #F9FAFB;

  //Color Primary
  --primary-900: #14112C;
  --primary-800: #292258;
  --primary-700: #3D3483;
  --primary-600: #5245AF;
  --primary-500: #6656DB;
  --primary-400: #8578E2;
  --primary-300: #B2AAED;
  --primary-200: #E0DDF8;
  --primary-100: #F0EEFB;
  --primary-50: #F9F5FF;

  //Color Warning
  --warning-900: #7A2E0E;
  --warning-800: #93370D;
  --warning-700: #B54708;
  --warning-600: #DC6803;
  --warning-500: #F79009;
  --warning-400: #FDB022;
  --warning-300: #FEC84B;
  --warning-200: #FEDF89;
  --warning-100: #FEF0C7;
  --warning-50: #FFFAEB;

  //Color Error
  --error-900: #7A271A;
  --error-800: #912018;
  --error-700: #B42318;
  --error-600: #D92D20;
  --error-500: #F04438;
  --error-400: #F97066;
  --error-300: #FDA29B;
  --error-200: #FECDCA;
  --error-100: #FEE4E2;
  --error-50: #FEF3F2;

  //Color Success
  --success-900: #054F31;
  --success-800: #05603A;
  --success-700: #027A48;
  --success-600: #039855;
  --success-500: #12B76A;
  --success-400: #32D583;
  --success-300: #6CE9A6;
  --success-200: #A6F4C5;
  --success-100: #D1FADF;
  --success-50: #ECFDF3;

  //Gradient
  --gradient-primary: linear-gradient(180deg, #ADA2FC 0%, #6E5CF0 100%);
  --gradient-optional-1: linear-gradient(180deg, #FF9E88 0%, #EE4E29 100%);
  --gradient-optional-2: linear-gradient(180deg, #8CCFFF 0%, #3AAAFA 100%);
  --gradient-optional-3: linear-gradient(180deg, #FFA8C7 0%, #EE4381 100%);

  //Permanent
  --supporting-white: #ffffff;
}

[data-theme="dark"] {
  --background: #000;
  --color-text: #ffffff;
}