@import "./globals.scss";
@import "./root-variables-distances.scss";
@import "./root.scss";
@import "./custom-element.scss";
@import "./body.scss";
@import "./toast.scss";
@import "./auth-modal.scss";
@import "./loading.scss";
@import "./yandex/yandex-balloon.scss";
@import "./yandex/y.scss";
@import "./data-div.scss";
@import "./profile.scss";
