@import "./globals.scss";
@import "./root-variables-distances.scss";
@import "./root.scss";
@import "./custom-element.scss";
@import "./text-tags.scss";
@import "./body.scss";
@import "./toast.scss";
@import "./auth-modal.scss";
@import "./loading.scss";
//yandex--------------------------------------------------

@import "./yandex/yandex-balloon.scss";
@import "./yandex/alert-balloon.scss";
@import "./yandex/discussion-balloon.scss";
@import "./yandex/offer-balloon.scss";
@import "./yandex/request-balloon.scss";

//----------------------------------------------------------

@import "./messages.scss";
@import "./data-skeleton.scss";
@import "./data-div.scss";
@import "./profile.scss";
