.containerLoading {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: var(--gray-900);
    }
}

@keyframes move_one {
    0% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: -40px;
        left: 230px;
    }
}

@keyframes move_two {
    0% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: calc(100% - 300px);
        left: -30px;
    }
}

@keyframes move_three {
    0% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 60%;
        left: 60%;
    }
}

@keyframes move_four {
    0% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 100px;
        left: 100%;
    }
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
