.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent;
  z-index: 20;
}

.profileLayout {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent;
  padding: calc(var(--height-header-nav-bar) + 1.5rem) 0 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 4;

  .container {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: calc(33.33% - 0.75rem) calc(66.66% - 0.75rem);
    gap: 1.5rem 1.5rem;
    max-width: 74.625rem;
    width: 100%;
    z-index: 2;
  }

  @media screen and (max-width: 850px) {
    padding: 5.625rem 0 1.25rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 28px;
    }
  }

  @media screen and (max-width: 746px) {
    padding: 0;
  }
}

@media screen and (max-width: 760px) {
  .profileLayout {
    position: relative;
    padding: 0;
  }
}

.containerProfile {
  width: 100%;
  background: transparent;

  @media screen and (max-width: 760px) {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.containerMobile {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-block: calc(var(--height-mobile-header) + 0.625rem) calc(var(--height-mobile-footer-nav) + 1rem);
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
