.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh);
    width: 100%;
    overflow: hidden;
    background: transparent;

    opacity: 1;
    visibility: visible;

    transition: opacity, visibility var(--transition);
}

[data-mobile="true"] {
    .main {
        &[data-is-modal-auth="true"] {
            opacity: 0;
            visibility: hidden;
            display: none;
        }
    }
}

//PROFILE LAYOUT

.profileLayout {
    height: calc(100vh);
    width: 100%;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(5px);

    .page {
        height: calc(100%);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: calc(77px + 24px) 24px 24px;
        background: transparent;

        opacity: 1;
        visibility: visible;

        transition: opacity, visibility var(--transition);

        .container {
            height: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: calc(33.33% - 12px) calc(66.66% - 12px);
            gap: 24px 24px;
            max-width: 1194px;
            width: 100%;
            z-index: 2;
        }

        @media screen and (max-width: 1438px) {
            .container {
                grid-template-columns: calc(380px - 12px) calc(100% - 380px - 12px);
            }
        }

        @media screen and (max-width: 850px) {
            padding: 90px 24px 24px;
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .container {
                grid-template-columns: repeat(1, 1fr);
                padding-bottom: 28px;
            }
        }
    }
}

[data-mobile="true"] {
    .profileLayout {
        position: relative;

        &[data-is-modal-auth="true"] {
            opacity: 0;
            visibility: hidden;
            display: none;
        }
    }
}

.containerProfile {
    width: 100%;
    // height: calc(100vh - 74px - 24px - 24px);
    // display: grid;
    // justify-content: center;
    // align-items: center;
    // gap: 24px 24px;
    // grid-template-columns: calc(320px) calc(100% - 320px - 400px - 48px) calc(400px);
    background: transparent;
}

.containerMobile {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 20px 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

[data-mobile="true"] {
    .containerProfile {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .profileLayout {
        .page {
            padding: 0;
        }
    }
}
