.__container-profile-page__ {
  padding-top: 1.5rem;
  height: calc(100vh - var(--height-header-nav-bar));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: -1.5rem !important;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    display: none !important;
    height: 0px;
    width: 0px;
  }
}

[data-mobile="true"] {
  .__container-profile-page__ {
    margin: 0;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    padding-block: calc(var(--height-mobile-header) + 2.5rem) calc(3.375rem + 1rem);
    padding-inline: 1rem;
    gap: 0.625rem;

    ul {
      margin: 0;
    }
  }
}

.__container-offer-page__ {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1rem;
}

[data-mobile="false"] {
  .__container-offer-page__ {
    height: calc(100vh - 4.8125rem - 1.5rem);
  }
}

[data-mobile="true"] {
  .__container-offer-page__ {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    padding: 0.75rem;
    padding-bottom: 5rem;
    padding-top: calc(var(--height-mobile-header) + 0.625rem);
  }
}
