.__container-profile-page__ {
    margin: -1.5rem calc(1.5rem + 25rem) 0 calc(20rem + 1.5rem);
    padding-top: 1.5rem;
    height: calc(100vh - 4.875rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        display: none;
    }
}

[data-mobile="true"] {
    .__container-profile-page__ {
        margin: 0;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        padding: 0.75rem 0.75rem 5rem;

        ul {
            margin: 0;
        }
    }
}

.__container-offer-page__ {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1rem;
}

[data-mobile="false"] {
    .__container-offer-page__ {
        margin: 0 calc(1.5rem + 400px) 0 calc(320px + 1.5rem);
        height: calc(100vh - 4.8125rem - 1.5rem);
    }
}

[data-mobile="true"] {
    .__container-offer-page__ {
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        padding: 0.75rem;
        padding-bottom: 5rem;
    }
}
