:root {
  --width-left-aside-profile: 17.5rem;
  --width-right-services: 25rem;
  --height-header-nav-bar: 4.875rem;

  //
  --height-standard-header-modal: 4.75rem;
}

[data-mobile="true"] {
  :root {
    --height-standard-header-modal: 4.25rem;
  }
}
