:root {
    //text
    --text-primary: #101828;
    --text-secondary: #667085;
    --text-disabled: #98a2b3;
    --text-accent: #6b5ae7;
    //TODO
    --primary-400: var(--text-accent);
    --primary-500: var(--text-accent);
    //TODO
    --text-error: #ef4424;
    --text-button: #ffffff;
    --text-button-60: rgba(#ffffff, 0.6);
    --text-tab: #ffffff;

    //element
    --element-accent-1: var(--text-accent);
    --element-accent-2: var(--text-primary);
    --element-grey: var(--text-secondary);
    --element-grey-light: var(--text-disabled);
    --element-error: var(--text-error);
    --element-white: var(--text-button);
    --element-white-20: rgba(#ffffff, 0.2);

    //background
    --BG-first: #eff1f4;
    --BG-second: #ffffff;
    --BG-icons: #ffffff;
    --BG-filter: #101828;

    //gray
    --grey-separator: #c2cbdc;
    --grey-stroke: #d0d5dd;
    --grey-stroke-light: #eaecf0;
    --grey-filed: #f2f4f7;

    //more
    --more-purple-gradient: linear-gradient(134deg, #d571f8 7.48%, #6b5ae7 81.25%);
    --more-red-gradient: linear-gradient(101deg, #f75659 0%, #e54673 100%);
    --more-orange: #fea032;
    --more-field: #12b76a;

    //button
    --btn-main-default: #6b5ae7;
    --btn-main-hover: #8170fd;
    --btn-second-default: #f2f4f7;
    --btn-second-hover: #e8eaed;
}

[data-theme="dark"] {
    //text
    --text-primary: #eaecf0;
    --text-secondary: #8e98ad;
    --text-disabled: #71798a;
    --text-accent: #a397ff;
    --text-error: #dc4e33;
    --text-button: #ffffff;
    --text-button-60: rgba(#ffffff, 0.6);
    --text-tab: #101828;

    //element
    --element-accent-1: #8d7eff;
    --element-accent-2: #c5cad2;
    --element-grey: var(--text-secondary);
    --element-grey-light: var(--text-disabled);
    --element-error: var(--text-error);
    --element-white: var(--text-button);
    --element-white-20: rgba(#ffffff, 0.2);

    //background
    --BG-first: #202020;
    --BG-second: #2c3139;
    --BG-icons: #5d6674;
    --BG-filter: #8d7eff;

    //gray
    --grey-separator: #474c54;
    --grey-stroke: #525762;
    --grey-stroke-light: #4f5664;
    --grey-filed: #3f4652;

    //more
    --more-purple-gradient: linear-gradient(134deg, #de92fa 7.48%, #8d7eff 81.25%);
    --more-red-gradient: linear-gradient(101deg, #d06568 0%, #cb446d 100%);
    --more-orange: #f19830;
    --more-field: #109f5c;

    //button
    --btn-main-default: #8d7eff;
    --btn-main-hover: #a195ff;
    --btn-second-default: #3f4652;
    --btn-second-hover: #4d5664;
}
