.error-p {
    width: 100%;
    text-align: start;
    color: var(--error-600);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: -0.5px;
}
