.error-p {
    width: 100%;
    text-align: start;
    color: var(--error-600);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.5px;
}
