.Toastify {
    .Toastify__toast-container {
        width: 100%;
        max-width: 22.5rem;
        padding: 0 !important;

        .Toastify__toast {
            max-width: 22.5rem;
            width: 100%;
            border-radius: 1rem !important;
            background: var(--primary-900) !important;
            border: none !important;

            & > .Toastify__toast-body {
                & > div {
                    color: var(--color-text);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                }
            }
        }
    }

    .toast-data-render {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        & > [data-content] {
            width: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.25rem;
            width: 100%;

            &.message {
                flex-direction: column;
                align-items: flex-start;
                & > [data-user="true"] {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    gap: 0.25rem;

                    & > img {
                        height: 1.875rem;
                        width: 1.875rem;
                        border-radius: 0.5rem;
                        border: 1px solid var(--stroke-1);
                    }
                }
            }

            i,
            & > p {
                font-style: normal;
                font-weight: 400;
                letter-spacing: -0.2px;
            }
            & > p {
                font-size: 1rem;
                color: var(--supporting-white);
            }
            i {
                font-size: 0.875rem;
                font-weight: 500;
                color: var(--supporting-white);
            }

            span {
                color: var(--error-500);
            }
        }

        & > [data-buttons] {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;
            width: fit-content;

            & > [data-button-default] {
                height: 2rem;
            }

            & > [data-circle-gradient] {
                height: 2rem;
                width: 2rem;

                & > img {
                    height: 1.25rem;
                    width: 1.25rem;
                }
            }
        }

        &[data-mobile="true"] {
            flex-direction: column;
            gap: 0.5rem;
            & > [data-content] {
                & > i,
                & > p {
                    font-size: 0.75rem;
                }
            }
            & > [data-buttons] {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }

    .message-notifications-toast {
        width: 100%;
        position: relative;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        & > [data-close] {
            right: -1rem !important;
            top: -1rem !important;
            background: transparent;
            border: none !important;
            box-shadow: none;
            z-index: 5;
        }

        &.barter-toast {
            gap: 0.25rem;

            & > h4 {
                color: var(--supporting-white);
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5rem;
                letter-spacing: -0.02125rem;
            }

            & > p {
                color: var(--supporting-white);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.25rem;
                letter-spacing: -0.02125rem;
            }

            & > button {
                max-width: min-content;
            }
        }

        & > section {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            align-items: flex-start;

            & > article {
                width: 100%;
                display: flex;
                align-items: flex-start;
                gap: 0.5rem;

                & > img {
                    width: 2.75rem;
                    height: 2.75rem;
                    border-radius: 0.76388rem;
                }

                & > h4 {
                    color: var(--supporting-white);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5rem;
                    letter-spacing: -0.01125rem;
                }
            }

            & > p {
                color: var(--supporting-white);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.25rem;
                letter-spacing: -0.01125rem;
            }
        }

        & > [data-footer] {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            & > a {
                background: var(--primary-500);
                display: flex;
                padding: 0.375rem 1rem;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: 2.25rem;
                border-radius: 1.125rem;
                border: none;
                color: var(--supporting-white);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25rem;
                letter-spacing: -0.01125rem;
                white-space: nowrap;
            }
        }
    }
}

[data-theme="dark"] {
    .Toastify {
        .Toastify__toast-container {
            .toast-data-render {
                & > [data-buttons] {
                    & > [data-circle-gradient] {
                        & > img {
                            // filter: invert(1);
                        }
                    }
                }
            }
        }

        .message-notifications-toast {
            & > [data-close] {
                img {
                    filter: invert(1);
                }
            }
        }
    }

    .Toastify__toast {
        background: var(--primary-800) !important;
    }
}
