.Toastify {
    .Toastify__toast-container {
        .Toastify__toast {
            border-radius: 22px !important;
            background: var(--glass-bg-color-1) !important;
            backdrop-filter: blur(4px) !important;
            border: 2px solid var(--primary-500) !important;
            box-shadow: 0px 8px 32px 0px rgba(152, 125, 232, 0.37) !important;

            & > .Toastify__toast-body {
                & > div {
                    color: var(--color-text);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                }
            }

            & > div {
                // &[role="progressbar"] {
                //     display: none;
                // }
            }
        }
    }
}
