.Toastify {
    .Toastify__toast-container {
        max-width: 786px;
        padding: 0 20px;
        width: 100%;

        .Toastify__toast {
            border-radius: 22px !important;
            background: var(--glass-bg-color-1) !important;
            backdrop-filter: blur(4px) !important;
            border: 2px solid var(--primary-500) !important;
            box-shadow: 0px 8px 32px 0px rgba(152, 125, 232, 0.37) !important;

            &.toast-success {
                background: var(--success-500) !important;
                border: 2px solid var(--stroke-1) !important;
            }
            &.toast-error {
                background: var(--gradient-barter-red) !important;
                border: 2px solid var(--stroke-1) !important;
            }
            &.toast-warning {
                background: var(--gradient-optional-1-reverb) !important;
                border: 2px solid var(--stroke-1) !important;
            }

            &.toast-barter {
                background: var(--gradient-barter) !important;
                border: 2px solid var(--stroke-1) !important;
            }

            &.toast-message {
                background: var(--primary-500) !important;
                border: 2px solid var(--stroke-1) !important;
            }

            & > .Toastify__toast-body {
                & > div {
                    color: var(--color-text);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                }
            }
        }
    }
}
