.ymaps-2-1-79-balloon {
    border: none !important;
    width: 298px;
    height: auto;
    z-index: 30;
}

.ymaps-2-1-79-balloon__layout {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 12px;
    padding-right: 0px;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: var(--glass-bg-color-1) !important;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    border: none !important;
}

[data-theme="dark"] {
    .ymaps-2-1-79-balloon__layout {
        box-shadow: none !important;
        background: var(--glass-bg-color-glass-bg-color) !important;
    }
}

.ymaps-2-1-79-balloon__tail {
    display: none !important;
}

.ymaps-2-1-79-balloon__content {
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-right: 22px !important;
}

.ymaps-2-1-79-balloon__close {
    display: none !important;
}

////////////////////////////////////////////////////////

.maps-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
}

.maps-service-title-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: auto;
}

.maps-photo-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    z-index: 1;
}

.maps-badge-rating {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    display: inline-flex;
    padding: 2px 4.5px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 100px;
    background: var(--primary-500);
    z-index: 2;

    p {
        color: var(--supporting-white);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.5px;
    }
}

.maps-avatar {
    object-fit: cover;
    width: 56px;
    height: 56px;
    border-radius: 12px;
}

.maps-about-content {
    max-width: 206px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    h3,
    p,
    a {
        letter-spacing: -0.1px;
        font-style: normal;
    }

    h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
    }
    a {
        color: var(--gray-500);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }
    p {
        color: var(--gray-500);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        max-height: calc(18px * 3);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}

.maps-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.maps-button-circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid transparent !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;
    background:
        var(--gradient-optional-1-reverb) padding-box,
        var(--gradient-optional-1) border-box !important;
    backdrop-filter: saturate(2) !important;
}

[data-theme="dark"] {
    .maps-button-circle {
        background:
            var(--gradient-optional-1-reverb) padding-box,
            var(--gradient-optional-1) border-box !important;
        backdrop-filter: saturate(0.3) !important;
    }
}
