.container {
    width: 100%;
    border-radius: 33px;
    background: var(--background-input);
    position: relative;
    // background: var(--glass-bg-color-1);
    // backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-bottom: 14px;
    cursor: pointer;

    h3,
    h4 {
        color: var(--gray-700);
        font-style: normal;
        letter-spacing: -0.2px;
    }

    & > header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding-left: calc(6px + 58px + 6px);
        padding-right: 6px;

        height: calc(6px + 6px + 58px);

        &[data-provider="discussion"] {
            justify-content: center;
            padding: 6px calc(12px + 24px + 6px) 6px calc(6px + 58px + 6px);
        }

        .typeImage {
            position: absolute;
            left: 6px;
            top: 6px;

            width: 58px;
            height: 58px;
            border-radius: 29px;
            object-fit: cover;
            aspect-ratio: 1/1;
            box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.28);
        }

        & > h3 {
            width: 100%;
            text-align: start;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }

        & > button {
            height: 36px;
            max-width: 180px;
            width: 100%;
            border-radius: 18px;
            border: none !important;
            outline: none !important;
            padding: 6px 12px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            & > span {
                color: var(--supporting-white);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.1px;
                white-space: nowrap;
            }

            &[data-help="true"] {
                background: var(--success-500);
            }
        }
    }

    & > section {
        padding: 0 12px 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        & > [data-profile] {
            display: flex;
            flex-direction: row;
            gap: 8px;

            & > [data-circle] {
                width: 44px;
                border-radius: 44px;
                aspect-ratio: 1/1;
                background-color: #fff;
                position: relative;
                cursor: pointer;

                & > [data-r] {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    position: relative;
                    -webkit-animation: spin 31s linear infinite;
                    -moz-animation: spin 31s linear infinite;
                    animation: spin 31s linear infinite;
                    background: var(--rainbow-linear-gradient);
                    overflow: hidden;
                    z-index: 1;
                    & > [data-l] {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: absolute;
                        background-color: transparent;
                        z-index: 2;

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        & > [data-c] {
                            height: 3px;
                            width: 3px;
                            background-color: #fff;
                            border-radius: 0 1px 1px 0;
                        }
                    }
                }

                & > [data-image="avatar"] {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    width: calc(100% - 6px);
                    height: calc(100% - 6px);
                    z-index: 5;
                    background-color: var(--stroke-1);

                    &[data-is-length="false"] {
                        width: calc(100%) !important;
                        height: calc(100%) !important;
                    }
                }
            }

            & > [data-info] {
                display: flex;
                flex-direction: column;
                width: calc(100% - 44px - 8px);

                & > [data-geo] {
                    p {
                        color: var(--color-text);
                    }
                }
            }
        }

        & > h4 {
            // padding-left: 50px;
            // padding-right: 14px;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

[data-theme="dark"] {
    .container {
        box-shadow: none;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
