.container {
    width: 100%;
    border-radius: 2rem;
    background: var(--background-input);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 0.875rem;
    cursor: pointer;

    h3,
    h4 {
        color: var(--gray-700);
        font-style: normal;
        letter-spacing: -0.2px;

        & > span {
            color: var(--gray-400);
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 1.125rem;
        }
    }

    & > header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-left: calc(0.375rem + 3.625rem + 0.375rem);
        padding-right: 0.375rem;

        height: calc(0.375rem + 0.375rem + 3.625rem);

        &[data-provider="discussion"] {
            justify-content: center;
            padding: 0.375rem calc(0.75rem + 1.5rem + 0.375rem) 0.375rem calc(0.375rem + 3.625rem + 0.375rem);
        }

        .typeImage {
            position: absolute;
            left: 0.375rem;
            top: 0.375rem;

            width: 3.625rem;
            height: 3.625rem;
            border-radius: 1.8125rem;
            object-fit: cover;
            aspect-ratio: 1/1;
            box-shadow: 0px 1rem 0.75rem 0px rgba(0, 0, 0, 0.28);
        }

        & > h3 {
            width: 100%;
            text-align: start;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.5rem;
        }

        & > button {
            height: 2.25rem;
            max-width: 11.25rem;
            width: 100%;
            border-radius: 1.125rem;
            border: none !important;
            outline: none !important;
            padding: 0.375rem 0.75rem;
            box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);

            & > span {
                color: var(--supporting-white);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.25rem;
                letter-spacing: -0.1px;
                white-space: nowrap;
            }

            &[data-help="true"] {
                background: var(--success-500);
            }
        }
    }

    & > section {
        padding: 0 0.75rem 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;

        & > [data-profile] {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            & > [data-circle] {
                width: 2.75rem;
                border-radius: 2.75rem;
                aspect-ratio: 1/1;
                background-color: #fff;
                position: relative;
                cursor: pointer;

                & > [data-r] {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    position: relative;
                    background: #00ffff;
                    overflow: hidden;
                    z-index: 1;
                }

                & > [data-image="avatar"] {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    width: calc(100% - 0.375rem);
                    height: calc(100% - 0.375rem);
                    z-index: 5;
                    background-color: var(--background);
                    border: 2px solid var(--background-input);
                }

                &[data-not-image="true"] {
                    & > [data-r] {
                        display: none;
                    }

                    & > [data-image="avatar"] {
                        width: calc(100%);
                        height: calc(100%);
                        border: none;
                    }
                }
            }

            & > [data-info] {
                display: flex;
                flex-direction: column;
                width: calc(100% - 2.75rem - 0.5rem);

                & > [data-geo] {
                    p {
                        color: var(--color-text);
                    }
                }
            }
        }

        & > h4 {
            color: var(--gray-900);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.01125rem;
        }
    }
}

[data-theme="dark"] {
    .container {
        box-shadow: none;
    }
}
