.container {
    position: relative;
    width: 100%;
    border-radius: 33px;
    background: var(--glass-bg-color-1);
    box-shadow: 0px 4px 24px 0px rgba(128, 136, 143, 0.13);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-bottom: 14px;
    cursor: pointer;

    h3,
    h4 {
        color: var(--gray-700);
        font-style: normal;
        letter-spacing: -0.2px;
    }

    & > header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding-left: calc(6px + 58px + 6px);
        padding-right: 6px;

        height: calc(6px + 6px + 58px);

        &[data-provider="discussion"] {
            justify-content: flex-end;
            padding: 6px calc(12px + 24px + 6px) 6px calc(6px + 58px + 6px);
        }

        .typeImage {
            position: absolute;
            left: 6px;
            top: 6px;

            width: 58px;
            height: 58px;
            border-radius: 29px;
            object-fit: cover;
            aspect-ratio: 1/1;
            box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.28);
        }

        & > h3 {
            width: 100%;
            text-align: start;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }

        & > button {
            height: 36px;
            max-width: 180px;
            width: 100%;
            border-radius: 18px;
            border: none !important;
            outline: none !important;
            padding: 6px 12px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            & > span {
                color: var(--supporting-white);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.1px;
                white-space: nowrap;
            }

            &[data-help="true"] {
                background: var(--success-500);
            }
        }
    }

    & > section {
        width: 100%;
        & > h4 {
            padding-left: 50px;
            padding-right: 14px;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
        }
    }
}

[data-theme="dark"] {
    .container {
        box-shadow: none;
    }
}
