.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 26;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0.01s;

    &.active{
        opacity: 1;
        visibility: visible;
    }
}

[data-theme='dark']{
    .wrapper{
        backdrop-filter: blur(5px);
    }
}

.container{
    position: relative;
    max-width: 772px;
    width: 100%;
    max-height: calc(100% - 215px);
    height: 100%;
    border-radius: 32px;
    background: var(--background);
    z-index: 27;
    overflow: hidden;

    &>ul{
        form{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 46px;
            overflow-y: auto;
            padding: 77px 46px 46px;
        }
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}

.updateProfileTitle{
    position: absolute;
    transform: translateX(-50%);
    top: 21px;
    left: 50%;
    white-space: nowrap;
    color: var(--gray-900);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.2px;
    z-index: 20;
}