//HEADER

.containerHeader {
    width: calc(100%);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .nameAndRating {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            color: var(--gray-900);
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            letter-spacing: -0.3px;
        }

        .containerRate {
            padding: 0.25rem 0.5rem;
            display: flex;
            display: inline-flex;
            align-items: center;
            gap: 0.125rem;
            border-radius: 100px;
            border: 0.0625rem solid var(--primary-200);
            background: var(--primary-100);

            a {
                color: var(--primary-500);
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 600;
                letter-spacing: -0.3px;
            }

            .rateGap {
                gap: 0.125rem;
            }
        }
    }

    .containerCanService {
        width: 100%;
        display: inline-flex;
        gap: 0.375rem;
        align-items: flex-start;

        p {
            color: var(--gray-400);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.125rem;
            letter-spacing: -0.3px;
        }

        .textCan {
            color: var(--gray-900);
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }
}

[data-theme="dark"] {
    .containerRate {
        border-color: var(--gray-500) !important;
        background: var(--gray-100) !important;
    }
}

//containerPhotos

.containerPhotos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    & > [data-photo="true"] {
        padding: 0.3125rem;
        cursor: zoom-in;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        & > img {
            border-radius: 0.75rem;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }
    }
}

//containerButtons

.containerButtons {
    position: relative;
    width: 100%;
    padding-left: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-self: flex-end;
    gap: 0.625rem;

    padding-right: calc(0.75rem + 2rem + 0.625rem);

    .buttonFill {
        height: 2rem;
        z-index: 2;

        & > img {
            width: 1rem;
            height: 1rem;
        }

        span {
            font-size: 0.875rem;
        }
    }
}

.buttonTrash {
    position: absolute;
    bottom: 0;
    right: 0.75rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 50%;
    background: var(--gray-100);
    cursor: pointer;
    transition: var(--transition);
    transition-property: height, width, background, border-radius;
    overflow: hidden;
    z-index: 3;

    &[data-open="true"] {
        height: calc(1.5rem + 2rem + 2rem);
        width: calc(11.25rem + 1rem);
        background: var(--opacity-white-hard);
        border-radius: 1rem;
    }

    & > img {
        width: 1rem;
        height: 1rem;
    }
}

.buttonDelete {
    max-width: 11.25rem;
    width: 100%;
    height: 2rem;

    span {
        font-size: 0.875rem;
    }
}

[data-theme="dark"] {
    .containerButtons {
        .buttonTrash {
            img {
                filter: invert(1);
            }
        }
    }
}
