//HEADER

.containerHeader {
    width: calc(100%);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .nameAndRating {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            color: var(--gray-900);
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.5px;
        }

        .containerRate {
            padding: 0.25rem 9px;
            display: flex;
            display: inline-flex;
            align-items: center;
            gap: 2px;
            border-radius: 100px;
            border: 1px solid var(--primary-200);
            background: var(--primary-100);

            a {
                color: var(--primary-500);
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: -0.5px;
            }

            .rateGap {
                gap: 2px;
            }
        }
    }

    .containerCanService {
        width: 100%;
        display: inline-flex;
        gap: 6px;
        align-items: flex-start;

        p {
            color: var(--gray-400);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.5px;
        }

        .textCan {
            color: var(--gray-900);
            font-size: 14px;
            line-height: 1.25rem;
        }
    }
}

[data-theme="dark"] {
    .containerRate {
        border-color: var(--gray-500) !important;
        background: var(--gray-100) !important;
    }
}

//containerPhotos

.containerPhotos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    & > [data-photo="true"] {
        padding: 5px;
        cursor: zoom-in;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        & > img {
            border-radius: 0.75rem;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }
    }
}

//containerButtons

.containerButtons {
    position: relative;
    width: 100%;
    padding-left: 12px;
    display: inline-flex;
    align-items: center;
    justify-self: flex-end;
    gap: 10px;

    padding-right: calc(12px + 2rem + 10px);

    .buttonFill {
        height: 2rem;
        z-index: 2;

        span {
            font-size: 14px;
        }
    }
}

.buttonTrash {
    position: absolute;
    bottom: 0;
    right: 0.75rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 50%;
    background: var(--gray-100);
    box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.1);
    cursor: pointer;
    transition: var(--transition);
    transition-property: height, width, background, border-radius;
    overflow: hidden;
    z-index: 3;

    &[data-open="true"] {
        height: calc(1.5rem + 2rem + 2rem);
        width: calc(180px + 1rem);
        background: var(--opacity-white-hard);
        border-radius: 1rem;
    }
}

.buttonDelete {
    max-width: 180px;
    width: 100%;
    height: 2rem;

    span {
        font-size: 14px;
    }
}

[data-theme="dark"] {
    .containerButtons {
        .buttonTrash {
            img {
                filter: invert(1);
            }
        }
    }
}
