.wrapperInsideContainer {
  margin: 0 calc(1.5rem + 24.375rem + 1.5rem) 0 calc(17.5rem + 1.5rem + 1.5rem);

  @media screen and (max-width: 768px) {
    padding-top: calc(var(--height-mobile-header) + 1rem);
    margin: 0;
  }
}

.banner {
  padding-top: calc(1.5rem + var(--height-banner));

  @media screen and (max-width: 768px) {
    padding-top: calc(var(--height-mobile-header) + 2.5rem + var(--height-banner));
  }
}

.default {
  padding-top: 1.5rem;
}

.bannerNotification {
  padding-top: calc(1.5rem + var(--height-banner));
}
