.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;
  padding: 2.25rem 1rem;
  gap: 2.5rem;

  & > article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    & > img {
      aspect-ratio: 654/294;
      height: auto;
      width: 100%;
    }

    h3 {
      color: var(--text-primary);
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 38px;
      letter-spacing: 0px;
    }
  }

  & > button {
    max-width: 240px;
  }
}

[data-tablet="true"] {
  .wrapper {
    article {
      h3 {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    & > button {
      max-width: 100%;
    }
  }
}
