.wrapper {
  z-index: 1011;
  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(2.5px);
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & > section {
    position: relative;
    height: 100%;
    max-width: 38.25rem;
    width: 100%;
    border-radius: 2rem;
    background: var(--BG-second);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > [data-close] {
      top: 0 !important;
      right: -0.25rem !important;
      transform: translateX(100%);
    }

    & > header {
      width: 100%;
      height: 4.875rem;
      padding: 1.5rem 0.75rem 1.25rem;
      z-index: 2;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--grey-separator);

      & > h3 {
        color: var(--text-primary);
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        font-style: normal;
        letter-spacing: -0.3px;
      }
    }

    & > ul {
      width: 100%;
      height: calc(100% - 4.875rem);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      z-index: 2;
      padding-inline: 1.25rem;

      & > h4 {
        width: 100%;
        max-width: 26.25rem;
        max-width: 35rem;
        color: var(--text-secondary);
        text-align: center;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
      }

      & > form {
        width: 100%;
        height: 100%;
        max-width: 26.25rem;
        padding: 1.875rem 0;
        overflow: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;

        & > fieldset {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;

          & > [data-text-area] {
            position: relative;
            width: 100%;

            & > sup {
              position: absolute;
              top: 0.375rem;
              right: 0.75rem;
              color: var(--text-secondary);
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 500;
              line-height: 1.25rem;
            }
          }

          & > label {
            color: var(--text-primary);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;

            & > sup {
              color: var(--text-error);
            }
          }

          & > p {
            color: var(--text-primary);
            font-size: 0.75rem;
            font-weight: 400;
          }

          & > input,
          & > textarea,
          & > [data-text-area] > textarea {
            width: 100%;
            border: 0.0625rem solid var(--grey-stroke-light);
            background: var(--BG-second);
            resize: none;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            color: var(--text-primary);

            transition: var(--transition);
            transition-property: border;

            &::placeholder {
              color: var(--text-secondary);
            }

            &:disabled {
              cursor: no-drop;
            }
          }
          & > textarea,
          & > [data-text-area] > textarea {
            padding: 0.875rem;
            border-radius: 1rem;
          }

          & > [data-text-area] {
            &[data-focus="true"] {
              & > textarea {
                border: 0.0625rem solid var(--text-accent);
              }
            }
          }

          & > i {
            margin-top: -0.3125rem;
            color: var(--text-error);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
          }

          &[data-photos] {
            max-width: 35rem;
            align-items: center;

            & > label {
              max-width: 26.25rem;
              width: 100%;
              text-align: start;
            }

            & > [data-images] {
              width: 100%;
              display: grid;
              justify-content: center;
              gap: 1rem 1rem;
              grid-template-columns: repeat(3, minmax(0, 1fr));

              @media screen and (max-width: 760px) {
                gap: 0.75rem 0.75rem;
                grid-template-columns: repeat(2, minmax(0, 1fr));
              }

              & > [data-image] {
                width: 100%;
                height: auto;
                border-radius: 1rem;
                border: 0.125rem dashed var(--grey-stroke-light);
                background: var(--BG-first);
                aspect-ratio: 152/196;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;

                transition: var(--transition);
                transition-property: border;

                & > [data-trash] {
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  border: none;
                  top: 0.75rem;
                  right: 0.75rem;
                  height: 2rem;
                  width: 2rem;
                  background: var(--BG-second);
                  z-index: 3;
                  cursor: pointer;

                  & > img {
                    height: 1rem;
                    width: 1rem;
                    cursor: pointer;
                  }
                }

                & > [data-img] {
                  width: 100%;
                  height: auto;
                  aspect-ratio: 152/196;
                  object-fit: cover;
                }

                & > [data-plus] {
                  cursor: pointer;
                }
                & > input {
                  cursor: pointer;
                  position: absolute;
                  inset: 0;
                  opacity: 0;
                  z-index: 5;
                }
              }

              &[data-focus="true"] {
                & > [data-image] {
                  border: 0.125rem dashed var(--element-accent);
                }
              }
            }
          }
        }

        & > [data-footer] {
          margin-top: auto;
          max-width: 30.75rem;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.75rem;
        }
      }
    }
  }

  [data-input-selector] {
    position: relative;
    width: 100%;
    height: 2.875rem;
    border-radius: 1.5rem;
    z-index: 3;

    & > input {
      width: 100%;
      height: 2.875rem;
      border: 0.0625rem solid var(--gray-300);
      outline: none !important;
      border-radius: 1.5rem;
      padding: 0 3rem 0 0.875rem;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
      letter-spacing: -0.2px;

      transition: var(--transition);
      transition-property: border;

      &::placeholder {
        color: var(--gray-400);
      }

      &[data-focus="true"] {
        border: 0.0625rem solid var(--primary-500);
      }
    }

    & > ul {
      left: 0;
      right: 0;
      position: absolute;
      top: calc(100% + 0.3125rem);
      overflow: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 0.1875rem;
      width: 100%;
      max-height: 0rem;
      z-index: 20;
      border-radius: 1rem;
      border: 0.0625rem solid var(--stroke-1);
      padding: 0.375rem;
      background: var(--background);

      opacity: 0;
      visibility: hidden;

      transition: var(--transition);
      transition-property: opacity, visibility;

      &[data-active="true"] {
        opacity: 1;
        visibility: visible;
        max-height: 20.625rem;
      }

      & > li {
        padding: 0.375rem;
        background: var(--background-input);
        width: 100%;
        border-radius: 0.625rem;
        cursor: pointer;

        & > span {
          color: var(--color-text);
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.3px;
        }
      }
    }

    & > [data-select-icon] {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.875rem;
      cursor: pointer;
      width: 1.25rem;
      height: 1.25rem;

      & > [data-loading="true"] {
        animation: rotate linear 10s infinite;
      }
    }
  }
}

[data-mobile="true"] {
  .wrapper {
    padding: 0;

    & > section {
      border-radius: 0;
      max-width: 100%;

      & > [data-close] {
        top: 0rem !important;
        right: 0rem !important;
        transform: translateX(0);
        border: none !important;
        background: transparent;
      }

      & > header {
        height: 4.125rem;
        padding: 1rem calc(0.75rem + 2.25rem + 0.5rem);
        & > h3 {
          font-size: 1.25rem;
        }
      }

      & > ul {
        height: calc(100% - 4.125rem);

        & > h4 {
          font-size: 1rem;
          line-height: 1.125rem;
        }

        & > form {
          max-width: 100%;
          gap: 1rem;
          padding: 1.25rem 0;

          & > fieldset {
            max-width: 100%;

            &[data-photos] {
              & > label {
                max-width: 100%;
              }

              & > [data-images] {
              }
            }
          }

          & > [data-footer] {
            max-width: 100%;
          }
        }
      }
    }

    [data-input-selector] {
      background: transparent;
      display: flex;
      flex-direction: column;
      gap: 4px;
      height: fit-content !important;

      & > ul {
        position: static !important;
      }

      & > [data-select-icon] {
        top: 1.375rem;
      }
    }
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
