.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(2.5px);
    padding: 56px 20px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0.01s;

    &.mobile {
        padding: 0;
    }

    &.visible {
        display: flex;
        opacity: 1;
        visibility: visible;
    }
}

.container {
    position: relative;
    height: 100%;
    max-width: 772px;
    width: 100%;
    border-radius: 32px;
    background: var(--background);
    overflow: hidden;

    & > ul {
        padding: 32px 44px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        overflow-y: auto;
        height: calc(100% - 152px - 40px - 42px);
        z-index: 2;
    }

    &.mobile {
        border-radius: 0;
        max-width: 100%;

        & > ul {
            padding: 20px;
        }
    }
}

.headerMobile {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-input);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    z-index: 2;
}

[data-theme="dark"] {
    .wrapper {
        backdrop-filter: blur(4px);
    }
    .headerMobile {
        box-shadow: none;
        img {
            filter: invert(1);
        }
    }
}
