.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--BG-second);
  display: flex;
  flex-direction: column;

  &[data-visible="true"] {
    z-index: 95;
  }

  & > header {
    height: var(--height-mobile-header);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-inline: 1.25rem;
    padding-block: 0.625rem;

    & > button {
      position: absolute;
      z-index: 150;
      left: 1.25rem;
      top: 50%;
      transform: translateY(-50%);
      height: 1.5rem;
      width: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      outline: none;

      & > svg {
        transform: rotate(180deg);
        & > path {
          fill: var(--text-primary);
        }
      }
    }

    & > h3 {
      color: var(--text-primary);
      text-align: center;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.875rem; /* 150% */
    }
  }

  & > ul {
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    height: calc(100% - var(--height-mobile-header));
    padding: 0.625rem 1.25rem calc(4.25rem + 0.625rem);

    & > p {
      color: var(--text-primary);
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; /* 150% */
    }
  }
}
