.container {
    margin: 0 auto;
    max-width: 212px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    p {
        color: var(--gray-500);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.5px;
    }

    .items {
        width: 212px;
        padding: 8px;
        height: 52px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 26px;
        background: var(--background-input);
    }
}
