@mixin class-shadow {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 300px;
  filter: blur(80px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(2.5px);
  z-index: 99;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: all 0.35s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.overviewMobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--supporting-white);
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .contentMobile{
    padding: 28px 28px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    overflow-y: scroll;
    height: calc(100%);
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.modal {
  position: relative;
  max-width: 584px;
  width: 100%;
  height: 100%;
  background-color: wheat;
  flex-shrink: 0;
  border-radius: var(--banner-border-radius);
  background-color: var(--supporting-white);
  z-index: 101;
  overflow: hidden;
  padding-left: 112px;
  padding-right: 112px;
}

.close {
  position: absolute;
  right: 12px;
  top: 12px;
  display: inline-flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--gray-300);
  background: var(--supporting-white);
  box-shadow: 0px 11px 20px 0px rgba(100, 104, 115, 0.10);
  cursor: pointer;
}

.content {
  padding-top: 48px;
  padding-bottom: 48px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 360px;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.orangeCircle {
  @include class-shadow;
  background: rgba(243, 145, 114, 0.32);
  top: 0;
  left: 0;
}

.purpleCircle {
  @include class-shadow;
  background: rgba(135, 92, 255, 0.32);
  top: 50%;
  left: 100%;
}

.lightBlueCircle {
  @include class-shadow;
  background: rgba(100, 220, 246, 0.32);
  top: 100%;
  left: 0;
}