.containerInteractive {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    z-index: 50;

    & > span {
        opacity: 0;
        visibility: hidden;
    }

    .segments {
        position: sticky;
        top: 0px;
        width: 100%;
        z-index: 150;

        &::before {
            content: "";
            position: absolute;
            top: -20px;
            left: -20px;
            right: -20px;
            bottom: -20px;
            background: transparent;
            filter: blur(15px);
            z-index: -1;
            border-radius: 100px;
            transition: var(--transition);
            transition-property: background;
        }

        &.sticky {
            &::before {
                background: rgba(200, 200, 200, 0.5);
            }
        }
    }

    & > footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & > a {
            color: var(--text-secondary);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            letter-spacing: -0.02125rem;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

[data-theme="dark"] {
    .containerInteractive {
        .segments {
            &.sticky {
                &::before {
                    background: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}
