.container {
    display: flex;
    width: min-content;
    padding: 0.25rem 0.375rem 0.25rem 0.25rem;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    border-radius: 1rem;
    height: 2rem;
    background: var(--grey-filed);
    border: 1px solid var(--grey-stroke-light);
    cursor: pointer;

    & > [data-img] {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.75rem;
        background: var(--BG-icons);
        overflow: hidden;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
            aspect-ratio: 1/1;
            width: 1rem;
            height: 1rem;
            border-radius: 0.25rem;
        }
    }

    p {
        max-width: calc(100% - 1.75rem - 0.5rem);
        color: var(--text-primary);
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
        letter-spacing: -0.02125rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
