@mixin element {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.container {
  width: 100%;
  position: relative;


  .input {
    width: 100%;
    display: flex;
    width: 100%;
    padding: 12px 52px 12px 42px;
    height: 52px;
    align-self: stretch;
    border-radius: 100px;
    border: none !important;
    background: var(--background-input) !important;
    outline: none !important;

    &::placeholder {
      color: var(--gray-400);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.25rem;
      letter-spacing: -0.5px;
    }

    &[type="text"] {
      color: var(--gray-900);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.25rem;
      letter-spacing: -0.5px;
    }
  }

  .searchImg {
    @include element;
    left: 16px;
  }

  .filtersDiv {
    @include element;
    right: 6px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: var(--primary-100);
    padding: 10px;
  }
}