.nav {
  position: fixed;
  width: 100%;
  padding: 16px 52px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  border-bottom: 2px solid var(--supporting-white);
  background: rgba(248, 249, 255, 0.46);
  backdrop-filter: blur(1px);

  &.isMobile{
    display: none;
  }
}