.container {
  width: min-content;
  display: flex;
  align-items: center;
  gap: 6px;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}