.isMobileLogo{
  margin-left: -32px;
  margin-top: -2px;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.widthButton{
  min-width: 142px;
}

//Links

.linksWrapper{
  display: inline-flex;

  li{
    position: relative;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &::before{
      content: "";
      position: absolute;
      bottom: calc(-100% - 2px);
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--primary-500, #6656DB);
      box-shadow: 0px 2px 8px 0px rgba(102, 86, 219, 0.49);
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    
    a{
      color: var(--primary-500, #6656DB);
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height:142.857%;
      letter-spacing: -0.5px;
    }
    filter: grayscale(100%) brightness(0%);
    &.active{
      filter: grayscale(0%) brightness(100%);
      &::before{
        transform: scaleX(1);
      }
    }
  }
}