@mixin time0 {
  background-color: #1d0d27;

  & > b,
  & > a > span {
    color: var(--text-tab);
  }

  & > [data-c] {
    &[data-c="1"] {
      background-color: #ff03f5;
    }
    &[data-c="2"] {
      background-color: #7f53ff;
    }
    &[data-c="3"] {
      background-color: #7f53ff;
    }
    &[data-c="4"] {
      background-color: #ff03f5;
    }
  }
}

@mixin time0-dark {
  background-color: #ebcaff;

  & > [data-close] {
    & > [data-svg-x-close] {
      & > path {
        stroke: #98a2b3;
      }
    }
  }
}

@mixin time1 {
  background-color: #6b5ae7;

  & > b,
  & > a > span {
    color: var(--text-button);
  }

  & > a > svg > path {
    fill: var(--text-button);
  }

  & > [data-c] {
    &[data-c="1"] {
      background-color: #35bfd2;
    }
    &[data-c="2"] {
      background-color: #35d2bf;
    }
    &[data-c="3"] {
      background-color: #35bfd2;
    }
    &[data-c="4"] {
      background-color: #35d2bf;
    }
  }
}
@mixin time2 {
  background-color: #a31ad3;

  & > b,
  & > a > span {
    color: var(--text-button);
  }

  & > a > svg > path {
    fill: var(--text-button);
  }

  & > [data-c] {
    &[data-c="1"] {
      background-color: #f11933;
    }
    &[data-c="2"] {
      background-color: #ff1f62;
    }
    &[data-c="3"] {
      background-color: #ff4d77;
    }
    &[data-c="4"] {
      background-color: #ff1e54;
    }
  }
}

.container {
  &[data-time-number="0"] {
    @include time0;
  }
  &[data-time-number="1"] {
    @include time1;
  }
  &[data-time-number="2"] {
    @include time2;
  }
}

[data-theme="dark"] {
  .container {
    &[data-time-number="0"] {
      @include time0-dark;
    }
  }
}

.container {
  position: fixed;
  top: var(--height-header-nav-bar);
  overflow: hidden;
  width: 100%;
  height: var(--height--banner--promotional);
  box-shadow: 0px 0.25rem 1.5rem 0px rgba(3, 2, 34, 0.4);
  z-index: 69;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;

  & > [data-iphone-mobile] {
    display: none;

    & > img {
      display: none;
    }
  }

  & > [data-c] {
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    top: 0;

    z-index: 2;
    filter: blur(60px);

    &[data-c="1"] {
      left: 11%;
      transform: translateX(-50%);
    }
    &[data-c="2"] {
      left: 20%;
      transform: translateX(-50%);
    }
    &[data-c="3"] {
      right: 21%;
      transform: translateX(50%);
    }
    &[data-c="4"] {
      right: 14.8%;
      transform: translateX(50%);
    }
  }

  & > b,
  & > a > span {
    color: var(--text-tab);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    line-height: 1.25rem;
  }

  & > b {
    font-weight: 600;
  }

  & > a {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    & > span {
      font-weight: 400;
    }
    & > svg {
      width: 1rem;
      height: 1rem;

      & > path {
        fill: var(--text-tab);
      }
    }
  }

  & > [data-iphone] {
    position: absolute;
    top: 0;
    height: auto;
    z-index: 3;

    &[data-iphone="1"] {
      left: 4.5%;
      width: 15.3125rem;
      aspect-ratio: 245/44;
      & > img {
        aspect-ratio: 245/44;
      }
    }

    &[data-iphone="2"] {
      right: 14.2%;
      width: 9.375rem;
      aspect-ratio: 150/44;

      & > img {
        aspect-ratio: 150/44;
      }
    }

    & > img {
      width: 100%;
      height: auto;
    }
  }

  & > [data-close] {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.125rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    outline: none;

    & > svg {
      width: 1.25rem;
      height: 1.25rem;

      & > path {
        stroke: #fff;
      }
    }
  }

  & > [data-promotional-badge] {
    right: calc(0.625rem + 1.25rem + 0.625rem);
  }

  @media screen and (max-width: 768px) {
    top: var(--height-mobile-header);
    padding-block: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.125rem;
    padding-left: 1.25rem;

    & > [data-promotional-badge] {
      right: 0.375rem;
    }

    & > a,
    & > b {
      z-index: 5;
      position: relative;
    }

    & > [data-iphone="1"],
    & > [data-iphone="2"] {
      display: none;
      & > img {
        display: none;
      }
    }

    & > [data-iphone-mobile] {
      display: flex;
      position: absolute;
      top: 0;
      z-index: 3;
      right: 2.56rem;
      aspect-ratio: 150/64;
      width: auto;
      height: 100%;

      & > img {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 150/64;
      }
    }

    & > [data-c] {
      width: 11rem;
      height: 11rem;

      & > [data-c="1"] {
        top: -1rem;
        left: 36%;
      }
      & > [data-c="2"] {
        left: auto;
        right: 0.5rem;
        transform: translateX(0);
      }

      & > [data-c="3"],
      & > [data-c="4"] {
        display: none;
      }
    }
  }

  & > [data-close] {
    right: 0;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.625rem 0.625rem 0.875rem 0.875rem;
    top: 0;
    transform: translateY(0);
    z-index: 10;
  }
}
